In [136]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime

In [137]:
# Importing the original understat dataframes and sorting them by date

eng_df = pd.read_excel(r'../EDA_DF/EPL_understat.xlsx',sheet_name='gamesheet')
eng_df = eng_df.sort_values(by='date',ascending=False)
fra_df = pd.read_excel(r'../EDA_DF/Ligue1_understat.xlsx',sheet_name='gamesheet')
fra_df = fra_df.sort_values(by='date',ascending=False)
ger_df = pd.read_excel(r'../EDA_DF/Bundesliga_understat.xlsx',sheet_name='gamesheet')
ger_df = ger_df.sort_values(by='date',ascending=False)
ita_df = pd.read_excel(r'../EDA_DF/SerieA_understat.xlsx',sheet_name='gamesheet')
ita_df = ita_df.sort_values(by='date',ascending=False)
spa_df = pd.read_excel(r'../EDA_DF/LaLiga_understat.xlsx',sheet_name='gamesheet')
spa_df = spa_df.sort_values(by='date',ascending=False)
eng_df

,Unnamed: 0,date,ID,Team,H/A,xG,xGC,G,GC,S,...,played,date_int,match_ID,Rank,0_0,btts_if_g,btts_if_c,win,draw,lose
0,0,2024-03-04 20:00:00,Sheffield United22163,Sheffield United,h,0.201,2.485,0,6,5,...,1,3.898176,22163,1,0,0,0,0,0,1
1,1,2024-03-04 20:00:00,Arsenal22163,Arsenal,a,2.485,0.201,6,0,22,...,1,3.898176,22163,3,0,0,0,1,0,0
2,2,2024-03-03 15:30:00,Manchester City22160,Manchester City,h,2.643,0.154,3,1,27,...,1,5.085676,22160,1,0,0,1,1,0,0
3,3,2024-03-03 15:30:00,Manchester United22160,Manchester United,a,0.154,2.643,1,3,2,...,1,5.085676,22160,1,0,1,0,0,0,1
4,4,2024-03-03 13:00:00,Bournemouth22156,Bournemouth,a,1.436,1.619,2,0,10,...,1,5.189843,22156,3,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
755,755,2023-03-17 20:00:00,Nottingham Forest18479,Nottingham Forest,h,0.533,2.500,1,2,5,...,1,356.898176,18479,2,0,1,0,0,0,1
756,756,2023-03-12 14:00:00,West Ham18471,West Ham,h,2.146,2.046,1,1,17,...,1,362.148176,18471,1,0,0,1,0,1,0
757,757,2023-03-12 14:00:00,Aston Villa18471,Aston Villa,a,2.046,2.146,1,1,12,...,1,362.148176,18471,2,0,1,0,0,1,0
758,758,2023-03-11 15:00:00,Tottenham18470,Tottenham,h,1.735,1.628,3,1,15,...,1,363.106510,18470,3,0,1,0,1,0,0
759,759,2023-03-11 15:00:00,Nottingham Forest18470,Nottingham Forest,a,1.628,1.735,1,3,9,...,1,363.106510,18470,2,0,0,1,0,0,1

In [138]:
# Form DF (Last 10 games)

def last10(df):
    temp_df = df
    temp_df['played'] = 1
    df['Rankvs'] = df['Rank']
    temp_df['date'] = pd.to_datetime(temp_df['date'])
    temp_df['date_int'] = (datetime.datetime.now()) - (temp_df['date'])
    temp_df['0_0'] = temp_df.apply(lambda x: 1 if x['CS'] == 1 and x['Blank'] == 1 else 0, axis = 1)
    temp_df['btts_if_g'] = temp_df.apply(lambda x: 1 if x['first_goal'] == 1 and x['BTTS'] == 1 else 0, axis = 1)
    temp_df['btts_if_c'] = temp_df.apply(lambda x: 1 if x['first_conc'] == 1 and x['BTTS'] == 1 else 0, axis = 1)
    temp_df['win'] = temp_df.apply(lambda x: 1 if x['Pts'] == 3 else 0, axis=1)
    temp_df['draw'] = temp_df.apply(lambda x: 1 if x['Pts'] == 1 else 0, axis=1)
    temp_df['lose'] = temp_df.apply(lambda x: 1 if x['Pts'] == 0 else 0, axis=1)

    temp_df = temp_df.groupby(['Team'],as_index=False).apply(lambda x: x.nsmallest(10, 'date_int'))
    temp_df.reset_index(inplace=True)
    temp_df.drop(['level_0','level_1','date_int','Unnamed: 0'],axis=1,inplace=True)
    return temp_df

eng_l10 = last10(eng_df)
fra_l10 = last10(fra_df)
ger_l10 = last10(ger_df)
ita_l10 = last10(ita_df)
spa_l10 = last10(spa_df)
eng_l10

C:\Users\User\AppData\Local\Temp\ipykernel_20960\410980599.py:16: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  temp_df = temp_df.groupby(['Team'],as_index=False).apply(lambda x: x.nsmallest(10, 'date_int'))
C:\Users\User\AppData\Local\Temp\ipykernel_20960\410980599.py:16: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  temp_df = temp_df.groupby(['Team'],as_index=False).apply(lambda x: x.nsmallest(10, 'date_int'))
C:\Users\User\AppData\Local\Temp\ipykernel_20960\410980599.py:16: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  temp_df = temp_df.groupby(['Team'],as_index=False).apply(lambda x: x.nsmallest(10, 'date_int'))
C:\Users\User\AppData\Local\Temp\ipykernel_20960\410980599.py:16: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  temp_df = temp_df.groupby(['Team'],as_index=False).apply(lambda x: x.nsmallest(10, 'date_int'))
C:\Users\User\AppData\Local\Temp\ipykernel_20960\410980599.py:16: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  temp_df = temp_df.groupby(['Team'],as_index=False).apply(lambda x: x.nsmallest(10, 'date_int'))

,date,ID,Team,H/A,xG,xGC,G,GC,S,SC,...,played,match_ID,Rank,0_0,btts_if_g,btts_if_c,win,draw,lose,Rankvs
0,2024-03-04 20:00:00,Arsenal22163,Arsenal,a,2.485,0.201,6,0,22,5,...,1,22163,3,0,0,0,1,0,0,3
1,2024-02-24 20:00:00,Arsenal22146,Arsenal,h,2.593,0.217,4,1,18,4,...,1,22146,2,0,1,0,1,0,0,2
2,2024-02-17 15:00:00,Arsenal22136,Arsenal,a,2.216,0.335,5,0,16,8,...,1,22136,3,0,0,0,1,0,0,3
3,2024-02-11 14:00:00,Arsenal22133,Arsenal,a,3.999,0.196,6,0,25,5,...,1,22133,2,0,0,0,1,0,0,2
4,2024-02-04 16:30:00,Arsenal22116,Arsenal,h,2.986,0.542,3,1,16,10,...,1,22116,1,0,1,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225,2024-02-01 20:15:00,Wolverhampton Wanderers22111,Wolverhampton Wanderers,h,2.324,3.229,3,4,16,21,...,1,22111,1,0,0,1,0,0,1,1
226,2024-01-22 19:45:00,Wolverhampton Wanderers22095,Wolverhampton Wanderers,a,1.231,1.400,0,0,8,11,...,1,22095,2,1,0,0,0,1,0,2
227,2023-12-30 15:00:00,Wolverhampton Wanderers22094,Wolverhampton Wanderers,h,2.645,0.532,3,0,12,10,...,1,22094,2,0,0,0,1,0,0,2
228,2023-12-27 19:30:00,Wolverhampton Wanderers22077,Wolverhampton Wanderers,a,1.895,2.600,4,1,11,14,...,1,22077,2,0,1,0,1,0,0,2
229,2023-12-24 13:00:00,Wolverhampton Wanderers22073,Wolverhampton Wanderers,h,1.765,1.765,2,1,14,16,...,1,22073,2,0,1,0,1,0,0,2

In [139]:
# Home/Away Tables last 10 games (Form)
eng_r = ['Southampton', 'Leicester','Leeds']
fra_r = ['Angers','Ajaccio','Troyes','Auxerre']
ger_r = ['Schalke 04','Hertha Berlin']
ita_r = ['Sampdoria','Spezia','Cremonese']
spa_r = ['Espanyol','Elche','Real Valladolid']

def home_away_table_form(df,relegated_list):
    # changes to df
    df['match_ID'] = df['ID'].apply(lambda x:x[-5:])
    df['match_ID'] = pd.to_numeric(df['match_ID'])
    df['played'] = 1    
    # new df
    df_h_a = df.groupby(["Team","H/A"]).agg({'played':'sum', 'xG':'sum', 'xGC':'sum','G':'sum', 'GC':'sum', 'Pts':'sum',
                                             'S':'sum', 'SC':'sum', 'QS': 'sum','QSC':'sum',
                                             'BTTS':'sum', 'Blank':'sum', 'CS':'sum','first_goal':'sum','first_conc':'sum',
                                             'btts_if_g':'sum','btts_if_c':'sum','0_0':'sum','Rankvs':'sum'})
    h_a_sep = [x for _, x in df_h_a.groupby("H/A")]
    away_table = h_a_sep[0].droplevel("H/A")
    home_table = h_a_sep[1].droplevel("H/A")
    home_table = home_table.apply(pd.to_numeric)
    away_table = away_table.apply(pd.to_numeric)
    home_table['GD'] = home_table['G'] - home_table['GC']
    away_table['GD'] = away_table['G'] - away_table['GC']
    home_table['sample'] = home_table['played']**2
    away_table['sample'] = home_table['played']**2
    home_table = home_table.iloc[:,1:].div(home_table.played, axis=0)
    away_table = away_table.iloc[:,1:].div(away_table.played, axis=0)
    home_table = home_table[~home_table.index.isin(relegated_list)]
    away_table = away_table[~away_table.index.isin(relegated_list)]


    q1_h = home_table['Pts'].quantile(0.25)
    q1_a = away_table['Pts'].quantile(0.25)
    q3_h = home_table['Pts'].quantile(0.75)
    q3_a = away_table['Pts'].quantile(0.75)
    home_table['Rank'] = home_table.apply(lambda x: 3 if x['Pts'] <= q1_h else( 1 if x['Pts'] >= q3_h else 2), axis=1) 
    away_table['Rank'] = away_table.apply(lambda x: 3 if x['Pts'] <= q1_a else( 1 if x['Pts'] >= q3_a else 2), axis=1) 

    home_table = home_table.sort_values('Pts', ascending=False)
    away_table = away_table.sort_values('Pts', ascending=False)

    return home_table, away_table

eng_l10_table_h,eng_l10_table_a = home_away_table_form(eng_l10,eng_r)
fra_l10_table_h,fra_l10_table_a = home_away_table_form(fra_l10,fra_r)
ger_l10_table_h,ger_l10_table_a = home_away_table_form(ger_l10,ger_r)
ita_l10_table_h,ita_l10_table_a = home_away_table_form(ita_l10,ita_r)
spa_l10_table_h,spa_l10_table_a = home_away_table_form(spa_l10,spa_r)
spa_l10_table_h

,xG,xGC,G,GC,Pts,S,SC,QS,QSC,BTTS,...,CS,first_goal,first_conc,btts_if_g,btts_if_c,0_0,Rankvs,GD,sample,Rank
Team,,,,,,,,,,,,,,,,,,,,,
Atletico Madrid,2.583800,0.474200,2.400000,0.400000,3.000000,12.400000,10.400000,4.600000,0.200000,0.400000,...,0.600000,1.000000,0.000000,0.400000,0.000000,0.000000,2.000000,2.000000,5.0,1
Athletic Club,2.109600,0.863400,2.000000,0.600000,2.600000,12.800000,8.000000,2.600000,1.000000,0.400000,...,0.600000,0.800000,0.000000,0.400000,0.000000,0.200000,1.600000,1.400000,5.0,1
Real Madrid,2.363800,0.854200,2.000000,0.600000,2.600000,16.800000,7.200000,2.600000,1.200000,0.400000,...,0.600000,0.800000,0.200000,0.200000,0.200000,0.000000,2.200000,1.400000,5.0,1
Girona,2.378750,1.207500,3.000000,1.000000,2.500000,13.500000,11.250000,3.500000,2.000000,0.500000,...,0.500000,0.500000,0.250000,0.250000,0.250000,0.250000,1.750000,2.000000,4.0,1
Osasuna,1.541000,1.038200,1.400000,1.000000,2.400000,14.200000,7.000000,2.400000,1.800000,0.200000,...,0.600000,0.800000,0.200000,0.200000,0.000000,0.000000,2.600000,0.400000,5.0,1
Barcelona,2.759400,1.414800,2.800000,2.000000,2.000000,19.000000,10.200000,3.400000,2.000000,0.600000,...,0.400000,0.800000,0.200000,0.400000,0.200000,0.000000,2.400000,0.800000,5.0,2
Valencia,1.361333,1.331167,1.500000,0.833333,2.000000,10.000000,9.333333,2.000000,1.833333,0.666667,...,0.333333,0.666667,0.166667,0.500000,0.166667,0.166667,1.666667,0.666667,6.0,2
Villarreal,2.025000,0.872200,2.000000,1.000000,1.800000,17.000000,10.200000,2.400000,0.800000,0.800000,...,0.200000,0.600000,0.200000,0.600000,0.200000,0.200000,2.800000,1.000000,5.0,2
Mallorca,1.336833,1.083500,1.333333,1.166667,1.666667,12.333333,11.833333,2.000000,1.166667,0.666667,...,0.166667,0.500000,0.500000,0.333333,0.333333,0.000000,1.833333,0.166667,6.0,2
Real Betis,1.486000,1.258333,1.333333,1.166667,1.500000,15.833333,9.500000,2.166667,1.666667,0.666667,...,0.333333,0.333333,0.500000,0.166667,0.500000,0.166667,1.666667,0.166667,6.0,2
Sevilla,1.805200,1.664200,1.400000,1.600000,1.400000,12.400000,14.200000,2.800000,2.000000,0.600000,...,0.200000,0.600000,0.400000,0.400000,0.200000,0.000000,1.600000,-0.200000,5.0,2
Las Palmas,1.052600,1.353800,1.600000,1.000000,1.400000,8.800000,11.600000,1.200000,1.800000,0.600000,...,0.400000,0.800000,0.200000,0.400000,0.200000,0.000000,1.600000,0.600000,5.0,2
Getafe,1.477200,1.965400,1.600000,1.800000,1.400000,9.600000,13.200000,2.200000,3.200000,0.400000,...,0.200000,0.600000,0.400000,0.400000,0.000000,0.000000,2.200000,-0.200000,5.0,2
Celta Vigo,1.266200,1.167200,0.800000,1.000000,1.200000,12.600000,10.400000,1.000000,1.400000,0.400000,...,0.200000,0.200000,0.800000,0.000000,0.400000,0.000000,1.600000,-0.200000,5.0,2
Granada,1.533000,0.940800,0.800000,1.200000,1.000000,13.200000,13.200000,2.000000,1.000000,0.400000,...,0.200000,0.400000,0.600000,0.200000,0.200000,0.000000,2.400000,-0.400000,5.0,3
Alaves,1.207800,1.257400,0.800000,1.200000,1.000000,12.000000,10.600000,1.400000,1.800000,0.600000,...,0.200000,0.600000,0.400000,0.400000,0.200000,0.000000,2.000000,-0.400000,5.0,3
Almeria,1.326500,1.201500,0.500000,1.250000,0.750000,14.500000,11.500000,2.000000,1.250000,0.250000,...,0.500000,0.000000,0.500000,0.000000,0.250000,0.500000,1.500000,-0.750000,4.0,3
Cadiz,1.082800,0.962000,0.600000,1.600000,0.600000,12.400000,9.000000,1.200000,1.400000,0.400000,...,0.400000,0.000000,0.600000,0.000000,0.400000,0.400000,1.800000,-1.000000,5.0,3
Real Sociedad,1.375250,0.861750,0.500000,1.250000,0.500000,16.000000,6.750000,1.500000,1.250000,0.500000,...,0.250000,0.000000,0.750000,0.000000,0.500000,0.250000,2.000000,-0.750000,4.0,3
Rayo Vallecano,1.329000,1.027000,0.600000,1.400000,0.400000,12.400000,10.800000,2.000000,1.400000,0.600000,...,0.000000,0.200000,0.800000,0.200000,0.400000,0.000000,2.000000,-0.800000,5.0,3

In [140]:
# Home/Away Tables rolling season (Historic)

def home_away_table(df):
    # changes to df
    df['match_ID'] = df['ID'].apply(lambda x:x[-5:])
    df['match_ID'] = pd.to_numeric(df['match_ID'])
    df['played'] = 1
    df['0_0'] = df.apply(lambda x: 1 if x['CS'] == 1 and x['Blank'] ==1 else 0, axis = 1)
    # df['btts_if_g'] = df.apply(lambda x: 1 if x['first_goal'] == 1 a 0, axis = 1)
    # df['btts_if_c'] = df.apply(lambda x: 1 if x['first_conc'] == 1 a 0, axis = 1)
    
    # new df
    df_h_a = df.groupby(["Team","H/A"]).agg({'played':'sum', 'xG':'sum', 'xGC':'sum','G':'sum', 'GC':'sum', 'Pts':'sum',
                                             'S':'sum', 'SC':'sum', 'QS': 'sum','QSC':'sum',
                                             'BTTS':'sum', 'Blank':'sum', 'CS':'sum','first_goal':'sum','first_conc':'sum','0_0':'sum'})
    h_a_sep = [x for _, x in df_h_a.groupby("H/A")]
    away_table = h_a_sep[0].droplevel("H/A")
    home_table = h_a_sep[1].droplevel("H/A")
    home_table = home_table.apply(pd.to_numeric)
    away_table = away_table.apply(pd.to_numeric)
    home_table['GD'] = home_table['G'] - home_table['GC']
    away_table['GD'] = away_table['G'] - away_table['GC']
    home_table['sample'] = home_table['played']**2
    away_table['sample'] = home_table['played']**2
    home_table = home_table[~(home_table['played'] <= 10)]
    away_table = away_table[~(away_table['played'] <= 10)]
    home_table = home_table.iloc[:,1:].div(home_table.played, axis=0)
    away_table = away_table.iloc[:,1:].div(away_table.played, axis=0)
    home_table['btts_if_g'] = home_table.apply(lambda x: 0 if x['first_goal'] == 0 else ((x['first_goal']-(x['CS']-x['0_0']))/x['first_goal']), axis = 1)
    away_table['btts_if_g'] = away_table.apply(lambda x: 0 if x['first_goal'] == 0 else ((x['first_goal']-(x['CS']-x['0_0']))/x['first_goal']), axis = 1)
    home_table['btts_if_c'] = home_table.apply(lambda x: 0 if x['first_conc'] == 0 else ((x['first_conc']-(x['Blank']-x['0_0']))/x['first_conc']), axis = 1)
    away_table['btts_if_c'] = away_table.apply(lambda x: 0 if x['first_conc'] == 0 else ((x['first_conc']-(x['Blank']-x['0_0']))/x['first_conc']), axis = 1) 
    q1_h = home_table['Pts'].quantile(0.25)
    q1_a = away_table['Pts'].quantile(0.25)
    q3_h = home_table['Pts'].quantile(0.75)
    q3_a = away_table['Pts'].quantile(0.75)
    home_table['Rank'] = home_table.apply(lambda x: 3 if x['Pts'] <= q1_h else( 1 if x['Pts'] >= q3_h else 2), axis=1) 
    away_table['Rank'] = away_table.apply(lambda x: 3 if x['Pts'] <= q1_a else( 1 if x['Pts'] >= q3_a else 2), axis=1) 
    home_table = home_table.sort_values('Pts', ascending=False)
    away_table = away_table.sort_values('Pts', ascending=False)

    return home_table, away_table

eng_table_h, eng_table_a = home_away_table(eng_df)
fra_table_h, fra_table_a = home_away_table(fra_df)
ger_table_h, ger_table_a = home_away_table(ger_df)
ita_table_h, ita_table_a = home_away_table(ita_df)
spa_table_h, spa_table_a = home_away_table(spa_df)
ger_table_h

,xG,xGC,G,GC,Pts,S,SC,QS,QSC,BTTS,Blank,CS,first_goal,first_conc,0_0,GD,sample,btts_if_g,btts_if_c,Rank
Team,,,,,,,,,,,,,,,,,,,,
Bayer Leverkusen,2.319882,0.960588,2.588235,0.764706,2.470588,16.882353,8.529412,3.117647,1.352941,0.588235,0.058824,0.411765,0.764706,0.176471,0.058824,1.823529,17.0,0.538462,1.000000,1
Bayern Munich,3.079706,0.848235,3.117647,0.823529,2.411765,21.117647,8.058824,4.117647,1.000000,0.470588,0.058824,0.470588,0.882353,0.117647,0.000000,2.294118,17.0,0.466667,0.500000,1
RasenBallsport Leipzig,2.199412,1.187235,2.352941,1.058824,2.235294,17.058824,10.529412,2.529412,1.529412,0.529412,0.176471,0.352941,0.647059,0.294118,0.058824,1.294118,17.0,0.545455,0.600000,1
Borussia Dortmund,2.926278,1.304611,2.722222,1.333333,2.166667,19.333333,10.944444,3.833333,1.722222,0.611111,0.055556,0.333333,0.722222,0.277778,0.000000,1.388889,18.0,0.538462,0.800000,1
VfB Stuttgart,2.650471,1.083647,2.470588,1.058824,2.058824,16.764706,9.705882,3.764706,1.352941,0.705882,0.058824,0.235294,0.588235,0.411765,0.000000,1.411765,17.0,0.600000,0.857143,1
Eintracht Frankfurt,1.805000,1.177875,1.687500,0.937500,1.812500,13.062500,10.312500,2.187500,1.625000,0.687500,0.062500,0.312500,0.500000,0.437500,0.062500,0.750000,16.0,0.500000,1.000000,2
Union Berlin,1.440000,1.539056,1.388889,1.166667,1.722222,12.388889,12.277778,1.833333,2.000000,0.333333,0.333333,0.388889,0.555556,0.388889,0.055556,0.222222,18.0,0.400000,0.285714,2
Borussia M.Gladbach,1.899941,1.322118,1.764706,1.176471,1.647059,15.294118,13.764706,2.411765,1.705882,0.529412,0.235294,0.294118,0.705882,0.235294,0.058824,0.588235,17.0,0.666667,0.250000,2
Freiburg,1.880471,1.588941,1.705882,1.294118,1.588235,14.882353,12.647059,2.235294,2.235294,0.529412,0.176471,0.352941,0.529412,0.411765,0.058824,0.411765,17.0,0.444444,0.714286,2
Bochum,1.886556,1.751611,1.666667,1.555556,1.555556,15.722222,15.611111,2.333333,1.833333,0.777778,0.000000,0.222222,0.722222,0.277778,0.000000,0.111111,18.0,0.692308,1.000000,2
FC Heidenheim,1.349833,1.858917,1.666667,1.583333,1.500000,14.083333,14.166667,1.250000,2.083333,0.666667,0.166667,0.333333,0.500000,0.333333,0.166667,0.083333,12.0,0.666667,1.000000,2
Hoffenheim,1.837059,1.578765,1.882353,1.647059,1.470588,14.352941,13.705882,2.117647,2.235294,0.882353,0.058824,0.058824,0.470588,0.529412,0.000000,0.235294,17.0,0.875000,0.888889,2
Wolfsburg,1.744118,1.439588,1.529412,1.235294,1.411765,13.294118,12.117647,2.294118,2.000000,0.705882,0.117647,0.235294,0.411765,0.529412,0.058824,0.294118,17.0,0.571429,0.888889,2
Augsburg,1.355118,1.720353,1.529412,1.705882,1.294118,11.470588,14.588235,1.588235,2.294118,0.823529,0.117647,0.058824,0.470588,0.529412,0.000000,-0.176471,17.0,0.875000,0.777778,3
Werder Bremen,1.438750,1.547063,1.500000,1.562500,1.187500,12.125000,12.312500,1.812500,2.062500,0.687500,0.125000,0.187500,0.437500,0.562500,0.000000,-0.062500,16.0,0.571429,0.777778,3
Mainz 05,1.388706,1.327059,1.058824,1.588235,0.882353,14.529412,10.529412,1.588235,1.882353,0.647059,0.235294,0.117647,0.411765,0.588235,0.000000,-0.529412,17.0,0.714286,0.600000,3
FC Cologne,1.389059,1.743529,0.941176,1.411765,0.823529,14.882353,12.117647,1.411765,2.352941,0.470588,0.470588,0.176471,0.352941,0.529412,0.117647,-0.470588,17.0,0.833333,0.333333,3
Darmstadt,1.336462,1.882154,1.000000,2.384615,0.461538,13.769231,13.692308,1.615385,2.846154,0.538462,0.461538,0.076923,0.153846,0.769231,0.076923,-1.384615,13.0,1.000000,0.500000,3

In [142]:
# Apply rank to overall dataframe, and then group in tables by rank like in home vs away
def rank_to_df(rank_df_h,rank_df_a,df):
    rank_df_h['Team index'] = rank_df_h.index
    rank_df_a['Team index'] = rank_df_a.index

    rank1_h = rank_df_h.loc[rank_df_h['Rank'] == 1, ['Team index']].values.T.tolist()
    rank2_h = rank_df_h.loc[rank_df_h['Rank'] == 2, ['Team index']].values.T.tolist()
    rank3_h = rank_df_h.loc[rank_df_h['Rank'] == 3, ['Team index']].values.T.tolist()
    rank1_a = rank_df_a.loc[rank_df_a['Rank'] == 1, ['Team index']].values.T.tolist()
    rank2_a = rank_df_a.loc[rank_df_a['Rank'] == 2, ['Team index']].values.T.tolist()
    rank3_a = rank_df_a.loc[rank_df_a['Rank'] == 3, ['Team index']].values.T.tolist()

    df['Rankvs'] = df.apply(lambda x: 1 if x['H/A'] =="a" and x['Opp'] in rank1_h[0] else(1 if x['H/A'] == "h" and x['Opp'] in rank1_a[0] else
                                                                                     (2 if x['H/A'] == "a" and x['Opp'] in rank2_h[0] else
                                                                                      (2 if x['H/A'] == "h" and x['Opp'] in rank2_a[0] else
                                                                                       (3 if x['H/A'] == "a" and x['Opp'] in rank3_h[0] else 3
                                                                                       )))), axis=1) 
    
    df['Rank'] = df.apply(lambda x: 1 if x['H/A'] =="h" and x['Team'] in rank1_h[0] else(1 if x['H/A'] == "a" and x['Team'] in rank1_a[0] else
                                                                                     (2 if x['H/A'] == "h" and x['Team'] in rank2_h[0] else
                                                                                      (2 if x['H/A'] == "a" and x['Team'] in rank2_a[0] else
                                                                                       (3 if x['H/A'] == "h" and x['Team'] in rank3_h[0] else 3
                                                                                       )))), axis=1) 
    df['win'] = df.apply(lambda x: 1 if x['Pts'] == 3 else 0, axis=1)
    df['draw'] = df.apply(lambda x: 1 if x['Pts'] == 1 else 0, axis=1)
    df['lose'] = df.apply(lambda x: 1 if x['Pts'] == 0 else 0, axis=1)
    df.drop(['Unnamed: 0'],axis=1,inplace=True)


    
    return df

eng_df_updated = rank_to_df(eng_table_h,eng_table_a,eng_df)
fra_df_updated = rank_to_df(fra_table_h,fra_table_a,fra_df)
ger_df_updated = rank_to_df(ger_table_h,ger_table_a,ger_df)
ita_df_updated = rank_to_df(ita_table_h,ita_table_a,ita_df)
spa_df_updated = rank_to_df(spa_table_h,spa_table_a,spa_df)
eng_df_updated

,date,ID,Team,H/A,xG,xGC,G,GC,S,SC,...,date_int,match_ID,Rank,0_0,btts_if_g,btts_if_c,win,draw,lose,Rankvs
0,2024-03-04 20:00:00,Sheffield United22163,Sheffield United,h,0.201,2.485,0,6,5,22,...,3 days 22:27:48.254902,22163,3,0,0,0,0,0,1,1
1,2024-03-04 20:00:00,Arsenal22163,Arsenal,a,2.485,0.201,6,0,22,5,...,3 days 22:27:48.254902,22163,1,0,0,0,1,0,0,3
2,2024-03-03 15:30:00,Manchester City22160,Manchester City,h,2.643,0.154,3,1,27,2,...,5 days 02:57:48.254902,22160,1,0,0,1,1,0,0,1
3,2024-03-03 15:30:00,Manchester United22160,Manchester United,a,0.154,2.643,1,3,2,27,...,5 days 02:57:48.254902,22160,1,0,1,0,0,0,1,1
4,2024-03-03 13:00:00,Bournemouth22156,Bournemouth,a,1.436,1.619,2,0,10,20,...,5 days 05:27:48.254902,22156,2,0,0,0,1,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
755,2023-03-17 20:00:00,Nottingham Forest18479,Nottingham Forest,h,0.533,2.500,1,2,5,15,...,356 days 22:27:48.254902,18479,2,0,1,0,0,0,1,2
756,2023-03-12 14:00:00,West Ham18471,West Ham,h,2.146,2.046,1,1,17,12,...,362 days 04:27:48.254902,18471,2,0,0,1,0,1,0,1
757,2023-03-12 14:00:00,Aston Villa18471,Aston Villa,a,2.046,2.146,1,1,12,17,...,362 days 04:27:48.254902,18471,1,0,1,0,0,1,0,2
758,2023-03-11 15:00:00,Tottenham18470,Tottenham,h,1.735,1.628,3,1,15,9,...,363 days 03:27:48.254902,18470,2,0,1,0,1,0,0,3
759,2023-03-11 15:00:00,Nottingham Forest18470,Nottingham Forest,a,1.628,1.735,1,3,9,15,...,363 days 03:27:48.254902,18470,3,0,0,1,0,0,1,2

In [146]:
def home_away_df(df):
    df_h = df[df['H/A'] == "h"]
    df_a = df[df['H/A'] == "a"]
    return df_h,df_a

eng_home,eng_away = home_away_df(eng_df)
fra_home,fra_away = home_away_df(fra_df)
ger_home,ger_away = home_away_df(ger_df)
ita_home,ita_away = home_away_df(ita_df)
spa_home,spa_away = home_away_df(spa_df)


def home_away_rank_df(df_h,df_a):
    df1_h = df_h[df_h['Rankvs'] == 1]
    df2_h = df_h[df_h['Rankvs'] == 2]
    df3_h = df_h[df_h['Rankvs'] == 3]
    
    df1_a = df_a[df_a['Rankvs'] == 1]
    df2_a = df_a[df_a['Rankvs'] == 2]
    df3_a = df_a[df_a['Rankvs'] == 3]
    return df1_h, df2_h, df3_h,df1_a,df2_a,df3_a

eng_r1_h_df, eng_r2_h_df, eng_r3_h_df, eng_r1_a_df, eng_r2_a_df,eng_r3_a_df = home_away_rank_df(eng_home,eng_away)
fra_r1_h_df, fra_r2_h_df, fra_r3_h_df, fra_r1_a_df, fra_r2_a_df,fra_r3_a_df = home_away_rank_df(fra_home,fra_away)
ger_r1_h_df, ger_r2_h_df, ger_r3_h_df, ger_r1_a_df, ger_r2_a_df,ger_r3_a_df = home_away_rank_df(ger_home,ger_away)
ita_r1_h_df, ita_r2_h_df, ita_r3_h_df, ita_r1_a_df, ita_r2_a_df,ita_r3_a_df = home_away_rank_df(ita_home,ita_away)
spa_r1_h_df, spa_r2_h_df, spa_r3_h_df, spa_r1_a_df, spa_r2_a_df,spa_r3_a_df = home_away_rank_df(spa_home,spa_away)
spa_r2_a_df

,date,ID,Team,H/A,xG,xGC,G,GC,S,SC,...,date_int,match_ID,Rank,0_0,btts_if_g,btts_if_c,win,draw,lose,Rankvs
1,2024-03-04 20:00:00,Alaves22954,Alaves,a,1.145,1.716,0,1,10,15,...,3 days 22:27:48.504118,22954,2,0,0,0,0,0,1,2
5,2024-03-03 17:30:00,Girona22950,Girona,a,1.086,0.944,0,1,15,16,...,5 days 00:57:48.504118,22950,1,0,0,0,0,0,1,2
9,2024-03-03 13:00:00,Granada22953,Granada,a,0.277,3.084,1,5,9,16,...,5 days 05:27:48.504118,22953,3,0,0,1,0,0,1,2
11,2024-03-02 20:00:00,Real Madrid22951,Real Madrid,a,1.458,1.349,2,2,10,11,...,5 days 22:27:48.504118,22951,1,0,0,1,0,1,0,2
13,2024-03-02 17:30:00,Las Palmas22947,Las Palmas,a,1.372,2.410,3,3,14,16,...,6 days 00:57:48.504118,22947,2,0,0,1,0,1,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,2023-04-15 12:00:00,Real Valladolid19246,Real Valladolid,a,2.415,1.995,2,1,14,22,...,328 days 06:27:48.504118,19246,3,0,1,0,1,0,0,2
745,2023-04-09 14:15:00,Cadiz19233,Cadiz,a,2.859,1.588,2,0,15,8,...,334 days 04:12:48.504118,19233,3,0,0,0,1,0,0,2
751,2023-04-08 16:30:00,Getafe19241,Getafe,a,0.244,2.181,0,2,6,11,...,335 days 01:57:48.504118,19241,2,0,0,0,0,0,1,2
755,2023-04-08 12:00:00,Elche19239,Elche,a,0.658,1.690,1,2,7,22,...,335 days 06:27:48.504118,19239,3,0,1,0,0,0,1,2
756,2023-04-07 19:00:00,Celta Vigo19238,Celta Vigo,a,0.611,0.475,2,2,9,7,...,335 days 23:27:48.504118,19238,3,0,0,1,0,1,0,2

In [147]:
def home_away_rank_table(df):
    # changes to df
    df['match_ID'] = df['ID'].apply(lambda x:x[-5:])
    df['match_ID'] = pd.to_numeric(df['match_ID'])
    df['played'] = 1
    
    # new df
    df_h_a = df.groupby(["Team","H/A","Rank"]).agg({'played':'sum', 'xG':'sum', 'xGC':'sum','G':'sum', 'GC':'sum', 'Pts':'sum',
                                             'S':'sum', 'SC':'sum', 'QS': 'sum','QSC':'sum',
                                             'BTTS':'sum', 'Blank':'sum', 'CS':'sum','first_goal':'sum','first_conc':'sum',
                                             '0_0':'sum'})
    h_a_sep = [x for _, x in df_h_a.groupby(["H/A","Rank"])]
    r1_h_table = h_a_sep[3].droplevel("H/A")
    r2_h_table = h_a_sep[4].droplevel("H/A")
    r3_h_table = h_a_sep[5].droplevel("H/A")
    r1_a_table = h_a_sep[0].droplevel("H/A")
    r2_a_table = h_a_sep[1].droplevel("H/A")
    r3_a_table = h_a_sep[2].droplevel("H/A")

    r1_h_table = r1_h_table.apply(pd.to_numeric)
    r2_h_table = r2_h_table.apply(pd.to_numeric)
    r3_h_table = r3_h_table.apply(pd.to_numeric)
    r1_a_table = r1_a_table.apply(pd.to_numeric)
    r2_a_table = r2_a_table.apply(pd.to_numeric)
    r3_a_table = r3_a_table.apply(pd.to_numeric)
   
    r1_h_table['GD'] = r1_h_table['G'] - r1_h_table['GC']
    r2_h_table['GD'] = r2_h_table['G'] - r2_h_table['GC']
    r3_h_table['GD'] = r3_h_table['G'] - r3_h_table['GC']
    r1_a_table['GD'] = r1_a_table['G'] - r1_a_table['GC']
    r2_a_table['GD'] = r2_a_table['G'] - r2_a_table['GC']
    r3_a_table['GD'] = r3_a_table['G'] - r3_a_table['GC']

    r1_h_table['sample'] = r1_h_table['played'] ** 2
    r2_h_table['sample'] = r2_h_table['played'] ** 2
    r3_h_table['sample'] = r3_h_table['played'] ** 2
    r1_a_table['sample'] = r1_a_table['played'] ** 2
    r2_a_table['sample'] = r2_a_table['played'] ** 2
    r3_a_table['sample'] = r3_a_table['played'] ** 2

    r1_h_table = r1_h_table.iloc[:,1:].div(r1_h_table.played, axis=0)
    r2_h_table = r2_h_table.iloc[:,1:].div(r2_h_table.played, axis=0)
    r3_h_table = r3_h_table.iloc[:,1:].div(r3_h_table.played, axis=0)
    r1_a_table = r1_a_table.iloc[:,1:].div(r1_a_table.played, axis=0)
    r2_a_table = r2_a_table.iloc[:,1:].div(r2_a_table.played, axis=0)
    r3_a_table = r3_a_table.iloc[:,1:].div(r3_a_table.played, axis=0)

    r1_h_table['btts_if_g'] = r1_h_table.apply(lambda x: 0 if x['first_goal'] == 0 else ((x['first_goal']-(x['CS']-x['0_0']))/x['first_goal']), axis = 1)
    r2_h_table['btts_if_g'] = r2_h_table.apply(lambda x: 0 if x['first_goal'] == 0 else ((x['first_goal']-(x['CS']-x['0_0']))/x['first_goal']), axis = 1)
    r3_h_table['btts_if_g'] = r3_h_table.apply(lambda x: 0 if x['first_goal'] == 0 else ((x['first_goal']-(x['CS']-x['0_0']))/x['first_goal']), axis = 1)
    r1_a_table['btts_if_g'] = r1_a_table.apply(lambda x: 0 if x['first_goal'] == 0 else ((x['first_goal']-(x['CS']-x['0_0']))/x['first_goal']), axis = 1)
    r2_a_table['btts_if_g'] = r2_a_table.apply(lambda x: 0 if x['first_goal'] == 0 else ((x['first_goal']-(x['CS']-x['0_0']))/x['first_goal']), axis = 1)
    r3_a_table['btts_if_g'] = r3_a_table.apply(lambda x: 0 if x['first_goal'] == 0 else ((x['first_goal']-(x['CS']-x['0_0']))/x['first_goal']), axis = 1)
    r1_h_table['btts_if_c'] = r1_h_table.apply(lambda x: 0 if x['first_conc'] == 0 else ((x['first_conc']-(x['Blank']-x['0_0']))/x['first_conc']), axis = 1)
    r2_h_table['btts_if_c'] = r2_h_table.apply(lambda x: 0 if x['first_conc'] == 0 else ((x['first_conc']-(x['Blank']-x['0_0']))/x['first_conc']), axis = 1)
    r3_h_table['btts_if_c'] = r3_h_table.apply(lambda x: 0 if x['first_conc'] == 0 else ((x['first_conc']-(x['Blank']-x['0_0']))/x['first_conc']), axis = 1)
    r1_a_table['btts_if_c'] = r1_a_table.apply(lambda x: 0 if x['first_conc'] == 0 else ((x['first_conc']-(x['Blank']-x['0_0']))/x['first_conc']), axis = 1)
    r2_a_table['btts_if_c'] = r2_a_table.apply(lambda x: 0 if x['first_conc'] == 0 else ((x['first_conc']-(x['Blank']-x['0_0']))/x['first_conc']), axis = 1)
    r3_a_table['btts_if_c'] = r3_a_table.apply(lambda x: 0 if x['first_conc'] == 0 else ((x['first_conc']-(x['Blank']-x['0_0']))/x['first_conc']), axis = 1)

    r1_h_table['home?'] = 1
    r2_h_table['home?'] = 1
    r3_h_table['home?'] = 1
    r1_a_table['home?'] = 0
    r2_a_table['home?'] = 0
    r3_a_table['home?'] = 0

    r1_h_table = r1_h_table.sort_values('Pts', ascending=False)
    r2_h_table = r2_h_table.sort_values('Pts', ascending=False)
    r3_h_table = r3_h_table.sort_values('Pts', ascending=False)
    r1_a_table = r1_a_table.sort_values('Pts', ascending=False)
    r2_a_table = r2_a_table.sort_values('Pts', ascending=False)
    r3_a_table = r3_a_table.sort_values('Pts', ascending=False)

    return r1_h_table, r2_h_table, r3_h_table, r1_a_table, r2_a_table, r3_a_table

r1_h_eng,r2_h_eng,r3_h_eng,r1_a_eng,r2_a_eng,r3_a_eng = home_away_rank_table(eng_df_updated)
r1_h_fra,r2_h_fra,r3_h_fra,r1_a_fra,r2_a_fra,r3_a_fra = home_away_rank_table(fra_df_updated)
r1_h_ger,r2_h_ger,r3_h_ger,r1_a_ger,r2_a_ger,r3_a_ger = home_away_rank_table(ger_df_updated)
r1_h_ita,r2_h_ita,r3_h_ita,r1_a_ita,r2_a_ita,r3_a_ita = home_away_rank_table(ita_df_updated)
r1_h_spa,r2_h_spa,r3_h_spa,r1_a_spa,r2_a_spa,r3_a_spa = home_away_rank_table(spa_df_updated)
r2_h_spa

,,xG,xGC,G,GC,Pts,S,SC,QS,QSC,BTTS,Blank,CS,first_goal,first_conc,0_0,GD,sample,btts_if_g,btts_if_c,home?
Team,Rank,,,,,,,,,,,,,,,,,,,,
Real Sociedad,2,1.640211,1.013842,1.578947,1.000000,1.894737,13.052632,9.789474,2.210526,1.315789,0.526316,0.210526,0.368421,0.631579,0.263158,0.105263,0.578947,19.0,0.583333,0.600000,1
Getafe,2,1.524444,1.287111,1.222222,0.944444,1.833333,12.166667,11.666667,2.166667,1.777778,0.444444,0.277778,0.444444,0.500000,0.333333,0.166667,0.277778,18.0,0.444444,0.666667,1
Valencia,2,1.339556,1.090889,1.277778,0.777778,1.833333,11.444444,8.444444,1.722222,1.388889,0.444444,0.222222,0.444444,0.555556,0.333333,0.111111,0.500000,18.0,0.400000,0.666667,1
Osasuna,2,1.474650,1.211250,1.350000,1.200000,1.800000,13.700000,9.850000,1.850000,1.600000,0.450000,0.250000,0.350000,0.550000,0.400000,0.050000,0.150000,20.0,0.454545,0.500000,1
Real Betis,2,1.660400,1.012200,1.300000,0.800000,1.750000,13.950000,10.300000,2.350000,1.150000,0.500000,0.250000,0.400000,0.500000,0.350000,0.150000,0.500000,20.0,0.500000,0.714286,1
Las Palmas,2,1.093769,1.261077,1.307692,0.769231,1.692308,9.615385,10.846154,1.230769,1.615385,0.538462,0.153846,0.384615,0.692308,0.230769,0.076923,0.538462,13.0,0.555556,0.666667,1
Mallorca,2,1.139684,0.952579,1.157895,0.736842,1.684211,9.947368,11.947368,1.789474,0.894737,0.473684,0.263158,0.421053,0.526316,0.315789,0.157895,0.421053,19.0,0.500000,0.666667,1
Villarreal,2,2.216150,1.525900,2.050000,1.600000,1.450000,16.000000,13.400000,3.000000,2.000000,0.850000,0.100000,0.100000,0.450000,0.500000,0.050000,0.450000,20.0,0.888889,0.900000,1
Alaves,2,1.635385,1.107308,1.076923,1.230769,1.384615,13.769231,10.230769,2.153846,1.461538,0.461538,0.307692,0.230769,0.538462,0.461538,0.000000,-0.153846,13.0,0.571429,0.333333,1
Sevilla,2,1.656750,1.425900,1.400000,1.500000,1.250000,15.250000,11.050000,2.250000,2.050000,0.700000,0.200000,0.150000,0.550000,0.400000,0.050000,-0.100000,20.0,0.818182,0.625000,1

In [148]:
with pd.ExcelWriter("../EDA_DF/EPL_understat.xlsx") as writer:
    eng_df_updated.to_excel(writer, sheet_name="gamesheet")
    r1_h_eng.to_excel(writer, sheet_name="rank1_home")
    r2_h_eng.to_excel(writer, sheet_name="rank2_home")
    r3_h_eng.to_excel(writer, sheet_name="rank3_home")
    r1_a_eng.to_excel(writer, sheet_name="rank1_away")
    r2_a_eng.to_excel(writer, sheet_name="rank2_away")
    r3_a_eng.to_excel(writer, sheet_name="rank3_away")
    eng_r1_h_df.to_excel(writer, sheet_name="versus_rank1_home_df")
    eng_r2_h_df.to_excel(writer, sheet_name="versus_rank2_home_df")
    eng_r3_h_df.to_excel(writer, sheet_name="versus_rank3_home_df")
    eng_r1_a_df.to_excel(writer, sheet_name="versus_rank1_away_df")
    eng_r2_a_df.to_excel(writer, sheet_name="versus_rank2_away_df")
    eng_r3_a_df.to_excel(writer, sheet_name="versus_rank3_away_df")
    eng_l10.to_excel(writer, sheet_name='last10_gamesheet')
    eng_l10_table_h.to_excel(writer, sheet_name="last10_home")
    eng_l10_table_a.to_excel(writer, sheet_name="last10_away")
    eng_table_h.to_excel(writer, sheet_name="home")
    eng_table_a.to_excel(writer, sheet_name="away")

with pd.ExcelWriter("../EDA_DF/Ligue1_understat.xlsx") as writer:
    fra_df_updated.to_excel(writer, sheet_name="gamesheet")
    r1_h_fra.to_excel(writer, sheet_name="rank1_home")
    r2_h_fra.to_excel(writer, sheet_name="rank2_home")
    r3_h_fra.to_excel(writer, sheet_name="rank3_home")
    r1_a_fra.to_excel(writer, sheet_name="rank1_away")
    r2_a_fra.to_excel(writer, sheet_name="rank2_away")
    r3_a_fra.to_excel(writer, sheet_name="rank3_away")
    fra_r1_h_df.to_excel(writer, sheet_name="versus_rank1_home_df")
    fra_r2_h_df.to_excel(writer, sheet_name="versus_rank2_home_df")
    fra_r3_h_df.to_excel(writer, sheet_name="versus_rank3_home_df")
    fra_r1_a_df.to_excel(writer, sheet_name="versus_rank1_away_df")
    fra_r2_a_df.to_excel(writer, sheet_name="versus_rank2_away_df")
    fra_r3_a_df.to_excel(writer, sheet_name="versus_rank3_away_df")
    fra_l10.to_excel(writer, sheet_name='last10_gamesheet')
    fra_l10_table_h.to_excel(writer, sheet_name="last10_home")
    fra_l10_table_a.to_excel(writer, sheet_name="last10_away")
    fra_table_h.to_excel(writer, sheet_name="home")
    fra_table_a.to_excel(writer, sheet_name="away")

with pd.ExcelWriter("../EDA_DF/Bundesliga_understat.xlsx") as writer:
    ger_df_updated.to_excel(writer, sheet_name="gamesheet")
    r1_h_ger.to_excel(writer, sheet_name="rank1_home")
    r2_h_ger.to_excel(writer, sheet_name="rank2_home")
    r3_h_ger.to_excel(writer, sheet_name="rank3_home")
    r1_a_ger.to_excel(writer, sheet_name="rank1_away")
    r2_a_ger.to_excel(writer, sheet_name="rank2_away")
    r3_a_ger.to_excel(writer, sheet_name="rank3_away")
    ger_r1_h_df.to_excel(writer, sheet_name="versus_rank1_home_df")
    ger_r2_h_df.to_excel(writer, sheet_name="versus_rank2_home_df")
    ger_r3_h_df.to_excel(writer, sheet_name="versus_rank3_home_df")
    ger_r1_a_df.to_excel(writer, sheet_name="versus_rank1_away_df")
    ger_r2_a_df.to_excel(writer, sheet_name="versus_rank2_away_df")
    ger_r3_a_df.to_excel(writer, sheet_name="versus_rank3_away_df")
    ger_l10.to_excel(writer, sheet_name='last10_gamesheet')
    ger_l10_table_h.to_excel(writer, sheet_name="last10_home")
    ger_l10_table_a.to_excel(writer, sheet_name="last10_away")
    ger_table_h.to_excel(writer, sheet_name="home")
    ger_table_a.to_excel(writer, sheet_name="away")

with pd.ExcelWriter("../EDA_DF/SerieA_understat.xlsx") as writer:
    ita_df_updated.to_excel(writer, sheet_name="gamesheet")
    r1_h_ita.to_excel(writer, sheet_name="rank1_home")
    r2_h_ita.to_excel(writer, sheet_name="rank2_home")
    r3_h_ita.to_excel(writer, sheet_name="rank3_home")
    r1_a_ita.to_excel(writer, sheet_name="rank1_away")
    r2_a_ita.to_excel(writer, sheet_name="rank2_away")
    r3_a_ita.to_excel(writer, sheet_name="rank3_away")
    ita_r1_h_df.to_excel(writer, sheet_name="versus_rank1_home_df")
    ita_r2_h_df.to_excel(writer, sheet_name="versus_rank2_home_df")
    ita_r3_h_df.to_excel(writer, sheet_name="versus_rank3_home_df")
    ita_r1_a_df.to_excel(writer, sheet_name="versus_rank1_away_df")
    ita_r2_a_df.to_excel(writer, sheet_name="versus_rank2_away_df")
    ita_r3_a_df.to_excel(writer, sheet_name="versus_rank3_away_df")
    ita_l10.to_excel(writer, sheet_name='last10_gamesheet')
    ita_l10_table_h.to_excel(writer, sheet_name="last10_home")
    ita_l10_table_a.to_excel(writer, sheet_name="last10_away")
    ita_table_h.to_excel(writer, sheet_name="home")
    ita_table_a.to_excel(writer, sheet_name="away")
    
with pd.ExcelWriter("../EDA_DF/LaLiga_understat.xlsx") as writer:
    spa_df_updated.to_excel(writer, sheet_name="gamesheet")
    r1_h_spa.to_excel(writer, sheet_name="rank1_home")
    r2_h_spa.to_excel(writer, sheet_name="rank2_home")
    r3_h_spa.to_excel(writer, sheet_name="rank3_home")
    r1_a_spa.to_excel(writer, sheet_name="rank1_away")
    r2_a_spa.to_excel(writer, sheet_name="rank2_away")
    r3_a_spa.to_excel(writer, sheet_name="rank3_away")
    spa_r1_h_df.to_excel(writer, sheet_name="versus_rank1_home_df")
    spa_r2_h_df.to_excel(writer, sheet_name="versus_rank2_home_df")
    spa_r3_h_df.to_excel(writer, sheet_name="versus_rank3_home_df")
    spa_r1_a_df.to_excel(writer, sheet_name="versus_rank1_away_df")
    spa_r2_a_df.to_excel(writer, sheet_name="versus_rank2_away_df")
    spa_r3_a_df.to_excel(writer, sheet_name="versus_rank3_away_df")
    spa_l10.to_excel(writer, sheet_name='last10_gamesheet')
    spa_l10_table_h.to_excel(writer, sheet_name="last10_home")
    spa_l10_table_a.to_excel(writer, sheet_name="last10_away")
    spa_table_h.to_excel(writer, sheet_name="home")
    spa_table_a.to_excel(writer, sheet_name="away")

PermissionError: [Errno 13] Permission denied: '../EDA_DF/EPL_understat.xlsx'