In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime

C:\Users\User\AppData\Local\Temp\ipykernel_20960\2829297590.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [13]:
# Importing the original understat dataframes and sorting them by date

eng_df = pd.read_excel(r'../EDA_DF/EPL_understat.xlsx',sheet_name='gamesheet')
eng_df = eng_df.sort_values(by='date',ascending=False)
fra_df = pd.read_excel(r'../EDA_DF/Ligue1_understat.xlsx',sheet_name='gamesheet')
fra_df = fra_df.sort_values(by='date',ascending=False)
ger_df = pd.read_excel(r'../EDA_DF/Bundesliga_understat.xlsx',sheet_name='gamesheet')
ger_df = ger_df.sort_values(by='date',ascending=False)
ita_df = pd.read_excel(r'../EDA_DF/SerieA_understat.xlsx',sheet_name='gamesheet')
ita_df = ita_df.sort_values(by='date',ascending=False)
spa_df = pd.read_excel(r'../EDA_DF/LaLiga_understat.xlsx',sheet_name='gamesheet')
spa_df = spa_df.sort_values(by='date',ascending=False)

In [16]:
# Form DF (Last 10 games)

def last10(df):
    temp_df = df
    temp_df['played'] = 1
    temp_df['date'] = pd.to_datetime(temp_df['date'])
    temp_df['date_int'] = (datetime.datetime.now()) - (temp_df['date'])
    temp_df = temp_df.groupby(['Team'],as_index=False).apply(lambda x: x.nsmallest(10, 'date_int'))
    temp_df.reset_index(inplace=True)
    temp_df.drop(['level_0','level_1','date_int','Unnamed: 0.2','Unnamed: 0.1','Unnamed: 0'],axis=1,inplace=True)
    return temp_df

eng_l10 = last10(eng_df)
fra_l10 = last10(fra_df)
ger_l10 = last10(ger_df)
ita_l10 = last10(ita_df)
spa_l10 = last10(spa_df)
eng_l10

C:\Users\User\AppData\Local\Temp\ipykernel_20960\3913960886.py:8: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  temp_df = temp_df.groupby(['Team'],as_index=False).apply(lambda x: x.nsmallest(10, 'date_int'))
C:\Users\User\AppData\Local\Temp\ipykernel_20960\3913960886.py:8: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  temp_df = temp_df.groupby(['Team'],as_index=False).apply(lambda x: x.nsmallest(10, 'date_int'))
C:\Users\User\AppData\Local\Temp\ipykernel_20960\3913960886.py:8: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  temp_df = temp_df.groupby(['Team'],as_index=False).apply(lambda x: x.nsmallest(10, 'date_int'))
C:\Users\User\AppData\Local\Temp\ipykernel_20960\3913960886.py:8: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  temp_df = temp_df.groupby(['Team'],as_index=False).apply(lambda x: x.nsmallest(10, 'date_int'))
C:\Users\User\AppData\Local\Temp\ipykernel_20960\3913960886.py:8: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  temp_df = temp_df.groupby(['Team'],as_index=False).apply(lambda x: x.nsmallest(10, 'date_int'))

,date,ID,Team,H/A,xG,xGC,G,GC,S,SC,...,Pts,Opp,BTTS,Blank,CS,first_goal,first_conc,played,match_ID,Rank
0,2024-03-04 20:00:00,Arsenal22163,Arsenal,a,2.485,0.201,6,0,22,5,...,3,Sheffield United,0,0,1,1,0,1,22163,3
1,2024-02-24 20:00:00,Arsenal22146,Arsenal,h,2.593,0.217,4,1,18,4,...,3,Newcastle United,1,0,0,1,0,1,22146,2
2,2024-02-17 15:00:00,Arsenal22136,Arsenal,a,2.216,0.335,5,0,16,8,...,3,Burnley,0,0,1,1,0,1,22136,3
3,2024-02-11 14:00:00,Arsenal22133,Arsenal,a,3.999,0.196,6,0,25,5,...,3,West Ham,0,0,1,1,0,1,22133,2
4,2024-02-04 16:30:00,Arsenal22116,Arsenal,h,2.986,0.542,3,1,16,10,...,3,Liverpool,1,0,0,1,0,1,22116,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225,2024-02-01 20:15:00,Wolverhampton Wanderers22111,Wolverhampton Wanderers,h,2.324,3.229,3,4,16,21,...,0,Manchester United,1,0,0,0,1,1,22111,1
226,2024-01-22 19:45:00,Wolverhampton Wanderers22095,Wolverhampton Wanderers,a,1.231,1.400,0,0,8,11,...,1,Brighton,0,1,1,0,0,1,22095,2
227,2023-12-30 15:00:00,Wolverhampton Wanderers22094,Wolverhampton Wanderers,h,2.645,0.532,3,0,12,10,...,3,Everton,0,0,1,1,0,1,22094,2
228,2023-12-27 19:30:00,Wolverhampton Wanderers22077,Wolverhampton Wanderers,a,1.895,2.600,4,1,11,14,...,3,Brentford,1,0,0,1,0,1,22077,2
229,2023-12-24 13:00:00,Wolverhampton Wanderers22073,Wolverhampton Wanderers,h,1.765,1.765,2,1,14,16,...,3,Chelsea,1,0,0,1,0,1,22073,2

In [24]:
# Home/Away Tables last 10 games (Form)

def home_away_table_form(df):
    # changes to df
    df['match_ID'] = df['ID'].apply(lambda x:x[-5:])
    df['match_ID'] = pd.to_numeric(df['match_ID'])
    df['played'] = 1
    
    # new df
    df_h_a = df.groupby(["Team","H/A"]).agg({'played':'sum', 'xG':'sum', 'xGC':'sum','G':'sum', 'GC':'sum', 'Pts':'sum',
                                             'S':'sum', 'SC':'sum', 'QS': 'sum','QSC':'sum',
                                             'BTTS':'sum', 'Blank':'sum', 'CS':'sum','first_goal':'sum','first_conc':'sum'})
    h_a_sep = [x for _, x in df_h_a.groupby("H/A")]
    away_table = h_a_sep[0].droplevel("H/A")
    home_table = h_a_sep[1].droplevel("H/A")
    home_table = home_table.apply(pd.to_numeric)
    away_table = away_table.apply(pd.to_numeric)
    home_table['GD'] = home_table['G'] - home_table['GC']
    away_table['GD'] = away_table['G'] - away_table['GC']
    home_table['sample'] = home_table['played']**2
    away_table['sample'] = home_table['played']**2
    home_table = home_table.iloc[:,1:].div(home_table.played, axis=0)
    away_table = away_table.iloc[:,1:].div(away_table.played, axis=0)

    home_table = home_table.sort_values('Pts', ascending=False)
    away_table = away_table.sort_values('Pts', ascending=False)

    return home_table, away_table

eng_l10_table_h,eng_l10_table_a = home_away_table_form(eng_l10)
fra_l10_table_h,fra_l10_table_a = home_away_table_form(fra_l10)
ger_l10_table_h,ger_l10_table_a = home_away_table_form(ger_l10)
ita_l10_table_h,ita_l10_table_a = home_away_table_form(ita_l10)
spa_l10_table_h,spa_l10_table_a = home_away_table_form(spa_l10)
eng_l10_table_h

,xG,xGC,G,GC,Pts,S,SC,QS,QSC,BTTS,Blank,CS,first_goal,first_conc,GD,sample
Team,,,,,,,,,,,,,,,,
Manchester City,2.275000,0.740333,2.000000,0.500000,2.666667,22.500000,5.666667,2.666667,1.000000,0.500000,0.000000,0.500000,0.666667,0.333333,1.500000,6.0
Liverpool,3.727600,0.870400,3.200000,1.200000,2.600000,25.800000,8.600000,5.000000,1.400000,1.000000,0.000000,0.000000,0.600000,0.400000,2.000000,5.0
Tottenham,2.275500,1.462833,2.333333,1.333333,2.500000,14.833333,12.333333,3.333333,2.000000,1.000000,0.000000,0.000000,0.333333,0.666667,1.000000,6.0
Arsenal,3.006000,0.661250,3.000000,1.000000,2.250000,21.250000,8.250000,5.000000,0.500000,0.500000,0.250000,0.250000,0.750000,0.250000,2.000000,4.0
Chelsea,2.615000,1.149250,1.750000,1.250000,2.250000,14.250000,11.750000,4.250000,1.000000,0.500000,0.000000,0.500000,1.000000,0.000000,0.500000,4.0
Crystal Palace,1.512600,0.950200,2.200000,1.400000,2.000000,12.800000,10.400000,1.600000,1.200000,0.800000,0.000000,0.200000,0.600000,0.400000,0.800000,5.0
Brighton,2.235000,0.957750,2.250000,1.000000,2.000000,15.500000,10.000000,3.250000,0.750000,0.750000,0.250000,0.250000,0.500000,0.250000,1.250000,4.0
Wolverhampton Wanderers,1.802000,1.606400,1.800000,1.400000,1.800000,14.400000,13.600000,2.000000,2.000000,0.400000,0.200000,0.400000,0.600000,0.400000,0.400000,5.0
Manchester United,1.269500,1.371000,2.250000,1.500000,1.750000,13.750000,16.250000,1.250000,0.750000,0.750000,0.000000,0.250000,0.500000,0.500000,0.750000,4.0
Fulham,1.646667,1.725167,1.500000,1.000000,1.666667,15.500000,15.500000,2.333333,2.500000,0.500000,0.333333,0.333333,0.333333,0.500000,0.500000,6.0
West Ham,1.221200,1.887800,1.400000,1.800000,1.600000,9.800000,16.200000,1.600000,2.600000,0.400000,0.400000,0.400000,0.400000,0.400000,-0.400000,5.0
Aston Villa,2.479600,1.963000,2.000000,2.000000,1.400000,16.400000,11.000000,3.200000,3.000000,1.000000,0.000000,0.000000,0.400000,0.600000,0.000000,5.0
Leicester,1.876000,1.723200,1.200000,1.600000,1.400000,12.200000,18.000000,2.400000,1.600000,0.600000,0.400000,0.000000,0.200000,0.800000,-0.400000,5.0
Luton,2.435167,1.965500,1.833333,1.833333,1.000000,17.333333,12.666667,2.666667,2.500000,0.666667,0.000000,0.333333,0.333333,0.666667,0.000000,6.0
Newcastle United,2.484000,2.191400,2.400000,2.400000,1.000000,16.200000,15.400000,3.200000,2.400000,0.800000,0.000000,0.200000,0.600000,0.400000,0.000000,5.0
Nottingham Forest,1.131333,1.049167,1.500000,1.666667,1.000000,11.333333,14.333333,1.666667,0.833333,0.666667,0.166667,0.166667,0.500000,0.500000,-0.166667,6.0
Bournemouth,1.257500,1.075750,1.000000,1.500000,1.000000,12.250000,11.250000,1.500000,1.250000,0.250000,0.500000,0.250000,0.500000,0.500000,-0.500000,4.0
Brentford,1.977600,2.109600,1.600000,3.000000,0.800000,12.600000,16.000000,3.000000,3.600000,1.000000,0.000000,0.000000,0.200000,0.800000,-1.400000,5.0
Everton,2.258400,1.495600,1.000000,1.800000,0.600000,14.400000,14.000000,3.400000,1.600000,0.800000,0.200000,0.200000,0.400000,0.400000,-0.800000,5.0
Leeds,1.509800,2.484200,1.200000,3.600000,0.400000,13.000000,14.600000,1.800000,3.400000,1.000000,0.000000,0.000000,0.600000,0.400000,-2.400000,5.0
Burnley,1.092200,1.518000,0.600000,2.400000,0.400000,12.400000,14.800000,1.400000,1.200000,0.400000,0.600000,0.000000,0.200000,0.800000,-1.800000,5.0
Sheffield United,1.922400,2.501600,0.800000,4.200000,0.200000,13.200000,17.600000,2.800000,2.800000,0.400000,0.600000,0.000000,0.000000,1.000000,-3.400000,5.0
Southampton,0.627600,2.043800,1.000000,2.600000,0.200000,9.200000,15.400000,0.400000,3.000000,0.400000,0.600000,0.000000,0.000000,1.000000,-1.600000,5.0

In [26]:
# Home/Away Tables rolling season (Historic)

def home_away_table(df):
    # changes to df
    df['match_ID'] = df['ID'].apply(lambda x:x[-5:])
    df['match_ID'] = pd.to_numeric(df['match_ID'])
    df['played'] = 1
    
    # new df
    df_h_a = df.groupby(["Team","H/A"]).agg({'played':'sum', 'xG':'sum', 'xGC':'sum','G':'sum', 'GC':'sum', 'Pts':'sum',
                                             'S':'sum', 'SC':'sum', 'QS': 'sum','QSC':'sum',
                                             'BTTS':'sum', 'Blank':'sum', 'CS':'sum','first_goal':'sum','first_conc':'sum'})
    h_a_sep = [x for _, x in df_h_a.groupby("H/A")]
    away_table = h_a_sep[0].droplevel("H/A")
    home_table = h_a_sep[1].droplevel("H/A")
    home_table = home_table.apply(pd.to_numeric)
    away_table = away_table.apply(pd.to_numeric)
    home_table['GD'] = home_table['G'] - home_table['GC']
    away_table['GD'] = away_table['G'] - away_table['GC']
    home_table['sample'] = home_table['played']**2
    away_table['sample'] = home_table['played']**2
    home_table = home_table[~(home_table['played'] <= 10)]
    away_table = away_table[~(away_table['played'] <= 10)]
    home_table = home_table.iloc[:,1:].div(home_table.played, axis=0)
    away_table = away_table.iloc[:,1:].div(away_table.played, axis=0)
    home_table = home_table.sort_values('Pts', ascending=False)
    away_table = away_table.sort_values('Pts', ascending=False)

    return home_table, away_table

eng_table_h, eng_table_a = home_away_table(eng_df)
fra_table_h, fra_table_a = home_away_table(fra_df)
ger_table_h, ger_table_a = home_away_table(ger_df)
ita_table_h, ita_table_a = home_away_table(ita_df)
spa_table_h, spa_table_a = home_away_table(spa_df)
ger_table_h

,xG,xGC,G,GC,Pts,S,SC,QS,QSC,BTTS,Blank,CS,first_goal,first_conc,GD,sample
Team,,,,,,,,,,,,,,,,
Bayer Leverkusen,2.319882,0.960588,2.588235,0.764706,2.470588,16.882353,8.529412,3.117647,1.352941,0.588235,0.058824,0.411765,0.764706,0.176471,1.823529,17.0
Bayern Munich,3.079706,0.848235,3.117647,0.823529,2.411765,21.117647,8.058824,4.117647,1.000000,0.470588,0.058824,0.470588,0.882353,0.117647,2.294118,17.0
RasenBallsport Leipzig,2.199412,1.187235,2.352941,1.058824,2.235294,17.058824,10.529412,2.529412,1.529412,0.529412,0.176471,0.352941,0.647059,0.294118,1.294118,17.0
Borussia Dortmund,2.926278,1.304611,2.722222,1.333333,2.166667,19.333333,10.944444,3.833333,1.722222,0.611111,0.055556,0.333333,0.722222,0.277778,1.388889,18.0
VfB Stuttgart,2.650471,1.083647,2.470588,1.058824,2.058824,16.764706,9.705882,3.764706,1.352941,0.705882,0.058824,0.235294,0.588235,0.411765,1.411765,17.0
Eintracht Frankfurt,1.805000,1.177875,1.687500,0.937500,1.812500,13.062500,10.312500,2.187500,1.625000,0.687500,0.062500,0.312500,0.500000,0.437500,0.750000,16.0
Union Berlin,1.440000,1.539056,1.388889,1.166667,1.722222,12.388889,12.277778,1.833333,2.000000,0.333333,0.333333,0.388889,0.555556,0.388889,0.222222,18.0
Borussia M.Gladbach,1.899941,1.322118,1.764706,1.176471,1.647059,15.294118,13.764706,2.411765,1.705882,0.529412,0.235294,0.294118,0.705882,0.235294,0.588235,17.0
Freiburg,1.880471,1.588941,1.705882,1.294118,1.588235,14.882353,12.647059,2.235294,2.235294,0.529412,0.176471,0.352941,0.529412,0.411765,0.411765,17.0
Bochum,1.886556,1.751611,1.666667,1.555556,1.555556,15.722222,15.611111,2.333333,1.833333,0.777778,0.000000,0.222222,0.722222,0.277778,0.111111,18.0
FC Heidenheim,1.349833,1.858917,1.666667,1.583333,1.500000,14.083333,14.166667,1.250000,2.083333,0.666667,0.166667,0.333333,0.500000,0.333333,0.083333,12.0
Hoffenheim,1.837059,1.578765,1.882353,1.647059,1.470588,14.352941,13.705882,2.117647,2.235294,0.882353,0.058824,0.058824,0.470588,0.529412,0.235294,17.0
Wolfsburg,1.744118,1.439588,1.529412,1.235294,1.411765,13.294118,12.117647,2.294118,2.000000,0.705882,0.117647,0.235294,0.411765,0.529412,0.294118,17.0
Augsburg,1.355118,1.720353,1.529412,1.705882,1.294118,11.470588,14.588235,1.588235,2.294118,0.823529,0.117647,0.058824,0.470588,0.529412,-0.176471,17.0
Werder Bremen,1.438750,1.547063,1.500000,1.562500,1.187500,12.125000,12.312500,1.812500,2.062500,0.687500,0.125000,0.187500,0.437500,0.562500,-0.062500,16.0
Mainz 05,1.388706,1.327059,1.058824,1.588235,0.882353,14.529412,10.529412,1.588235,1.882353,0.647059,0.235294,0.117647,0.411765,0.588235,-0.529412,17.0
FC Cologne,1.389059,1.743529,0.941176,1.411765,0.823529,14.882353,12.117647,1.411765,2.352941,0.470588,0.470588,0.176471,0.352941,0.529412,-0.470588,17.0
Darmstadt,1.336462,1.882154,1.000000,2.384615,0.461538,13.769231,13.692308,1.615385,2.846154,0.538462,0.461538,0.076923,0.153846,0.769231,-1.384615,13.0

In [29]:
# Rank Finder (Strength of Opponent)

def find_ranks(home_df,away_df):
    q1_h = home_df['Pts'].quantile(0.25)
    q1_a = away_df['Pts'].quantile(0.25)
    q3_h = home_df['Pts'].quantile(0.75)
    q3_a = away_df['Pts'].quantile(0.75)
    home_df['Rank'] = home_df.apply(lambda x: 3 if x['Pts'] <= q1_h else( 1 if x['Pts'] >= q3_h else 2), axis=1) 
    away_df['Rank'] = away_df.apply(lambda x: 3 if x['Pts'] <= q1_a else( 1 if x['Pts'] >= q3_a else 2), axis=1) 

    return home_df,away_df

eng_rank_table_h,eng_rank_table_a = find_ranks(eng_table_h,eng_table_a)
fra_rank_table_h,fra_rank_table_a = find_ranks(fra_table_h,fra_table_a)
ger_rank_table_h,ger_rank_table_a = find_ranks(ger_table_h,ger_table_a)
ita_rank_table_h,ita_rank_table_a = find_ranks(ita_table_h,ita_table_a)
spa_rank_table_h,spa_rank_table_a = find_ranks(spa_table_h,spa_table_a)
ger_rank_table_a

,xG,xGC,G,GC,Pts,S,SC,QS,QSC,BTTS,Blank,CS,first_goal,first_conc,GD,sample,Rank
Team,,,,,,,,,,,,,,,,,
Bayer Leverkusen,1.825059,1.196765,1.823529,0.764706,2.235294,15.235294,10.647059,2.235294,1.647059,0.411765,0.176471,0.529412,0.588235,0.294118,1.058824,17.000000,1
Bayern Munich,2.384588,1.192294,1.941176,1.588235,1.882353,16.941176,11.058824,3.294118,1.352941,0.705882,0.058824,0.235294,0.705882,0.294118,0.352941,17.000000,1
VfB Stuttgart,1.811882,1.462882,1.705882,1.705882,1.647059,12.764706,12.058824,2.705882,1.705882,0.647059,0.235294,0.117647,0.529412,0.470588,0.000000,17.000000,1
Borussia Dortmund,2.117250,1.756437,2.062500,1.250000,1.625000,14.187500,14.937500,2.937500,2.187500,0.687500,0.062500,0.312500,0.625000,0.312500,0.812500,20.250000,1
RasenBallsport Leipzig,1.867647,1.240765,1.647059,1.470588,1.529412,14.823529,11.823529,2.411765,1.529412,0.588235,0.176471,0.235294,0.411765,0.588235,0.176471,17.000000,1
Hoffenheim,1.381294,1.995118,1.705882,1.705882,1.470588,10.882353,17.588235,1.764706,2.294118,0.823529,0.117647,0.058824,0.529412,0.470588,0.000000,17.000000,2
FC Cologne,1.336824,2.220765,1.000000,1.823529,1.058824,10.000000,15.411765,1.882353,2.882353,0.647059,0.294118,0.058824,0.529412,0.470588,-0.823529,17.000000,2
Eintracht Frankfurt,1.321500,1.875222,1.277778,1.888889,1.000000,9.944444,14.500000,1.777778,2.222222,0.611111,0.277778,0.111111,0.333333,0.666667,-0.611111,14.222222,2
Freiburg,1.186412,1.919765,1.000000,1.941176,1.000000,9.529412,15.529412,1.529412,2.176471,0.588235,0.235294,0.235294,0.470588,0.470588,-0.941176,17.000000,2
Werder Bremen,1.176111,1.891611,1.277778,1.666667,0.944444,10.833333,17.555556,1.444444,2.388889,0.611111,0.222222,0.166667,0.444444,0.555556,-0.388889,14.222222,2
Wolfsburg,1.183471,1.750882,1.058824,2.000000,0.882353,11.823529,14.058824,1.470588,2.235294,0.529412,0.352941,0.117647,0.470588,0.529412,-0.941176,17.000000,2
FC Heidenheim,1.177500,2.336000,1.166667,1.916667,0.833333,9.333333,17.500000,1.500000,2.583333,0.750000,0.166667,0.083333,0.333333,0.666667,-0.750000,12.000000,2
Augsburg,1.311471,1.965412,1.411765,1.823529,0.823529,12.176471,14.882353,1.529412,2.705882,0.588235,0.352941,0.058824,0.235294,0.764706,-0.411765,17.000000,2
Union Berlin,1.077063,1.785312,0.812500,1.750000,0.687500,11.437500,14.625000,1.375000,2.250000,0.375000,0.500000,0.187500,0.187500,0.750000,-0.937500,20.250000,3
Mainz 05,1.254235,1.683706,0.941176,1.823529,0.647059,11.470588,13.764706,1.705882,2.176471,0.588235,0.352941,0.176471,0.294118,0.588235,-0.882353,17.000000,3
Borussia M.Gladbach,1.371882,2.524353,1.529412,2.294118,0.647059,11.235294,19.176471,2.117647,2.941176,0.823529,0.176471,0.117647,0.352941,0.529412,-0.764706,17.000000,3
Darmstadt,0.900727,2.520727,1.000000,2.454545,0.636364,11.181818,18.363636,0.909091,3.727273,0.636364,0.363636,0.090909,0.272727,0.636364,-1.454545,15.363636,3
Bochum,1.121438,2.579250,0.812500,2.375000,0.625000,11.875000,16.750000,1.500000,3.312500,0.625000,0.375000,0.125000,0.187500,0.687500,-1.562500,20.250000,3

In [31]:
# Apply rank to overall dataframe, and then group in tables by rank like in home vs away
def rank_to_df(rank_df_h,rank_df_a,df):
    rank_df_h['Team index'] = rank_df_h.index
    rank_df_a['Team index'] = rank_df_a.index

    rank1_h = rank_df_h.loc[rank_df_h['Rank'] == 1, ['Team index']].values.T.tolist()
    rank2_h = rank_df_h.loc[rank_df_h['Rank'] == 2, ['Team index']].values.T.tolist()
    rank3_h = rank_df_h.loc[rank_df_h['Rank'] == 3, ['Team index']].values.T.tolist()
    rank1_a = rank_df_a.loc[rank_df_a['Rank'] == 1, ['Team index']].values.T.tolist()
    rank2_a = rank_df_a.loc[rank_df_a['Rank'] == 2, ['Team index']].values.T.tolist()
    rank3_a = rank_df_a.loc[rank_df_a['Rank'] == 3, ['Team index']].values.T.tolist()

    df['Rank'] = df.apply(lambda x: 1 if x['H/A'] =="a" and x['Opp'] in rank1_h[0] else(1 if x['H/A'] == "h" and x['Opp'] in rank1_a[0] else
                                                                                     (2 if x['H/A'] == "a" and x['Opp'] in rank2_h[0] else
                                                                                      (2 if x['H/A'] == "h" and x['Opp'] in rank2_a[0] else
                                                                                       (3 if x['H/A'] == "a" and x['Opp'] in rank3_h[0] else 3
                                                                                       )))), axis=1) 
    df.drop(['Unnamed: 0.2','Unnamed: 0.1','Unnamed: 0'],axis=1,inplace=True)

    
    return df

eng_df_updated = rank_to_df(eng_rank_table_h,eng_rank_table_a,eng_df)
fra_df_updated = rank_to_df(fra_rank_table_h,fra_rank_table_a,fra_df)
ger_df_updated = rank_to_df(ger_rank_table_h,ger_rank_table_a,ger_df)
ita_df_updated = rank_to_df(ita_rank_table_h,ita_rank_table_a,ita_df)
spa_df_updated = rank_to_df(spa_rank_table_h,spa_rank_table_a,spa_df)
eng_df_updated

,date,ID,Team,H/A,xG,xGC,G,GC,S,SC,...,Opp,BTTS,Blank,CS,first_goal,first_conc,played,date_int,match_ID,Rank
0,2024-03-04 20:00:00,Sheffield United22163,Sheffield United,h,0.201,2.485,0,6,5,22,...,Arsenal,0,1,0,0,1,1,2 days 20:37:04.310215,22163,1
1,2024-03-04 20:00:00,Arsenal22163,Arsenal,a,2.485,0.201,6,0,22,5,...,Sheffield United,0,0,1,1,0,1,2 days 20:37:04.310215,22163,3
2,2024-03-03 15:30:00,Manchester City22160,Manchester City,h,2.643,0.154,3,1,27,2,...,Manchester United,1,0,0,0,1,1,4 days 01:07:04.310215,22160,1
3,2024-03-03 15:30:00,Manchester United22160,Manchester United,a,0.154,2.643,1,3,2,27,...,Manchester City,1,0,0,1,0,1,4 days 01:07:04.310215,22160,1
4,2024-03-03 13:00:00,Bournemouth22156,Bournemouth,a,1.436,1.619,2,0,10,20,...,Burnley,0,0,1,1,0,1,4 days 03:37:04.310215,22156,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
755,2023-03-17 20:00:00,Nottingham Forest18479,Nottingham Forest,h,0.533,2.500,1,2,5,15,...,Newcastle United,1,0,0,1,0,1,355 days 20:37:04.310215,18479,2
756,2023-03-12 14:00:00,West Ham18471,West Ham,h,2.146,2.046,1,1,17,12,...,Aston Villa,1,0,0,0,1,1,361 days 02:37:04.310215,18471,1
757,2023-03-12 14:00:00,Aston Villa18471,Aston Villa,a,2.046,2.146,1,1,12,17,...,West Ham,1,0,0,1,0,1,361 days 02:37:04.310215,18471,2
758,2023-03-11 15:00:00,Tottenham18470,Tottenham,h,1.735,1.628,3,1,15,9,...,Nottingham Forest,1,0,0,1,0,1,362 days 01:37:04.310215,18470,3
759,2023-03-11 15:00:00,Nottingham Forest18470,Nottingham Forest,a,1.628,1.735,1,3,9,15,...,Tottenham,1,0,0,0,1,1,362 days 01:37:04.310215,18470,2

In [35]:
def home_away_rank_table(df):
    # changes to df
    df['match_ID'] = df['ID'].apply(lambda x:x[-5:])
    df['match_ID'] = pd.to_numeric(df['match_ID'])
    df['played'] = 1
    
    # new df
    df_h_a = df.groupby(["Team","H/A","Rank"]).agg({'played':'sum', 'xG':'sum', 'xGC':'sum','G':'sum', 'GC':'sum', 'Pts':'sum',
                                             'S':'sum', 'SC':'sum', 'QS': 'sum','QSC':'sum',
                                             'BTTS':'sum', 'Blank':'sum', 'CS':'sum','first_goal':'sum','first_conc':'sum'})
    h_a_sep = [x for _, x in df_h_a.groupby(["H/A","Rank"])]
    r1_h_table = h_a_sep[3].droplevel("H/A")
    r2_h_table = h_a_sep[4].droplevel("H/A")
    r3_h_table = h_a_sep[5].droplevel("H/A")
    r1_a_table = h_a_sep[0].droplevel("H/A")
    r2_a_table = h_a_sep[1].droplevel("H/A")
    r3_a_table = h_a_sep[2].droplevel("H/A")

    r1_h_table = r1_h_table.apply(pd.to_numeric)
    r2_h_table = r2_h_table.apply(pd.to_numeric)
    r3_h_table = r3_h_table.apply(pd.to_numeric)
    r1_a_table = r1_a_table.apply(pd.to_numeric)
    r2_a_table = r2_a_table.apply(pd.to_numeric)
    r3_a_table = r3_a_table.apply(pd.to_numeric)
   
    r1_h_table['GD'] = r1_h_table['G'] - r1_h_table['GC']
    r2_h_table['GD'] = r2_h_table['G'] - r2_h_table['GC']
    r3_h_table['GD'] = r3_h_table['G'] - r3_h_table['GC']
    r1_a_table['GD'] = r1_a_table['G'] - r1_a_table['GC']
    r2_a_table['GD'] = r2_a_table['G'] - r2_a_table['GC']
    r3_a_table['GD'] = r3_a_table['G'] - r3_a_table['GC']

    r1_h_table['sample'] = r1_h_table['played'] ** 2
    r2_h_table['sample'] = r2_h_table['played'] ** 2
    r3_h_table['sample'] = r3_h_table['played'] ** 2
    r1_a_table['sample'] = r1_a_table['played'] ** 2
    r2_a_table['sample'] = r2_a_table['played'] ** 2
    r3_a_table['sample'] = r3_a_table['played'] ** 2

    r1_h_table = r1_h_table.iloc[:,1:].div(r1_h_table.played, axis=0)
    r2_h_table = r2_h_table.iloc[:,1:].div(r2_h_table.played, axis=0)
    r3_h_table = r3_h_table.iloc[:,1:].div(r3_h_table.played, axis=0)
    r1_a_table = r1_a_table.iloc[:,1:].div(r1_a_table.played, axis=0)
    r2_a_table = r2_a_table.iloc[:,1:].div(r2_a_table.played, axis=0)
    r3_a_table = r3_a_table.iloc[:,1:].div(r3_a_table.played, axis=0)

    r1_h_table['home?'] = 1
    r2_h_table['home?'] = 1
    r3_h_table['home?'] = 1
    r1_a_table['home?'] = 0
    r2_a_table['home?'] = 0
    r3_a_table['home?'] = 0

    r1_h_table = r1_h_table.sort_values('Pts', ascending=False)
    r2_h_table = r2_h_table.sort_values('Pts', ascending=False)
    r3_h_table = r3_h_table.sort_values('Pts', ascending=False)
    r1_a_table = r1_a_table.sort_values('Pts', ascending=False)
    r2_a_table = r2_a_table.sort_values('Pts', ascending=False)
    r3_a_table = r3_a_table.sort_values('Pts', ascending=False)

    return r1_h_table, r2_h_table, r3_h_table, r1_a_table, r2_a_table, r3_a_table

r1_h_eng,r2_h_eng,r3_h_eng,r1_a_eng,r2_a_eng,r3_a_eng = home_away_rank_table(eng_df_updated)
r1_h_fra,r2_h_fra,r3_h_fra,r1_a_fra,r2_a_fra,r3_a_fra = home_away_rank_table(fra_df_updated)
r1_h_ger,r2_h_ger,r3_h_ger,r1_a_ger,r2_a_ger,r3_a_ger = home_away_rank_table(ger_df_updated)
r1_h_ita,r2_h_ita,r3_h_ita,r1_a_ita,r2_a_ita,r3_a_ita = home_away_rank_table(ita_df_updated)
r1_h_spa,r2_h_spa,r3_h_spa,r1_a_spa,r2_a_spa,r3_a_spa = home_away_rank_table(spa_df_updated)
r2_h_spa

,,xG,xGC,G,GC,Pts,S,SC,QS,QSC,BTTS,Blank,CS,first_goal,first_conc,GD,sample,home?
Team,Rank,,,,,,,,,,,,,,,,,
Atletico Madrid,2,2.547556,0.764667,2.555556,0.777778,2.777778,13.444444,12.444444,4.111111,0.555556,0.555556,0.000000,0.444444,0.888889,0.111111,1.777778,9.0,1
Barcelona,2,2.469700,1.052500,2.300000,0.600000,2.700000,16.200000,9.600000,3.500000,1.300000,0.200000,0.000000,0.800000,0.800000,0.200000,1.700000,10.0,1
Real Madrid,2,2.292273,0.805818,2.181818,0.727273,2.363636,18.636364,9.181818,3.000000,1.090909,0.545455,0.090909,0.454545,0.818182,0.090909,1.454545,11.0,1
Girona,2,1.840889,1.249556,2.555556,1.000000,2.333333,10.777778,11.333333,2.777778,2.111111,0.555556,0.000000,0.444444,0.666667,0.333333,1.555556,9.0,1
Las Palmas,2,1.147833,0.984000,1.666667,0.500000,2.166667,9.500000,11.166667,1.333333,1.166667,0.333333,0.166667,0.500000,0.666667,0.333333,1.166667,6.0,1
Osasuna,2,1.500429,1.147286,1.285714,1.000000,2.000000,12.571429,10.857143,2.142857,1.571429,0.428571,0.285714,0.428571,0.571429,0.285714,0.285714,7.0,1
Espanyol,2,2.769000,1.609500,2.000000,1.500000,2.000000,21.500000,11.500000,3.000000,3.000000,0.500000,0.000000,0.500000,0.500000,0.500000,0.500000,2.0,1
Mallorca,2,1.136182,0.961000,1.272727,0.636364,1.909091,9.181818,11.818182,1.909091,0.909091,0.363636,0.363636,0.454545,0.454545,0.363636,0.636364,11.0,1
Real Betis,2,1.562300,0.909200,1.200000,0.500000,1.900000,11.600000,11.000000,2.300000,0.800000,0.400000,0.300000,0.500000,0.600000,0.200000,0.700000,10.0,1
Getafe,2,1.618375,1.079875,1.375000,1.125000,1.875000,13.375000,9.875000,2.125000,1.625000,0.500000,0.250000,0.375000,0.500000,0.375000,0.250000,8.0,1
Real Sociedad,2,1.502700,0.785300,1.400000,1.100000,1.800000,13.200000,8.100000,2.000000,0.900000,0.600000,0.300000,0.300000,0.400000,0.400000,0.300000,10.0,1
Elche,2,1.954750,0.993750,1.500000,0.750000,1.750000,15.250000,10.250000,2.750000,1.250000,0.250000,0.250000,0.500000,0.500000,0.500000,0.750000,4.0,1
Athletic Club,2,1.784625,0.816500,1.875000,1.000000,1.750000,13.000000,8.875000,2.375000,0.875000,0.375000,0.250000,0.375000,0.625000,0.375000,0.875000,8.0,1
Valencia,2,1.584143,0.882571,1.285714,0.857143,1.571429,11.714286,7.000000,2.142857,1.142857,0.428571,0.285714,0.428571,0.428571,0.428571,0.428571,7.0,1
Cadiz,2,1.294556,1.022889,1.111111,1.333333,1.333333,12.555556,11.444444,1.222222,1.333333,0.555556,0.333333,0.222222,0.444444,0.444444,-0.222222,9.0,1
Alaves,2,1.991000,0.931167,1.166667,1.333333,1.333333,15.000000,10.000000,2.833333,1.000000,0.500000,0.333333,0.166667,0.500000,0.500000,-0.166667,6.0,1
Sevilla,2,1.522182,1.568182,1.090909,1.272727,1.272727,15.090909,11.727273,2.000000,2.363636,0.636364,0.181818,0.272727,0.454545,0.454545,-0.181818,11.0,1
Rayo Vallecano,2,1.319222,1.247556,1.000000,1.888889,1.111111,14.444444,10.777778,1.666667,2.000000,0.555556,0.333333,0.111111,0.333333,0.666667,-0.888889,9.0,1
Villarreal,2,1.696000,1.225167,1.500000,1.500000,1.000000,15.000000,11.833333,2.166667,1.333333,1.000000,0.000000,0.000000,0.333333,0.666667,0.000000,6.0,1
Almeria,2,1.491286,1.421571,1.000000,1.714286,0.857143,14.857143,10.428571,1.857143,1.857143,0.571429,0.428571,0.142857,0.142857,0.714286,-0.714286,7.0,1
Celta Vigo,2,1.806429,1.668714,1.000000,1.714286,0.857143,15.000000,12.428571,2.142857,2.428571,0.714286,0.285714,0.000000,0.285714,0.714286,-0.714286,7.0,1
Granada,2,1.232571,1.595571,0.714286,1.714286,0.428571,13.285714,12.000000,1.428571,2.142857,0.571429,0.428571,0.000000,0.142857,0.857143,-1.000000,7.0,1
Real Valladolid,2,1.447333,2.047667,0.666667,2.666667,0.333333,21.000000,10.000000,1.333333,3.333333,0.333333,0.666667,0.333333,0.000000,0.666667,-2.000000,3.0,1

In [36]:
with pd.ExcelWriter("../EDA_DF/EPL_understat.xlsx") as writer:
    eng_df_updated.to_excel(writer, sheet_name="gamesheet")
    r1_h_eng.to_excel(writer, sheet_name="rank1_home")
    r2_h_eng.to_excel(writer, sheet_name="rank2_home")
    r3_h_eng.to_excel(writer, sheet_name="rank3_home")
    r1_a_eng.to_excel(writer, sheet_name="rank1_away")
    r2_a_eng.to_excel(writer, sheet_name="rank2_away")
    r3_a_eng.to_excel(writer, sheet_name="rank3_away")
    eng_l10_table_h.to_excel(writer, sheet_name="last10_home")
    eng_l10_table_a.to_excel(writer, sheet_name="last10_away")
    eng_table_h.to_excel(writer, sheet_name="home")
    eng_table_a.to_excel(writer, sheet_name="away")

with pd.ExcelWriter("../EDA_DF/Ligue1_understat.xlsx") as writer:
    fra_df_updated.to_excel(writer, sheet_name="gamesheet")
    r1_h_fra.to_excel(writer, sheet_name="rank1_home")
    r2_h_fra.to_excel(writer, sheet_name="rank2_home")
    r3_h_fra.to_excel(writer, sheet_name="rank3_home")
    r1_a_fra.to_excel(writer, sheet_name="rank1_away")
    r2_a_fra.to_excel(writer, sheet_name="rank2_away")
    r3_a_fra.to_excel(writer, sheet_name="rank3_away")
    fra_l10_table_h.to_excel(writer, sheet_name="last10_home")
    fra_l10_table_a.to_excel(writer, sheet_name="last10_away")
    fra_table_h.to_excel(writer, sheet_name="home")
    fra_table_a.to_excel(writer, sheet_name="away")

with pd.ExcelWriter("../EDA_DF/Bundesliga_understat.xlsx") as writer:
    ger_df_updated.to_excel(writer, sheet_name="gamesheet")
    r1_h_ger.to_excel(writer, sheet_name="rank1_home")
    r2_h_ger.to_excel(writer, sheet_name="rank2_home")
    r3_h_ger.to_excel(writer, sheet_name="rank3_home")
    r1_a_ger.to_excel(writer, sheet_name="rank1_away")
    r2_a_ger.to_excel(writer, sheet_name="rank2_away")
    r3_a_ger.to_excel(writer, sheet_name="rank3_away")
    ger_l10_table_h.to_excel(writer, sheet_name="last10_home")
    ger_l10_table_a.to_excel(writer, sheet_name="last10_away")
    ger_table_h.to_excel(writer, sheet_name="home")
    ger_table_a.to_excel(writer, sheet_name="away")

with pd.ExcelWriter("../EDA_DF/SerieA_understat.xlsx") as writer:
    ita_df_updated.to_excel(writer, sheet_name="gamesheet")
    r1_h_ita.to_excel(writer, sheet_name="rank1_home")
    r2_h_ita.to_excel(writer, sheet_name="rank2_home")
    r3_h_ita.to_excel(writer, sheet_name="rank3_home")
    r1_a_ita.to_excel(writer, sheet_name="rank1_away")
    r2_a_ita.to_excel(writer, sheet_name="rank2_away")
    r3_a_ita.to_excel(writer, sheet_name="rank3_away")
    ita_l10_table_h.to_excel(writer, sheet_name="last10_home")
    ita_l10_table_a.to_excel(writer, sheet_name="last10_away")
    ita_table_h.to_excel(writer, sheet_name="home")
    ita_table_a.to_excel(writer, sheet_name="away")
    
with pd.ExcelWriter("../EDA_DF/LaLiga_understat.xlsx") as writer:
    spa_df_updated.to_excel(writer, sheet_name="gamesheet")
    r1_h_spa.to_excel(writer, sheet_name="rank1_home")
    r2_h_spa.to_excel(writer, sheet_name="rank2_home")
    r3_h_spa.to_excel(writer, sheet_name="rank3_home")
    r1_a_spa.to_excel(writer, sheet_name="rank1_away")
    r2_a_spa.to_excel(writer, sheet_name="rank2_away")
    r3_a_spa.to_excel(writer, sheet_name="rank3_away")
    spa_l10_table_h.to_excel(writer, sheet_name="last10_home")
    spa_l10_table_a.to_excel(writer, sheet_name="last10_away")
    spa_table_h.to_excel(writer, sheet_name="home")
    spa_table_a.to_excel(writer, sheet_name="away")