In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime

C:\Users\User\AppData\Local\Temp\ipykernel_14936\2829297590.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
# Importing the original understat dataframes and sorting them by date

eng_df = pd.read_excel(r'../EDA_DF/EPL_understat.xlsx',sheet_name='gamesheet')
eng_df = eng_df.sort_values(by='date',ascending=False)
fra_df = pd.read_excel(r'../EDA_DF/Ligue1_understat.xlsx',sheet_name='gamesheet')
fra_df = fra_df.sort_values(by='date',ascending=False)
ger_df = pd.read_excel(r'../EDA_DF/Bundesliga_understat.xlsx',sheet_name='gamesheet')
ger_df = ger_df.sort_values(by='date',ascending=False)
ita_df = pd.read_excel(r'../EDA_DF/SerieA_understat.xlsx',sheet_name='gamesheet')
ita_df = ita_df.sort_values(by='date',ascending=False)
spa_df = pd.read_excel(r'../EDA_DF/LaLiga_understat.xlsx',sheet_name='gamesheet')
spa_df = spa_df.sort_values(by='date',ascending=False)
eng_df

,Unnamed: 0.1,Unnamed: 0,date,ID,Team,H/A,xG,xGC,G,GC,...,date_int,0_0,btts_if_g,btts_if_c,win,draw,lose,match_ID,Rankvs,Rank
0,71,0,2024-03-11 20:00:00,Newcastle United22169,Newcastle United,a,0.568,1.788,2,3,...,0.679424,0,0,1,0,0,1,22169,2,2
1,70,0,2024-03-11 20:00:00,Chelsea22169,Chelsea,h,1.788,0.568,3,2,...,0.679424,0,1,0,1,0,0,22169,2,2
2,66,0,2024-03-10 15:45:00,Liverpool22171,Liverpool,h,2.258,1.373,1,1,...,1.856508,0,0,1,0,1,0,22171,1,1
3,67,0,2024-03-10 15:45:00,Manchester City22171,Manchester City,a,1.373,2.258,1,1,...,1.856508,0,1,0,0,1,0,22171,1,1
4,73,0,2024-03-10 14:00:00,Nottingham Forest22168,Nottingham Forest,a,0.687,0.540,0,1,...,1.929424,0,0,0,0,0,1,22168,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
755,742,0,2023-04-01 11:30:00,Manchester City18488,Manchester City,h,3.081,0.318,4,1,...,346.033591,0,0,1,1,0,0,18488,1,1
756,756,0,2023-03-18 15:00:00,Wolverhampton Wanderers18481,Wolverhampton Wanderers,h,2.769,1.658,2,4,...,359.887758,0,0,1,0,0,1,18481,3,2
757,757,0,2023-03-18 15:00:00,Leeds18481,Leeds,a,1.658,2.769,4,2,...,359.887758,0,1,0,1,0,0,18481,2,3
758,758,0,2023-03-18 15:00:00,Southampton18480,Southampton,h,2.545,1.885,3,3,...,359.887758,0,0,0,0,1,0,18480,2,3
759,759,0,2023-03-18 15:00:00,Tottenham18480,Tottenham,a,1.885,2.545,3,3,...,359.887758,0,0,0,0,1,0,18480,3,2

In [3]:
# Form DF (Last 10 games)

def last10(df):
    temp_df = df
    temp_df['played'] = 1
    # df['Rankvs'] = df['Rank']
    temp_df['date'] = pd.to_datetime(temp_df['date'])
    temp_df['date_int'] = (datetime.datetime.now()) - (temp_df['date'])
    temp_df['0_0'] = temp_df.apply(lambda x: 1 if x['CS'] == 1 and x['Blank'] == 1 else 0, axis = 1)
    temp_df['btts_if_g'] = temp_df.apply(lambda x: 1 if x['first_goal'] == 1 and x['BTTS'] == 1 else 0, axis = 1)
    temp_df['btts_if_c'] = temp_df.apply(lambda x: 1 if x['first_conc'] == 1 and x['BTTS'] == 1 else 0, axis = 1)
    temp_df['win'] = temp_df.apply(lambda x: 1 if x['Pts'] == 3 else 0, axis=1)
    temp_df['draw'] = temp_df.apply(lambda x: 1 if x['Pts'] == 1 else 0, axis=1)
    temp_df['lose'] = temp_df.apply(lambda x: 1 if x['Pts'] == 0 else 0, axis=1)

    temp_df = temp_df.groupby(['Team'],as_index=False).apply(lambda x: x.nsmallest(10, 'date_int'))
    temp_df.reset_index(inplace=True)
    temp_df.drop(['level_0','level_1','date_int','Unnamed: 0'],axis=1,inplace=True)
    return temp_df

eng_l10 = last10(eng_df)
fra_l10 = last10(fra_df)
ger_l10 = last10(ger_df)
ita_l10 = last10(ita_df)
spa_l10 = last10(spa_df)
eng_l10

C:\Users\User\AppData\Local\Temp\ipykernel_14936\362756946.py:16: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  temp_df = temp_df.groupby(['Team'],as_index=False).apply(lambda x: x.nsmallest(10, 'date_int'))
C:\Users\User\AppData\Local\Temp\ipykernel_14936\362756946.py:16: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  temp_df = temp_df.groupby(['Team'],as_index=False).apply(lambda x: x.nsmallest(10, 'date_int'))
C:\Users\User\AppData\Local\Temp\ipykernel_14936\362756946.py:16: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  temp_df = temp_df.groupby(['Team'],as_index=False).apply(lambda x: x.nsmallest(10, 'date_int'))
C:\Users\User\AppData\Local\Temp\ipykernel_14936\362756946.py:16: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  temp_df = temp_df.groupby(['Team'],as_index=False).apply(lambda x: x.nsmallest(10, 'date_int'))
C:\Users\User\AppData\Local\Temp\ipykernel_14936\362756946.py:16: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  temp_df = temp_df.groupby(['Team'],as_index=False).apply(lambda x: x.nsmallest(10, 'date_int'))

,Unnamed: 0.1,date,ID,Team,H/A,xG,xGC,G,GC,S,...,played,0_0,btts_if_g,btts_if_c,win,draw,lose,match_ID,Rankvs,Rank
0,76,2024-03-09 17:30:00,Arsenal22166,Arsenal,h,1.594,0.733,2,1,17,...,1,0,1,0,1,0,0,22166,2,1
1,83,2024-03-04 20:00:00,Arsenal22163,Arsenal,a,2.485,0.201,6,0,22,...,1,0,0,0,1,0,0,22163,3,1
2,114,2024-02-24 20:00:00,Arsenal22146,Arsenal,h,2.593,0.217,4,1,18,...,1,0,1,0,1,0,0,22146,2,1
3,135,2024-02-17 15:00:00,Arsenal22136,Arsenal,a,2.216,0.335,5,0,16,...,1,0,0,0,1,0,0,22136,3,1
4,141,2024-02-11 14:00:00,Arsenal22133,Arsenal,a,3.999,0.196,6,0,25,...,1,0,0,0,1,0,0,22133,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225,167,2024-02-04 14:00:00,Wolverhampton Wanderers22120,Wolverhampton Wanderers,a,2.490,2.360,4,2,14,...,1,0,0,1,1,0,0,22120,2,2
226,184,2024-02-01 20:15:00,Wolverhampton Wanderers22111,Wolverhampton Wanderers,h,2.324,3.229,3,4,16,...,1,0,0,1,0,0,1,22111,1,2
227,217,2024-01-22 19:45:00,Wolverhampton Wanderers22095,Wolverhampton Wanderers,a,1.231,1.400,0,0,8,...,1,1,0,0,0,1,0,22095,2,2
228,218,2023-12-30 15:00:00,Wolverhampton Wanderers22094,Wolverhampton Wanderers,h,2.645,0.532,3,0,12,...,1,0,0,0,1,0,0,22094,2,2
229,253,2023-12-27 19:30:00,Wolverhampton Wanderers22077,Wolverhampton Wanderers,a,1.895,2.600,4,1,11,...,1,0,1,0,1,0,0,22077,2,2

In [6]:
# Home/Away Tables last 10 games (Form)
eng_r = ['Southampton', 'Leicester','Leeds']
fra_r = ['Angers','Ajaccio','Troyes','Auxerre']
ger_r = ['Schalke 04','Hertha Berlin']
ita_r = ['Sampdoria','Spezia','Cremonese']
spa_r = ['Espanyol','Elche','Real Valladolid']

def home_away_table_form(df,relegated_list):
    # changes to df
    df['match_ID'] = df['ID'].apply(lambda x:x[-5:])
    df['match_ID'] = pd.to_numeric(df['match_ID'])
    df['played'] = 1    
    # new df
    df_h_a = df.groupby(["Team","H/A"]).agg({'played':'sum', 'xG':'sum', 'xGC':'sum','G':'sum', 'GC':'sum', 'Pts':'sum',
                                             'S':'sum', 'SC':'sum', 'QS': 'sum','QSC':'sum',
                                             'BTTS':'sum', 'Blank':'sum', 'CS':'sum','first_goal':'sum','first_conc':'sum',
                                             'btts_if_g':'sum','btts_if_c':'sum','0_0':'sum','Rankvs':'sum'})
    h_a_sep = [x for _, x in df_h_a.groupby("H/A")]
    away_table = h_a_sep[0].droplevel("H/A")
    home_table = h_a_sep[1].droplevel("H/A")
    home_table = home_table.apply(pd.to_numeric)
    away_table = away_table.apply(pd.to_numeric)
    home_table['GD'] = home_table['G'] - home_table['GC']
    away_table['GD'] = away_table['G'] - away_table['GC']
    home_table['sample'] = home_table['played']**2
    away_table['sample'] = home_table['played']**2
    home_table = home_table.iloc[:,1:].div(home_table.played, axis=0)
    away_table = away_table.iloc[:,1:].div(away_table.played, axis=0)
    home_table = home_table[~home_table.index.isin(relegated_list)]
    away_table = away_table[~away_table.index.isin(relegated_list)]


    q1_h = home_table['Pts'].quantile(0.25)
    q1_a = away_table['Pts'].quantile(0.25)
    q3_h = home_table['Pts'].quantile(0.75)
    q3_a = away_table['Pts'].quantile(0.75)
    home_table['Rank'] = home_table.apply(lambda x: 3 if x['Pts'] <= q1_h else( 1 if x['Pts'] >= q3_h else 2), axis=1) 
    away_table['Rank'] = away_table.apply(lambda x: 3 if x['Pts'] <= q1_a else( 1 if x['Pts'] >= q3_a else 2), axis=1) 

    home_table = home_table.sort_values('Pts', ascending=False)
    away_table = away_table.sort_values('Pts', ascending=False)

    return home_table, away_table

eng_l10_table_h,eng_l10_table_a = home_away_table_form(eng_l10,eng_r)
fra_l10_table_h,fra_l10_table_a = home_away_table_form(fra_l10,fra_r)
ger_l10_table_h,ger_l10_table_a = home_away_table_form(ger_l10,ger_r)
ita_l10_table_h,ita_l10_table_a = home_away_table_form(ita_l10,ita_r)
spa_l10_table_h,spa_l10_table_a = home_away_table_form(spa_l10,spa_r)
spa_l10_table_h

,xG,xGC,G,GC,Pts,S,SC,QS,QSC,BTTS,...,CS,first_goal,first_conc,btts_if_g,btts_if_c,0_0,Rankvs,GD,sample,Rank
Team,,,,,,,,,,,,,,,,,,,,,
Atletico Madrid,2.846500,0.522750,2.750000,0.500000,3.000000,12.500000,11.000000,5.000000,0.250000,0.500000,...,0.500000,1.000000,0.000000,0.500000,0.000000,0.000000,2.000000,2.250000,4.0,1
Real Madrid,2.757833,0.801500,2.333333,0.500000,2.666667,18.000000,8.166667,3.166667,1.000000,0.333333,...,0.666667,0.833333,0.166667,0.166667,0.166667,0.000000,2.333333,1.833333,6.0,1
Girona,2.338400,1.003000,2.800000,0.800000,2.600000,13.000000,10.400000,3.600000,1.600000,0.400000,...,0.600000,0.600000,0.200000,0.200000,0.200000,0.200000,1.800000,2.000000,5.0,1
Athletic Club,1.753000,1.016500,2.250000,0.750000,2.500000,11.250000,8.750000,2.250000,1.250000,0.500000,...,0.500000,0.750000,0.000000,0.500000,0.000000,0.250000,1.500000,1.500000,4.0,1
Osasuna,1.541000,1.038200,1.400000,1.000000,2.400000,14.200000,7.000000,2.400000,1.800000,0.200000,...,0.600000,0.800000,0.200000,0.200000,0.000000,0.000000,2.600000,0.400000,5.0,1
Valencia,1.442167,0.973167,1.500000,0.666667,2.333333,9.666667,9.000000,2.166667,1.166667,0.500000,...,0.500000,0.833333,0.000000,0.500000,0.000000,0.166667,1.833333,0.833333,6.0,2
Barcelona,2.310000,1.234000,2.400000,1.600000,2.000000,17.000000,10.000000,2.800000,1.600000,0.400000,...,0.600000,0.800000,0.200000,0.200000,0.200000,0.000000,2.400000,0.800000,5.0,2
Alaves,1.258200,1.193800,1.000000,1.000000,1.600000,12.800000,10.600000,1.400000,1.600000,0.600000,...,0.400000,0.800000,0.200000,0.400000,0.200000,0.000000,2.200000,0.000000,5.0,2
Villarreal,1.866750,0.593000,1.750000,0.750000,1.500000,18.250000,9.000000,2.000000,0.250000,0.750000,...,0.250000,0.500000,0.250000,0.500000,0.250000,0.250000,2.750000,1.000000,4.0,2
Mallorca,1.265400,0.963400,1.000000,1.000000,1.400000,11.800000,11.800000,1.800000,1.000000,0.600000,...,0.200000,0.600000,0.400000,0.400000,0.200000,0.000000,1.800000,0.000000,5.0,2
Getafe,1.477200,1.965400,1.600000,1.800000,1.400000,9.600000,13.200000,2.200000,3.200000,0.400000,...,0.200000,0.600000,0.400000,0.400000,0.000000,0.000000,2.200000,-0.200000,5.0,2
Sevilla,1.805200,1.664200,1.400000,1.600000,1.400000,12.400000,14.200000,2.800000,2.000000,0.600000,...,0.200000,0.600000,0.400000,0.400000,0.200000,0.000000,1.600000,-0.200000,5.0,2
Real Betis,1.448333,1.201833,1.500000,1.500000,1.333333,14.666667,8.500000,2.166667,1.666667,0.666667,...,0.333333,0.500000,0.333333,0.333333,0.333333,0.166667,1.833333,0.000000,6.0,2
Celta Vigo,1.266200,1.167200,0.800000,1.000000,1.200000,12.600000,10.400000,1.000000,1.400000,0.400000,...,0.200000,0.200000,0.800000,0.000000,0.400000,0.000000,1.600000,-0.200000,5.0,2
Las Palmas,1.016333,1.340333,1.333333,1.166667,1.166667,9.666667,10.833333,1.166667,1.833333,0.500000,...,0.333333,0.666667,0.333333,0.333333,0.166667,0.000000,1.500000,0.166667,6.0,2
Cadiz,1.147600,1.038600,1.000000,1.600000,1.000000,11.800000,9.000000,1.400000,1.600000,0.400000,...,0.400000,0.200000,0.600000,0.000000,0.400000,0.200000,2.000000,-0.600000,5.0,3
Granada,1.620000,1.097833,1.000000,1.500000,0.833333,13.166667,12.833333,2.000000,1.333333,0.500000,...,0.166667,0.500000,0.500000,0.333333,0.166667,0.000000,2.166667,-0.500000,6.0,3
Almeria,1.423600,1.491000,0.800000,1.400000,0.800000,14.400000,13.000000,2.400000,1.600000,0.400000,...,0.400000,0.200000,0.400000,0.200000,0.200000,0.400000,1.600000,-0.600000,5.0,3
Rayo Vallecano,1.533000,1.200000,0.750000,1.500000,0.500000,13.750000,11.500000,2.250000,1.750000,0.750000,...,0.000000,0.250000,0.750000,0.250000,0.500000,0.000000,2.000000,-0.750000,4.0,3
Real Sociedad,1.375250,0.861750,0.500000,1.250000,0.500000,16.000000,6.750000,1.500000,1.250000,0.500000,...,0.250000,0.000000,0.750000,0.000000,0.500000,0.250000,2.000000,-0.750000,4.0,3

In [176]:
# Home/Away Tables rolling season (Historic)

def home_away_table(df):
    # changes to df
    df['match_ID'] = df['ID'].apply(lambda x:x[-5:])
    df['match_ID'] = pd.to_numeric(df['match_ID'])
    df['played'] = 1
    df['0_0'] = df.apply(lambda x: 1 if x['CS'] == 1 and x['Blank'] ==1 else 0, axis = 1)
    # df['btts_if_g'] = df.apply(lambda x: 1 if x['first_goal'] == 1 a 0, axis = 1)
    # df['btts_if_c'] = df.apply(lambda x: 1 if x['first_conc'] == 1 a 0, axis = 1)
    
    # new df
    df_h_a = df.groupby(["Team","H/A"]).agg({'played':'sum', 'xG':'sum', 'xGC':'sum','G':'sum', 'GC':'sum', 'Pts':'sum',
                                             'S':'sum', 'SC':'sum', 'QS': 'sum','QSC':'sum',
                                             'BTTS':'sum', 'Blank':'sum', 'CS':'sum','first_goal':'sum','first_conc':'sum','0_0':'sum'})
    h_a_sep = [x for _, x in df_h_a.groupby("H/A")]
    away_table = h_a_sep[0].droplevel("H/A")
    home_table = h_a_sep[1].droplevel("H/A")
    home_table = home_table.apply(pd.to_numeric)
    away_table = away_table.apply(pd.to_numeric)
    home_table['GD'] = home_table['G'] - home_table['GC']
    away_table['GD'] = away_table['G'] - away_table['GC']
    home_table['sample'] = home_table['played']**2
    away_table['sample'] = home_table['played']**2
    home_table = home_table[~(home_table['played'] <= 10)]
    away_table = away_table[~(away_table['played'] <= 10)]
    home_table = home_table.iloc[:,1:].div(home_table.played, axis=0)
    away_table = away_table.iloc[:,1:].div(away_table.played, axis=0)
    home_table['btts_if_g'] = home_table.apply(lambda x: 0 if x['first_goal'] == 0 else ((x['first_goal']-(x['CS']-x['0_0']))/x['first_goal']), axis = 1)
    away_table['btts_if_g'] = away_table.apply(lambda x: 0 if x['first_goal'] == 0 else ((x['first_goal']-(x['CS']-x['0_0']))/x['first_goal']), axis = 1)
    home_table['btts_if_c'] = home_table.apply(lambda x: 0 if x['first_conc'] == 0 else ((x['first_conc']-(x['Blank']-x['0_0']))/x['first_conc']), axis = 1)
    away_table['btts_if_c'] = away_table.apply(lambda x: 0 if x['first_conc'] == 0 else ((x['first_conc']-(x['Blank']-x['0_0']))/x['first_conc']), axis = 1) 
    q1_h = home_table['Pts'].quantile(0.25)
    q1_a = away_table['Pts'].quantile(0.25)
    q3_h = home_table['Pts'].quantile(0.75)
    q3_a = away_table['Pts'].quantile(0.75)
    home_table['Rank'] = home_table.apply(lambda x: 3 if x['Pts'] <= q1_h else( 1 if x['Pts'] >= q3_h else 2), axis=1) 
    away_table['Rank'] = away_table.apply(lambda x: 3 if x['Pts'] <= q1_a else( 1 if x['Pts'] >= q3_a else 2), axis=1) 
    home_table = home_table.sort_values('Pts', ascending=False)
    away_table = away_table.sort_values('Pts', ascending=False)

    return home_table, away_table

eng_table_h, eng_table_a = home_away_table(eng_df)
fra_table_h, fra_table_a = home_away_table(fra_df)
ger_table_h, ger_table_a = home_away_table(ger_df)
ita_table_h, ita_table_a = home_away_table(ita_df)
spa_table_h, spa_table_a = home_away_table(spa_df)
eng_table_h

,xG,xGC,G,GC,Pts,S,SC,QS,QSC,BTTS,Blank,CS,first_goal,first_conc,0_0,GD,sample,btts_if_g,btts_if_c,Rank
Team,,,,,,,,,,,,,,,,,,,,
Manchester City,2.079842,0.829421,2.526316,0.842105,2.578947,17.000000,6.736842,2.578947,1.105263,0.684211,0.000000,0.315789,0.789474,0.210526,0.000000,1.684211,19.0,0.600000,1.000000,1
Liverpool,2.966526,1.006632,2.578947,1.052632,2.473684,21.736842,9.210526,4.000000,1.631579,0.684211,0.052632,0.315789,0.631579,0.315789,0.052632,1.526316,19.0,0.583333,1.000000,1
Aston Villa,2.174684,1.225105,2.368421,1.105263,2.421053,14.421053,8.684211,2.684211,1.789474,0.631579,0.052632,0.315789,0.736842,0.263158,0.000000,1.263158,19.0,0.571429,0.800000,1
Arsenal,2.456895,0.879789,2.684211,1.105263,2.368421,17.578947,7.684211,3.263158,1.210526,0.631579,0.105263,0.263158,0.736842,0.263158,0.000000,1.578947,19.0,0.642857,0.600000,1
Manchester United,2.239105,1.512000,1.684211,1.157895,2.105263,17.684211,13.315789,2.842105,1.631579,0.473684,0.157895,0.368421,0.526316,0.473684,0.000000,0.526316,19.0,0.300000,0.666667,1
Newcastle United,2.823263,1.152789,2.368421,1.052632,2.052632,17.736842,10.789474,3.842105,1.157895,0.473684,0.105263,0.473684,0.736842,0.210526,0.052632,1.315789,19.0,0.428571,0.750000,2
Tottenham,2.079842,1.570789,1.947368,1.473684,1.947368,17.105263,12.631579,2.789474,2.157895,0.842105,0.000000,0.157895,0.684211,0.315789,0.000000,0.473684,19.0,0.769231,1.000000,2
Wolverhampton Wanderers,1.425350,1.675150,1.550000,1.300000,1.850000,11.750000,14.450000,1.700000,2.050000,0.600000,0.050000,0.350000,0.650000,0.350000,0.000000,0.250000,20.0,0.461538,0.857143,2
Brighton,2.292000,1.366579,2.210526,1.368421,1.842105,19.421053,9.736842,2.736842,1.631579,0.842105,0.052632,0.157895,0.526316,0.421053,0.052632,0.842105,19.0,0.800000,1.000000,2
West Ham,1.496158,1.556000,1.684211,1.368421,1.736842,12.315789,14.631579,1.894737,1.894737,0.578947,0.157895,0.315789,0.631579,0.315789,0.052632,0.315789,19.0,0.583333,0.666667,2
Fulham,1.594579,1.635895,1.894737,1.263158,1.684211,14.000000,12.052632,2.105263,2.368421,0.473684,0.315789,0.263158,0.473684,0.473684,0.052632,0.631579,19.0,0.555556,0.444444,2
Crystal Palace,1.487842,1.075684,1.473684,1.315789,1.421053,14.315789,9.947368,1.578947,1.315789,0.631579,0.263158,0.263158,0.368421,0.473684,0.157895,0.157895,19.0,0.714286,0.777778,2
Brentford,2.126421,1.529737,1.631579,1.736842,1.368421,14.526316,13.105263,2.894737,2.263158,0.789474,0.052632,0.157895,0.578947,0.421053,0.000000,-0.105263,19.0,0.727273,0.875000,2
Nottingham Forest,1.359474,1.360211,1.473684,1.473684,1.315789,11.789474,13.684211,1.526316,1.631579,0.631579,0.210526,0.157895,0.526316,0.473684,0.000000,0.000000,19.0,0.700000,0.555556,2
Chelsea,2.042167,1.350778,1.500000,1.611111,1.277778,14.944444,12.222222,2.777778,1.666667,0.555556,0.277778,0.166667,0.500000,0.500000,0.000000,-0.111111,18.0,0.666667,0.444444,2
Bournemouth,1.636611,1.556333,1.166667,1.666667,1.111111,13.444444,13.277778,1.888889,1.777778,0.500000,0.388889,0.166667,0.333333,0.611111,0.055556,-0.500000,18.0,0.666667,0.454545,3
Everton,1.978105,1.379947,1.000000,1.526316,0.894737,15.210526,11.947368,2.631579,1.578947,0.473684,0.315789,0.263158,0.368421,0.578947,0.052632,-0.526316,19.0,0.428571,0.545455,3
Luton,1.784786,1.937429,1.500000,1.785714,0.785714,14.000000,14.142857,2.000000,2.642857,0.785714,0.071429,0.142857,0.357143,0.642857,0.000000,-0.285714,14.0,0.600000,0.888889,3
Sheffield United,1.288929,2.533286,0.857143,3.000000,0.571429,10.642857,18.071429,1.642857,3.214286,0.500000,0.428571,0.071429,0.142857,0.857143,0.000000,-2.142857,14.0,0.500000,0.500000,3
Burnley,1.169500,1.725571,0.928571,2.428571,0.357143,12.714286,12.642857,1.428571,2.000000,0.428571,0.500000,0.071429,0.357143,0.642857,0.000000,-1.500000,14.0,0.800000,0.222222,3

In [178]:
# Apply rank to overall dataframe, and then group in tables by rank like in home vs away
def rank_to_df(rank_df_h,rank_df_a,df):
    rank_df_h['Team index'] = rank_df_h.index
    rank_df_a['Team index'] = rank_df_a.index

    rank1_h = rank_df_h.loc[rank_df_h['Rank'] == 1, ['Team index']].values.T.tolist()
    rank2_h = rank_df_h.loc[rank_df_h['Rank'] == 2, ['Team index']].values.T.tolist()
    rank3_h = rank_df_h.loc[rank_df_h['Rank'] == 3, ['Team index']].values.T.tolist()
    rank1_a = rank_df_a.loc[rank_df_a['Rank'] == 1, ['Team index']].values.T.tolist()
    rank2_a = rank_df_a.loc[rank_df_a['Rank'] == 2, ['Team index']].values.T.tolist()
    rank3_a = rank_df_a.loc[rank_df_a['Rank'] == 3, ['Team index']].values.T.tolist()

    df['Rankvs'] = df.apply(lambda x: 1 if x['H/A'] =="a" and x['Opp'] in rank1_h[0] else(1 if x['H/A'] == "h" and x['Opp'] in rank1_a[0] else
                                                                                     (2 if x['H/A'] == "a" and x['Opp'] in rank2_h[0] else
                                                                                      (2 if x['H/A'] == "h" and x['Opp'] in rank2_a[0] else
                                                                                       (3 if x['H/A'] == "a" and x['Opp'] in rank3_h[0] else 3
                                                                                       )))), axis=1) 
    
    df['Rank'] = df.apply(lambda x: 1 if x['H/A'] =="h" and x['Team'] in rank1_h[0] else(1 if x['H/A'] == "a" and x['Team'] in rank1_a[0] else
                                                                                     (2 if x['H/A'] == "h" and x['Team'] in rank2_h[0] else
                                                                                      (2 if x['H/A'] == "a" and x['Team'] in rank2_a[0] else
                                                                                       (3 if x['H/A'] == "h" and x['Team'] in rank3_h[0] else 3
                                                                                       )))), axis=1) 
    df['win'] = df.apply(lambda x: 1 if x['Pts'] == 3 else 0, axis=1)
    df['draw'] = df.apply(lambda x: 1 if x['Pts'] == 1 else 0, axis=1)
    df['lose'] = df.apply(lambda x: 1 if x['Pts'] == 0 else 0, axis=1)
    # df.drop(['Unnamed: 0'],axis=1,inplace=True)


    
    return df

eng_df_updated = rank_to_df(eng_table_h,eng_table_a,eng_df)
fra_df_updated = rank_to_df(fra_table_h,fra_table_a,fra_df)
ger_df_updated = rank_to_df(ger_table_h,ger_table_a,ger_df)
ita_df_updated = rank_to_df(ita_table_h,ita_table_a,ita_df)
spa_df_updated = rank_to_df(spa_table_h,spa_table_a,spa_df)
eng_df_updated

,Unnamed: 0,date,ID,Team,H/A,xG,xGC,G,GC,S,...,first_goal,first_conc,match_ID,played,0_0,Rankvs,Rank,win,draw,lose
71,0,2024-03-11 20:00:00,Newcastle United22169,Newcastle United,a,0.568,1.788,2,3,11,...,0,1,22169,1,0,2,2,0,0,1
70,0,2024-03-11 20:00:00,Chelsea22169,Chelsea,h,1.788,0.568,3,2,12,...,1,0,22169,1,0,2,2,1,0,0
66,0,2024-03-10 15:45:00,Liverpool22171,Liverpool,h,2.258,1.373,1,1,19,...,0,1,22171,1,0,1,1,0,1,0
67,0,2024-03-10 15:45:00,Manchester City22171,Manchester City,a,1.373,2.258,1,1,10,...,1,0,22171,1,0,1,1,0,1,0
73,0,2024-03-10 14:00:00,Nottingham Forest22168,Nottingham Forest,a,0.687,0.540,0,1,10,...,0,1,22168,1,0,2,3,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
742,0,2023-04-01 11:30:00,Manchester City18488,Manchester City,h,3.081,0.318,4,1,17,...,0,1,18488,1,0,1,1,1,0,0
756,0,2023-03-18 15:00:00,Wolverhampton Wanderers18481,Wolverhampton Wanderers,h,2.769,1.658,2,4,23,...,0,1,18481,1,0,3,2,0,0,1
757,0,2023-03-18 15:00:00,Leeds18481,Leeds,a,1.658,2.769,4,2,11,...,1,0,18481,1,0,2,3,1,0,0
758,0,2023-03-18 15:00:00,Southampton18480,Southampton,h,2.545,1.885,3,3,19,...,2,2,18480,1,0,2,3,0,1,0
759,0,2023-03-18 15:00:00,Tottenham18480,Tottenham,a,1.885,2.545,3,3,17,...,2,2,18480,1,0,3,2,0,1,0

In [179]:
def home_away_df(df):
    df_h = df[df['H/A'] == "h"]
    df_a = df[df['H/A'] == "a"]
    return df_h,df_a

eng_home,eng_away = home_away_df(eng_df)
fra_home,fra_away = home_away_df(fra_df)
ger_home,ger_away = home_away_df(ger_df)
ita_home,ita_away = home_away_df(ita_df)
spa_home,spa_away = home_away_df(spa_df)


def home_away_rank_df(df_h,df_a):
    df1_h = df_h[df_h['Rankvs'] == 1]
    df2_h = df_h[df_h['Rankvs'] == 2]
    df3_h = df_h[df_h['Rankvs'] == 3]
    
    df1_a = df_a[df_a['Rankvs'] == 1]
    df2_a = df_a[df_a['Rankvs'] == 2]
    df3_a = df_a[df_a['Rankvs'] == 3]
    return df1_h, df2_h, df3_h,df1_a,df2_a,df3_a

eng_r1_h_df, eng_r2_h_df, eng_r3_h_df, eng_r1_a_df, eng_r2_a_df,eng_r3_a_df = home_away_rank_df(eng_home,eng_away)
fra_r1_h_df, fra_r2_h_df, fra_r3_h_df, fra_r1_a_df, fra_r2_a_df,fra_r3_a_df = home_away_rank_df(fra_home,fra_away)
ger_r1_h_df, ger_r2_h_df, ger_r3_h_df, ger_r1_a_df, ger_r2_a_df,ger_r3_a_df = home_away_rank_df(ger_home,ger_away)
ita_r1_h_df, ita_r2_h_df, ita_r3_h_df, ita_r1_a_df, ita_r2_a_df,ita_r3_a_df = home_away_rank_df(ita_home,ita_away)
spa_r1_h_df, spa_r2_h_df, spa_r3_h_df, spa_r1_a_df, spa_r2_a_df,spa_r3_a_df = home_away_rank_df(spa_home,spa_away)
eng_r2_a_df

,Unnamed: 0,date,ID,Team,H/A,xG,xGC,G,GC,S,...,first_goal,first_conc,match_ID,played,0_0,Rankvs,Rank,win,draw,lose
71,0,2024-03-11 20:00:00,Newcastle United22169,Newcastle United,a,0.568,1.788,2,3,11,...,0,1,22169,1,0,2,2,0,0,1
73,0,2024-03-10 14:00:00,Nottingham Forest22168,Nottingham Forest,a,0.687,0.540,0,1,10,...,0,1,22168,1,0,2,3,0,0,1
63,0,2024-03-10 14:00:00,Burnley22173,Burnley,a,0.881,1.876,2,2,11,...,1,0,22173,1,0,2,3,0,1,0
61,0,2024-03-09 15:00:00,Fulham22174,Fulham,a,2.972,1.296,1,2,24,...,0,1,22174,1,0,2,3,0,0,1
69,0,2024-03-09 15:00:00,Luton22170,Luton,a,1.085,3.337,1,1,8,...,0,1,22170,1,0,2,3,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
749,0,2023-04-01 16:30:00,Aston Villa18485,Aston Villa,a,0.766,2.391,2,0,5,...,1,0,18485,1,0,2,1,1,0,0
751,0,2023-04-01 14:00:00,Brentford18484,Brentford,a,1.279,3.829,3,3,7,...,1,0,18484,1,0,2,2,0,1,0
739,0,2023-04-01 14:00:00,Wolverhampton Wanderers18490,Wolverhampton Wanderers,a,0.386,1.135,1,1,8,...,0,1,18490,1,0,2,2,0,1,0
747,0,2023-04-01 14:00:00,Leicester18486,Leicester,a,0.199,1.962,1,2,4,...,1,0,18486,1,0,2,3,0,0,1
757,0,2023-03-18 15:00:00,Leeds18481,Leeds,a,1.658,2.769,4,2,11,...,1,0,18481,1,0,2,3,1,0,0

In [181]:
def home_away_rank_table(df):
    # changes to df
    df['match_ID'] = df['ID'].apply(lambda x:x[-5:])
    df['match_ID'] = pd.to_numeric(df['match_ID'])
    df['played'] = 1
    
    # new df
    df_h_a = df.groupby(["Team","H/A","Rankvs"]).agg({'played':'sum', 'xG':'sum', 'xGC':'sum','G':'sum', 'GC':'sum', 'Pts':'sum',
                                             'S':'sum', 'SC':'sum', 'QS': 'sum','QSC':'sum',
                                             'BTTS':'sum', 'Blank':'sum', 'CS':'sum','first_goal':'sum','first_conc':'sum',
                                             '0_0':'sum'})
    h_a_sep = [x for _, x in df_h_a.groupby(["H/A","Rankvs"])]
    r1_h_table = h_a_sep[3].droplevel("H/A")
    r2_h_table = h_a_sep[4].droplevel("H/A")
    r3_h_table = h_a_sep[5].droplevel("H/A")
    r1_a_table = h_a_sep[0].droplevel("H/A")
    r2_a_table = h_a_sep[1].droplevel("H/A")
    r3_a_table = h_a_sep[2].droplevel("H/A")

    r1_h_table = r1_h_table.apply(pd.to_numeric)
    r2_h_table = r2_h_table.apply(pd.to_numeric)
    r3_h_table = r3_h_table.apply(pd.to_numeric)
    r1_a_table = r1_a_table.apply(pd.to_numeric)
    r2_a_table = r2_a_table.apply(pd.to_numeric)
    r3_a_table = r3_a_table.apply(pd.to_numeric)
   
    r1_h_table['GD'] = r1_h_table['G'] - r1_h_table['GC']
    r2_h_table['GD'] = r2_h_table['G'] - r2_h_table['GC']
    r3_h_table['GD'] = r3_h_table['G'] - r3_h_table['GC']
    r1_a_table['GD'] = r1_a_table['G'] - r1_a_table['GC']
    r2_a_table['GD'] = r2_a_table['G'] - r2_a_table['GC']
    r3_a_table['GD'] = r3_a_table['G'] - r3_a_table['GC']

    r1_h_table['sample'] = r1_h_table['played'] ** 2
    r2_h_table['sample'] = r2_h_table['played'] ** 2
    r3_h_table['sample'] = r3_h_table['played'] ** 2
    r1_a_table['sample'] = r1_a_table['played'] ** 2
    r2_a_table['sample'] = r2_a_table['played'] ** 2
    r3_a_table['sample'] = r3_a_table['played'] ** 2

    r1_h_table = r1_h_table.iloc[:,1:].div(r1_h_table.played, axis=0)
    r2_h_table = r2_h_table.iloc[:,1:].div(r2_h_table.played, axis=0)
    r3_h_table = r3_h_table.iloc[:,1:].div(r3_h_table.played, axis=0)
    r1_a_table = r1_a_table.iloc[:,1:].div(r1_a_table.played, axis=0)
    r2_a_table = r2_a_table.iloc[:,1:].div(r2_a_table.played, axis=0)
    r3_a_table = r3_a_table.iloc[:,1:].div(r3_a_table.played, axis=0)

    r1_h_table['btts_if_g'] = r1_h_table.apply(lambda x: 0 if x['first_goal'] == 0 else ((x['first_goal']-(x['CS']-x['0_0']))/x['first_goal']), axis = 1)
    r2_h_table['btts_if_g'] = r2_h_table.apply(lambda x: 0 if x['first_goal'] == 0 else ((x['first_goal']-(x['CS']-x['0_0']))/x['first_goal']), axis = 1)
    r3_h_table['btts_if_g'] = r3_h_table.apply(lambda x: 0 if x['first_goal'] == 0 else ((x['first_goal']-(x['CS']-x['0_0']))/x['first_goal']), axis = 1)
    r1_a_table['btts_if_g'] = r1_a_table.apply(lambda x: 0 if x['first_goal'] == 0 else ((x['first_goal']-(x['CS']-x['0_0']))/x['first_goal']), axis = 1)
    r2_a_table['btts_if_g'] = r2_a_table.apply(lambda x: 0 if x['first_goal'] == 0 else ((x['first_goal']-(x['CS']-x['0_0']))/x['first_goal']), axis = 1)
    r3_a_table['btts_if_g'] = r3_a_table.apply(lambda x: 0 if x['first_goal'] == 0 else ((x['first_goal']-(x['CS']-x['0_0']))/x['first_goal']), axis = 1)
    r1_h_table['btts_if_c'] = r1_h_table.apply(lambda x: 0 if x['first_conc'] == 0 else ((x['first_conc']-(x['Blank']-x['0_0']))/x['first_conc']), axis = 1)
    r2_h_table['btts_if_c'] = r2_h_table.apply(lambda x: 0 if x['first_conc'] == 0 else ((x['first_conc']-(x['Blank']-x['0_0']))/x['first_conc']), axis = 1)
    r3_h_table['btts_if_c'] = r3_h_table.apply(lambda x: 0 if x['first_conc'] == 0 else ((x['first_conc']-(x['Blank']-x['0_0']))/x['first_conc']), axis = 1)
    r1_a_table['btts_if_c'] = r1_a_table.apply(lambda x: 0 if x['first_conc'] == 0 else ((x['first_conc']-(x['Blank']-x['0_0']))/x['first_conc']), axis = 1)
    r2_a_table['btts_if_c'] = r2_a_table.apply(lambda x: 0 if x['first_conc'] == 0 else ((x['first_conc']-(x['Blank']-x['0_0']))/x['first_conc']), axis = 1)
    r3_a_table['btts_if_c'] = r3_a_table.apply(lambda x: 0 if x['first_conc'] == 0 else ((x['first_conc']-(x['Blank']-x['0_0']))/x['first_conc']), axis = 1)

    r1_h_table['home?'] = 1
    r2_h_table['home?'] = 1
    r3_h_table['home?'] = 1
    r1_a_table['home?'] = 0
    r2_a_table['home?'] = 0
    r3_a_table['home?'] = 0

    r1_h_table['GD'] = r1_h_table['G'] - r1_h_table['GC']
    r2_h_table['GD'] = r2_h_table['G'] - r2_h_table['GC']
    r3_h_table['GD'] = r3_h_table['G'] - r3_h_table['GC']
    r1_a_table['GD'] = r1_a_table['G'] - r1_a_table['GC']
    r2_a_table['GD'] = r2_a_table['G'] - r2_a_table['GC']
    r3_a_table['GD'] = r3_a_table['G'] - r3_a_table['GC']

    r1_h_table = r1_h_table.sort_values('Pts', ascending=False)
    r2_h_table = r2_h_table.sort_values('Pts', ascending=False)
    r3_h_table = r3_h_table.sort_values('Pts', ascending=False)
    r1_a_table = r1_a_table.sort_values('Pts', ascending=False)
    r2_a_table = r2_a_table.sort_values('Pts', ascending=False)
    r3_a_table = r3_a_table.sort_values('Pts', ascending=False)

    return r1_h_table, r2_h_table, r3_h_table, r1_a_table, r2_a_table, r3_a_table

r1_h_eng,r2_h_eng,r3_h_eng,r1_a_eng,r2_a_eng,r3_a_eng = home_away_rank_table(eng_df_updated)
r1_h_fra,r2_h_fra,r3_h_fra,r1_a_fra,r2_a_fra,r3_a_fra = home_away_rank_table(fra_df_updated)
r1_h_ger,r2_h_ger,r3_h_ger,r1_a_ger,r2_a_ger,r3_a_ger = home_away_rank_table(ger_df_updated)
r1_h_ita,r2_h_ita,r3_h_ita,r1_a_ita,r2_a_ita,r3_a_ita = home_away_rank_table(ita_df_updated)
r1_h_spa,r2_h_spa,r3_h_spa,r1_a_spa,r2_a_spa,r3_a_spa = home_away_rank_table(spa_df_updated)
r2_a_eng

,,xG,xGC,G,GC,Pts,S,SC,QS,QSC,BTTS,Blank,CS,first_goal,first_conc,0_0,GD,sample,btts_if_g,btts_if_c,home?
Team,Rankvs,,,,,,,,,,,,,,,,,,,,
Liverpool,2,1.804000,1.574889,2.000000,1.111111,2.222222,15.111111,13.444444,2.333333,2.333333,0.888889,0.000000,0.111111,0.333333,0.666667,0.000000,0.888889,9.0,0.666667,1.000000,0
Manchester City,2,2.335625,1.393500,2.125000,1.625000,1.750000,20.250000,10.250000,2.875000,1.750000,0.875000,0.125000,0.000000,0.500000,0.500000,0.000000,0.500000,8.0,1.000000,0.750000,0
Everton,2,1.563000,1.686364,1.454545,1.000000,1.727273,12.909091,15.545455,2.181818,1.818182,0.545455,0.272727,0.363636,0.545455,0.272727,0.181818,0.454545,11.0,0.666667,0.666667,0
Arsenal,2,1.726600,1.280100,1.700000,0.900000,1.700000,14.500000,10.700000,2.100000,1.700000,0.400000,0.200000,0.400000,0.700000,0.300000,0.000000,0.800000,10.0,0.428571,0.333333,0
Aston Villa,2,1.526800,1.757300,1.200000,1.300000,1.700000,13.800000,12.600000,2.000000,2.800000,0.600000,0.200000,0.200000,0.300000,0.700000,0.000000,-0.100000,10.0,0.333333,0.714286,0
Brentford,2,1.575154,1.682615,1.692308,1.538462,1.307692,10.615385,15.846154,2.307692,1.846154,0.538462,0.153846,0.307692,0.692308,0.307692,0.000000,0.153846,13.0,0.555556,0.500000,0
Chelsea,2,1.834500,1.423625,1.750000,1.750000,1.250000,14.000000,11.750000,2.375000,2.000000,0.750000,0.125000,0.125000,0.250000,0.750000,0.000000,0.000000,8.0,0.500000,0.833333,0
Bournemouth,2,1.638200,1.860900,1.600000,2.000000,1.200000,13.800000,14.700000,2.200000,2.400000,0.800000,0.100000,0.100000,0.400000,0.600000,0.000000,-0.400000,10.0,0.750000,0.833333,0
Tottenham,2,1.245167,2.357833,1.666667,2.500000,1.166667,12.666667,16.166667,1.000000,3.666667,0.833333,0.000000,0.166667,0.666667,0.333333,0.000000,-0.833333,6.0,0.750000,1.000000,0
West Ham,2,1.489500,2.158750,1.375000,2.250000,1.125000,9.500000,19.375000,2.125000,2.625000,0.500000,0.375000,0.125000,0.375000,0.625000,0.000000,-0.875000,8.0,0.666667,0.400000,0
Newcastle United,2,1.347375,1.801750,1.750000,2.250000,1.125000,10.375000,14.250000,1.750000,1.875000,1.000000,0.000000,0.000000,0.375000,0.625000,0.000000,-0.500000,8.0,1.000000,1.000000,0
Wolverhampton Wanderers,2,1.218100,2.209300,1.500000,2.300000,1.100000,11.100000,15.000000,1.500000,3.000000,0.600000,0.400000,0.100000,0.200000,0.700000,0.100000,-0.800000,10.0,1.000000,0.571429,0
Brighton,2,1.778900,1.620800,1.500000,1.800000,1.100000,16.700000,11.600000,2.300000,1.900000,0.800000,0.200000,0.100000,0.300000,0.600000,0.100000,-0.300000,10.0,1.000000,0.833333,0
Leeds,2,1.129000,2.229333,2.000000,2.333333,1.000000,11.000000,18.333333,1.333333,3.000000,1.000000,0.000000,0.000000,0.666667,0.333333,0.000000,-0.333333,3.0,1.000000,1.000000,0
Manchester United,2,1.526900,1.977900,1.000000,1.500000,1.000000,14.900000,15.400000,1.800000,2.400000,0.300000,0.500000,0.200000,0.400000,0.600000,0.000000,-0.500000,10.0,0.500000,0.166667,0
Nottingham Forest,2,1.247273,1.660455,1.181818,1.727273,0.909091,9.545455,13.909091,1.818182,2.000000,0.636364,0.272727,0.181818,0.545455,0.363636,0.090909,-0.545455,11.0,0.833333,0.500000,0
Burnley,2,0.713625,2.122625,0.750000,1.625000,0.750000,7.750000,18.750000,0.750000,2.500000,0.375000,0.500000,0.125000,0.500000,0.500000,0.000000,-0.875000,8.0,0.750000,0.000000,0
Luton,2,1.331714,3.144714,1.285714,2.571429,0.428571,9.428571,20.714286,1.857143,4.000000,0.714286,0.285714,0.000000,0.000000,1.000000,0.000000,-1.285714,7.0,0.000000,0.714286,0
Fulham,2,0.999333,1.929667,0.333333,1.500000,0.333333,12.333333,15.333333,1.000000,2.166667,0.333333,0.666667,0.166667,0.000000,0.833333,0.166667,-1.166667,6.0,0.000000,0.400000,0
Crystal Palace,2,0.851333,1.937000,0.777778,2.222222,0.333333,10.888889,10.555556,0.666667,3.222222,0.666667,0.333333,0.000000,0.222222,0.777778,0.000000,-1.444444,9.0,1.000000,0.571429,0
Leicester,2,1.162000,1.944333,1.333333,2.333333,0.333333,7.666667,23.666667,1.666667,2.000000,0.666667,0.333333,0.333333,0.333333,0.333333,0.333333,-1.000000,3.0,1.000000,1.000000,0
Sheffield United,2,0.654375,1.999750,0.750000,2.000000,0.125000,9.000000,17.125000,0.500000,2.500000,0.625000,0.375000,0.000000,0.250000,0.750000,0.000000,-1.250000,8.0,1.000000,0.500000,0
Southampton,2,1.354500,2.595000,1.250000,2.750000,0.000000,9.500000,17.250000,2.000000,2.500000,0.750000,0.250000,0.000000,0.250000,0.750000,0.000000,-1.500000,4.0,1.000000,0.666667,0

In [187]:
# ML DFs for Rank vs Rank training
def rank_vs_rank_df(df1h,df2h,df3h,df1a,df2a,df3a):
    r1v1_h = df1h[df1h['Rank'] == 1]
    r2v1_h = df1h[df1h['Rank'] == 2]
    r3v1_h = df1h[df1h['Rank'] == 3]
    r1v2_h = df2h[df2h['Rank'] == 1]
    r2v2_h = df2h[df2h['Rank'] == 2]
    r3v2_h = df2h[df2h['Rank'] == 3]
    r1v3_h = df3h[df3h['Rank'] == 1]
    r2v3_h = df3h[df3h['Rank'] == 2]
    r3v3_h = df3h[df3h['Rank'] == 3]

    r1v1_a = df1a[df1a['Rank'] == 1]
    r2v1_a = df1a[df1a['Rank'] == 2]
    r3v1_a = df1a[df1a['Rank'] == 3]
    r1v2_a = df2a[df2a['Rank'] == 1]
    r2v2_a = df2a[df2a['Rank'] == 2]
    r3v2_a = df2a[df2a['Rank'] == 3]
    r1v3_a = df3a[df3a['Rank'] == 1]
    r2v3_a = df3a[df3a['Rank'] == 2]
    r3v3_a = df3a[df3a['Rank'] == 3]

    return r1v1_h, r2v1_h, r3v1_h, r1v2_h, r2v2_h, r3v2_h, r1v3_h, r2v3_h, r3v3_h, r1v1_a, r2v1_a, r3v1_a, r1v2_a, r2v2_a, r3v2_a, r1v3_a, r2v3_a, r3v3_a

eng_1v1_df_h, eng_2v1_df_h, eng_3v1_df_h, eng_1v2_df_h, eng_2v2_df_h, eng_3v2_df_h, eng_1v3_df_h, eng_2v3_df_h, eng_3v3_df_h, eng_1v1_df_a, eng_2v1_df_a, eng_3v1_df_a, eng_1v2_df_a, eng_2v2_df_a, eng_3v2_df_a, eng_1v3_df_a, eng_2v3_df_a, eng_3v3_df_a = rank_vs_rank_df(eng_r1_h_df, eng_r2_h_df,eng_r3_h_df,eng_r1_a_df,eng_r2_a_df,eng_r3_a_df) 
fra_1v1_df_h, fra_2v1_df_h, fra_3v1_df_h, fra_1v2_df_h, fra_2v2_df_h, fra_3v2_df_h, fra_1v3_df_h, fra_2v3_df_h, fra_3v3_df_h, fra_1v1_df_a, fra_2v1_df_a, fra_3v1_df_a, fra_1v2_df_a, fra_2v2_df_a, fra_3v2_df_a, fra_1v3_df_a, fra_2v3_df_a, fra_3v3_df_a = rank_vs_rank_df(fra_r1_h_df, fra_r2_h_df,fra_r3_h_df,fra_r1_a_df,fra_r2_a_df,fra_r3_a_df) 
ger_1v1_df_h, ger_2v1_df_h, ger_3v1_df_h, ger_1v2_df_h, ger_2v2_df_h, ger_3v2_df_h, ger_1v3_df_h, ger_2v3_df_h, ger_3v3_df_h, ger_1v1_df_a, ger_2v1_df_a, ger_3v1_df_a, ger_1v2_df_a, ger_2v2_df_a, ger_3v2_df_a, ger_1v3_df_a, ger_2v3_df_a, ger_3v3_df_a = rank_vs_rank_df(ger_r1_h_df, ger_r2_h_df,ger_r3_h_df,ger_r1_a_df,ger_r2_a_df,ger_r3_a_df) 
ita_1v1_df_h, ita_2v1_df_h, ita_3v1_df_h, ita_1v2_df_h, ita_2v2_df_h, ita_3v2_df_h, ita_1v3_df_h, ita_2v3_df_h, ita_3v3_df_h, ita_1v1_df_a, ita_2v1_df_a, ita_3v1_df_a, ita_1v2_df_a, ita_2v2_df_a, ita_3v2_df_a, ita_1v3_df_a, ita_2v3_df_a, ita_3v3_df_a = rank_vs_rank_df(ita_r1_h_df, ita_r2_h_df,ita_r3_h_df,ita_r1_a_df,ita_r2_a_df,ita_r3_a_df) 
spa_1v1_df_h, spa_2v1_df_h, spa_3v1_df_h, spa_1v2_df_h, spa_2v2_df_h, spa_3v2_df_h, spa_1v3_df_h, spa_2v3_df_h, spa_3v3_df_h, spa_1v1_df_a, spa_2v1_df_a, spa_3v1_df_a, spa_1v2_df_a, spa_2v2_df_a, spa_3v2_df_a, spa_1v3_df_a, spa_2v3_df_a, spa_3v3_df_a = rank_vs_rank_df(spa_r1_h_df, spa_r2_h_df,spa_r3_h_df,spa_r1_a_df,spa_r2_a_df,spa_r3_a_df) 
spa_3v3_df_a

,Unnamed: 0,date,ID,Team,H/A,xG,xGC,G,GC,S,...,first_goal,first_conc,match_ID,played,0_0,Rankvs,Rank,win,draw,lose
31,0,2024-03-02 15:15:00,Cadiz22949,Cadiz,a,1.216,0.688,1,1,15,...,0,1,22949,1,0,3,3,0,1,0
33,0,2024-03-01 20:00:00,Almeria22948,Almeria,a,0.330,1.823,0,1,3,...,0,1,22948,1,0,3,3,0,0,1
69,0,2024-02-18 15:15:00,Almeria22929,Almeria,a,0.699,1.796,1,1,13,...,1,0,22929,1,0,3,3,0,1,0
183,0,2024-01-03 16:00:00,Cadiz22872,Cadiz,a,0.747,3.877,0,2,15,...,0,1,22872,1,0,3,3,0,0,1
237,0,2023-12-17 13:00:00,Mallorca22845,Mallorca,a,1.514,0.315,0,0,20,...,0,0,22845,1,1,3,3,0,1,0
233,0,2023-12-16 13:00:00,Granada22847,Granada,a,0.690,1.351,0,1,7,...,0,1,22847,1,0,3,3,0,0,1
241,0,2023-12-11 20:00:00,Celta Vigo22843,Celta Vigo,a,0.126,1.341,0,0,4,...,0,0,22843,1,1,3,3,0,1,0
265,0,2023-12-04 20:00:00,Cadiz22831,Cadiz,a,0.347,2.736,1,1,2,...,1,0,22831,1,0,3,3,0,1,0
417,0,2023-10-01 12:00:00,Granada22755,Granada,a,3.614,2.242,3,3,19,...,0,1,22755,1,0,3,3,0,1,0
399,0,2023-09-30 14:15:00,Mallorca22764,Mallorca,a,1.337,1.786,2,2,9,...,0,1,22764,1,0,3,3,0,1,0
433,0,2023-09-26 17:00:00,Almeria22747,Almeria,a,1.371,2.917,1,5,10,...,0,1,22747,1,0,3,3,0,0,1
473,0,2023-09-16 16:30:00,Mallorca22727,Mallorca,a,0.871,2.065,1,0,7,...,1,0,22727,1,0,3,3,1,0,0
497,0,2023-09-01 20:00:00,Celta Vigo22715,Celta Vigo,a,1.971,3.164,3,2,14,...,1,0,22715,1,0,3,3,1,0,0
511,0,2023-08-26 17:30:00,Mallorca22708,Mallorca,a,2.534,1.816,2,3,10,...,0,1,22708,1,0,3,3,0,0,1
569,0,2023-06-04 18:00:00,Cadiz19336,Cadiz,a,2.230,1.534,1,1,14,...,1,0,19336,1,0,3,3,0,1,0
567,0,2023-06-04 18:00:00,Almeria19337,Almeria,a,2.035,0.502,3,3,11,...,1,0,19337,1,0,3,3,0,1,0
585,0,2023-05-28 17:00:00,Real Valladolid19328,Real Valladolid,a,0.364,1.559,0,0,8,...,0,0,19328,1,1,3,3,0,1,0
627,0,2023-05-21 12:00:00,Espanyol19307,Espanyol,a,1.346,1.831,2,1,10,...,1,0,19307,1,0,3,3,1,0,0
635,0,2023-05-20 16:30:00,Mallorca19303,Mallorca,a,0.360,1.707,0,3,7,...,0,1,19303,1,0,3,3,0,0,1
667,0,2023-05-04 20:00:00,Real Valladolid19287,Real Valladolid,a,0.571,1.570,1,2,7,...,0,1,19287,1,0,3,3,0,0,1
659,0,2023-05-04 17:30:00,Espanyol19291,Espanyol,a,0.618,2.902,2,3,7,...,0,1,19291,1,0,3,3,0,0,1
665,0,2023-05-02 17:30:00,Elche19288,Elche,a,1.014,1.825,1,2,14,...,0,1,19288,1,0,3,3,0,0,1
711,0,2023-04-26 20:00:00,Elche19265,Elche,a,1.490,1.435,0,1,12,...,0,1,19265,1,0,3,3,0,0,1
723,0,2023-04-21 19:00:00,Cadiz19259,Cadiz,a,1.127,1.537,0,0,11,...,0,0,19259,1,1,3,3,0,1,0
753,0,2023-04-17 19:00:00,Mallorca19244,Mallorca,a,1.184,0.469,1,0,8,...,1,0,19244,1,0,3,3,1,0,0

In [173]:
with pd.ExcelWriter("../EDA_DF/EPL_understat.xlsx") as writer:
    eng_df_updated.to_excel(writer, sheet_name="gamesheet")
    r1_h_eng.to_excel(writer, sheet_name="rank1_home")
    r2_h_eng.to_excel(writer, sheet_name="rank2_home")
    r3_h_eng.to_excel(writer, sheet_name="rank3_home")
    r1_a_eng.to_excel(writer, sheet_name="rank1_away")
    r2_a_eng.to_excel(writer, sheet_name="rank2_away")
    r3_a_eng.to_excel(writer, sheet_name="rank3_away")
    eng_r1_h_df.to_excel(writer, sheet_name="versus_rank1_home_df")
    eng_r2_h_df.to_excel(writer, sheet_name="versus_rank2_home_df")
    eng_r3_h_df.to_excel(writer, sheet_name="versus_rank3_home_df")
    eng_r1_a_df.to_excel(writer, sheet_name="versus_rank1_away_df")
    eng_r2_a_df.to_excel(writer, sheet_name="versus_rank2_away_df")
    eng_r3_a_df.to_excel(writer, sheet_name="versus_rank3_away_df")
    eng_l10.to_excel(writer, sheet_name='last10_gamesheet')
    eng_l10_table_h.to_excel(writer, sheet_name="last10_home")
    eng_l10_table_a.to_excel(writer, sheet_name="last10_away")
    eng_table_h.to_excel(writer, sheet_name="home")
    eng_table_a.to_excel(writer, sheet_name="away")

with pd.ExcelWriter("../EDA_DF/Ligue1_understat.xlsx") as writer:
    fra_df_updated.to_excel(writer, sheet_name="gamesheet")
    r1_h_fra.to_excel(writer, sheet_name="rank1_home")
    r2_h_fra.to_excel(writer, sheet_name="rank2_home")
    r3_h_fra.to_excel(writer, sheet_name="rank3_home")
    r1_a_fra.to_excel(writer, sheet_name="rank1_away")
    r2_a_fra.to_excel(writer, sheet_name="rank2_away")
    r3_a_fra.to_excel(writer, sheet_name="rank3_away")
    fra_r1_h_df.to_excel(writer, sheet_name="versus_rank1_home_df")
    fra_r2_h_df.to_excel(writer, sheet_name="versus_rank2_home_df")
    fra_r3_h_df.to_excel(writer, sheet_name="versus_rank3_home_df")
    fra_r1_a_df.to_excel(writer, sheet_name="versus_rank1_away_df")
    fra_r2_a_df.to_excel(writer, sheet_name="versus_rank2_away_df")
    fra_r3_a_df.to_excel(writer, sheet_name="versus_rank3_away_df")
    fra_l10.to_excel(writer, sheet_name='last10_gamesheet')
    fra_l10_table_h.to_excel(writer, sheet_name="last10_home")
    fra_l10_table_a.to_excel(writer, sheet_name="last10_away")
    fra_table_h.to_excel(writer, sheet_name="home")
    fra_table_a.to_excel(writer, sheet_name="away")

with pd.ExcelWriter("../EDA_DF/Bundesliga_understat.xlsx") as writer:
    ger_df_updated.to_excel(writer, sheet_name="gamesheet")
    r1_h_ger.to_excel(writer, sheet_name="rank1_home")
    r2_h_ger.to_excel(writer, sheet_name="rank2_home")
    r3_h_ger.to_excel(writer, sheet_name="rank3_home")
    r1_a_ger.to_excel(writer, sheet_name="rank1_away")
    r2_a_ger.to_excel(writer, sheet_name="rank2_away")
    r3_a_ger.to_excel(writer, sheet_name="rank3_away")
    ger_r1_h_df.to_excel(writer, sheet_name="versus_rank1_home_df")
    ger_r2_h_df.to_excel(writer, sheet_name="versus_rank2_home_df")
    ger_r3_h_df.to_excel(writer, sheet_name="versus_rank3_home_df")
    ger_r1_a_df.to_excel(writer, sheet_name="versus_rank1_away_df")
    ger_r2_a_df.to_excel(writer, sheet_name="versus_rank2_away_df")
    ger_r3_a_df.to_excel(writer, sheet_name="versus_rank3_away_df")
    ger_l10.to_excel(writer, sheet_name='last10_gamesheet')
    ger_l10_table_h.to_excel(writer, sheet_name="last10_home")
    ger_l10_table_a.to_excel(writer, sheet_name="last10_away")
    ger_table_h.to_excel(writer, sheet_name="home")
    ger_table_a.to_excel(writer, sheet_name="away")

with pd.ExcelWriter("../EDA_DF/SerieA_understat.xlsx") as writer:
    ita_df_updated.to_excel(writer, sheet_name="gamesheet")
    r1_h_ita.to_excel(writer, sheet_name="rank1_home")
    r2_h_ita.to_excel(writer, sheet_name="rank2_home")
    r3_h_ita.to_excel(writer, sheet_name="rank3_home")
    r1_a_ita.to_excel(writer, sheet_name="rank1_away")
    r2_a_ita.to_excel(writer, sheet_name="rank2_away")
    r3_a_ita.to_excel(writer, sheet_name="rank3_away")
    ita_r1_h_df.to_excel(writer, sheet_name="versus_rank1_home_df")
    ita_r2_h_df.to_excel(writer, sheet_name="versus_rank2_home_df")
    ita_r3_h_df.to_excel(writer, sheet_name="versus_rank3_home_df")
    ita_r1_a_df.to_excel(writer, sheet_name="versus_rank1_away_df")
    ita_r2_a_df.to_excel(writer, sheet_name="versus_rank2_away_df")
    ita_r3_a_df.to_excel(writer, sheet_name="versus_rank3_away_df")
    ita_l10.to_excel(writer, sheet_name='last10_gamesheet')
    ita_l10_table_h.to_excel(writer, sheet_name="last10_home")
    ita_l10_table_a.to_excel(writer, sheet_name="last10_away")
    ita_table_h.to_excel(writer, sheet_name="home")
    ita_table_a.to_excel(writer, sheet_name="away")
    
with pd.ExcelWriter("../EDA_DF/LaLiga_understat.xlsx") as writer:
    spa_df_updated.to_excel(writer, sheet_name="gamesheet")
    r1_h_spa.to_excel(writer, sheet_name="rank1_home")
    r2_h_spa.to_excel(writer, sheet_name="rank2_home")
    r3_h_spa.to_excel(writer, sheet_name="rank3_home")
    r1_a_spa.to_excel(writer, sheet_name="rank1_away")
    r2_a_spa.to_excel(writer, sheet_name="rank2_away")
    r3_a_spa.to_excel(writer, sheet_name="rank3_away")
    spa_r1_h_df.to_excel(writer, sheet_name="versus_rank1_home_df")
    spa_r2_h_df.to_excel(writer, sheet_name="versus_rank2_home_df")
    spa_r3_h_df.to_excel(writer, sheet_name="versus_rank3_home_df")
    spa_r1_a_df.to_excel(writer, sheet_name="versus_rank1_away_df")
    spa_r2_a_df.to_excel(writer, sheet_name="versus_rank2_away_df")
    spa_r3_a_df.to_excel(writer, sheet_name="versus_rank3_away_df")
    spa_l10.to_excel(writer, sheet_name='last10_gamesheet')
    spa_l10_table_h.to_excel(writer, sheet_name="last10_home")
    spa_l10_table_a.to_excel(writer, sheet_name="last10_away")
    spa_table_h.to_excel(writer, sheet_name="home")
    spa_table_a.to_excel(writer, sheet_name="away")

In [188]:
# For ML learning model

with pd.ExcelWriter("../EDA_DF/EPL_Rank_ML.xlsx") as writer:
    eng_1v1_df_h.to_excel(writer, sheet_name="1v1_home")
    eng_2v1_df_h.to_excel(writer, sheet_name="2v1_home")
    eng_3v1_df_h.to_excel(writer, sheet_name="3v1_home")
    eng_1v2_df_h.to_excel(writer, sheet_name="1v2_home")
    eng_2v2_df_h.to_excel(writer, sheet_name="2v2_home")
    eng_3v2_df_h.to_excel(writer, sheet_name="3v2_home")
    eng_1v3_df_h.to_excel(writer, sheet_name="1v3_home")
    eng_2v3_df_h.to_excel(writer, sheet_name="2v3_home")
    eng_3v3_df_h.to_excel(writer, sheet_name="3v3_home")
    eng_1v1_df_a.to_excel(writer, sheet_name="1v1_away")
    eng_2v1_df_a.to_excel(writer, sheet_name="2v1_away")
    eng_3v1_df_a.to_excel(writer, sheet_name="3v1_away")
    eng_1v2_df_a.to_excel(writer, sheet_name="1v2_away")
    eng_2v2_df_a.to_excel(writer, sheet_name="2v2_away")
    eng_3v2_df_a.to_excel(writer, sheet_name="3v2_away")
    eng_1v3_df_a.to_excel(writer, sheet_name="1v3_away")
    eng_2v3_df_a.to_excel(writer, sheet_name="2v3_away")
    eng_3v3_df_a.to_excel(writer, sheet_name="3v3_away")

with pd.ExcelWriter("../EDA_DF/Ligue1_Rank_ML.xlsx") as writer:
    fra_1v1_df_h.to_excel(writer, sheet_name="1v1_home")
    fra_2v1_df_h.to_excel(writer, sheet_name="2v1_home")
    fra_3v1_df_h.to_excel(writer, sheet_name="3v1_home")
    fra_1v2_df_h.to_excel(writer, sheet_name="1v2_home")
    fra_2v2_df_h.to_excel(writer, sheet_name="2v2_home")
    fra_3v2_df_h.to_excel(writer, sheet_name="3v2_home")
    fra_1v3_df_h.to_excel(writer, sheet_name="1v3_home")
    fra_2v3_df_h.to_excel(writer, sheet_name="2v3_home")
    fra_3v3_df_h.to_excel(writer, sheet_name="3v3_home")
    fra_1v1_df_a.to_excel(writer, sheet_name="1v1_away")
    fra_2v1_df_a.to_excel(writer, sheet_name="2v1_away")
    fra_3v1_df_a.to_excel(writer, sheet_name="3v1_away")
    fra_1v2_df_a.to_excel(writer, sheet_name="1v2_away")
    fra_2v2_df_a.to_excel(writer, sheet_name="2v2_away")
    fra_3v2_df_a.to_excel(writer, sheet_name="3v2_away")
    fra_1v3_df_a.to_excel(writer, sheet_name="1v3_away")
    fra_2v3_df_a.to_excel(writer, sheet_name="2v3_away")
    fra_3v3_df_a.to_excel(writer, sheet_name="3v3_away")

with pd.ExcelWriter("../EDA_DF/Bundesliga_Rank_ML.xlsx") as writer:
    ger_1v1_df_h.to_excel(writer, sheet_name="1v1_home")
    ger_2v1_df_h.to_excel(writer, sheet_name="2v1_home")
    ger_3v1_df_h.to_excel(writer, sheet_name="3v1_home")
    ger_1v2_df_h.to_excel(writer, sheet_name="1v2_home")
    ger_2v2_df_h.to_excel(writer, sheet_name="2v2_home")
    ger_3v2_df_h.to_excel(writer, sheet_name="3v2_home")
    ger_1v3_df_h.to_excel(writer, sheet_name="1v3_home")
    ger_2v3_df_h.to_excel(writer, sheet_name="2v3_home")
    ger_3v3_df_h.to_excel(writer, sheet_name="3v3_home")
    ger_1v1_df_a.to_excel(writer, sheet_name="1v1_away")
    ger_2v1_df_a.to_excel(writer, sheet_name="2v1_away")
    ger_3v1_df_a.to_excel(writer, sheet_name="3v1_away")
    ger_1v2_df_a.to_excel(writer, sheet_name="1v2_away")
    ger_2v2_df_a.to_excel(writer, sheet_name="2v2_away")
    ger_3v2_df_a.to_excel(writer, sheet_name="3v2_away")
    ger_1v3_df_a.to_excel(writer, sheet_name="1v3_away")
    ger_2v3_df_a.to_excel(writer, sheet_name="2v3_away")
    ger_3v3_df_a.to_excel(writer, sheet_name="3v3_away")

with pd.ExcelWriter("../EDA_DF/SerieA_Rank_ML.xlsx") as writer:
    ita_1v1_df_h.to_excel(writer, sheet_name="1v1_home")
    ita_2v1_df_h.to_excel(writer, sheet_name="2v1_home")
    ita_3v1_df_h.to_excel(writer, sheet_name="3v1_home")
    ita_1v2_df_h.to_excel(writer, sheet_name="1v2_home")
    ita_2v2_df_h.to_excel(writer, sheet_name="2v2_home")
    ita_3v2_df_h.to_excel(writer, sheet_name="3v2_home")
    ita_1v3_df_h.to_excel(writer, sheet_name="1v3_home")
    ita_2v3_df_h.to_excel(writer, sheet_name="2v3_home")
    ita_3v3_df_h.to_excel(writer, sheet_name="3v3_home")
    ita_1v1_df_a.to_excel(writer, sheet_name="1v1_away")
    ita_2v1_df_a.to_excel(writer, sheet_name="2v1_away")
    ita_3v1_df_a.to_excel(writer, sheet_name="3v1_away")
    ita_1v2_df_a.to_excel(writer, sheet_name="1v2_away")
    ita_2v2_df_a.to_excel(writer, sheet_name="2v2_away")
    ita_3v2_df_a.to_excel(writer, sheet_name="3v2_away")
    ita_1v3_df_a.to_excel(writer, sheet_name="1v3_away")
    ita_2v3_df_a.to_excel(writer, sheet_name="2v3_away")
    ita_3v3_df_a.to_excel(writer, sheet_name="3v3_away")

with pd.ExcelWriter("../EDA_DF/LaLiga_Rank_ML.xlsx") as writer:
    spa_1v1_df_h.to_excel(writer, sheet_name="1v1_home")
    spa_2v1_df_h.to_excel(writer, sheet_name="2v1_home")
    spa_3v1_df_h.to_excel(writer, sheet_name="3v1_home")
    spa_1v2_df_h.to_excel(writer, sheet_name="1v2_home")
    spa_2v2_df_h.to_excel(writer, sheet_name="2v2_home")
    spa_3v2_df_h.to_excel(writer, sheet_name="3v2_home")
    spa_1v3_df_h.to_excel(writer, sheet_name="1v3_home")
    spa_2v3_df_h.to_excel(writer, sheet_name="2v3_home")
    spa_3v3_df_h.to_excel(writer, sheet_name="3v3_home")
    spa_1v1_df_a.to_excel(writer, sheet_name="1v1_away")
    spa_2v1_df_a.to_excel(writer, sheet_name="2v1_away")
    spa_3v1_df_a.to_excel(writer, sheet_name="3v1_away")
    spa_1v2_df_a.to_excel(writer, sheet_name="1v2_away")
    spa_2v2_df_a.to_excel(writer, sheet_name="2v2_away")
    spa_3v2_df_a.to_excel(writer, sheet_name="3v2_away")
    spa_1v3_df_a.to_excel(writer, sheet_name="1v3_away")
    spa_2v3_df_a.to_excel(writer, sheet_name="2v3_away")
    spa_3v3_df_a.to_excel(writer, sheet_name="3v3_away")