In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime

In [3]:
eng_df = pd.read_excel(r'EPL_understat.xlsx',sheet_name='gamesheet')
eng_df = eng_df.sort_values(by='date',ascending=False)
fra_df = pd.read_excel(r'Ligue1_understat.xlsx',sheet_name='gamesheet')
fra_df = fra_df.sort_values(by='date',ascending=False)
ger_df = pd.read_excel(r'Bundesliga_understat.xlsx',sheet_name='gamesheet')
ger_df = ger_df.sort_values(by='date',ascending=False)
ita_df = pd.read_excel(r'SerieA_understat.xlsx',sheet_name='gamesheet')
ita_df = ita_df.sort_values(by='date',ascending=False)
spa_df = pd.read_excel(r'LaLiga_understat.xlsx',sheet_name='gamesheet')
spa_df = spa_df.sort_values(by='date',ascending=False)

In [124]:
eng_df

,Unnamed: 0,date,ID,Team,H/A,xG,xGC,G,GC,S,SC,QS,QSC,Pts,Opp,BTTS,Blank,CS,first_goal,first_conc
62,0,2024-02-26 20:00:00,West Ham22153,West Ham,h,2.097,1.360,4,2,17,14,3,2,3,Brentford,1,0,0,1,0
63,0,2024-02-26 20:00:00,Brentford22153,Brentford,a,1.360,2.097,2,4,14,17,2,3,0,West Ham,1,0,0,0,1
60,0,2024-02-25 13:30:00,Wolverhampton Wanderers22154,Wolverhampton Wanderers,h,1.216,0.657,1,0,13,12,1,0,3,Sheffield United,0,0,1,1,0
61,0,2024-02-25 13:30:00,Sheffield United22154,Sheffield United,a,0.657,1.216,0,1,12,13,0,1,0,Wolverhampton Wanderers,0,1,0,0,1
75,0,2024-02-24 20:00:00,Newcastle United22146,Newcastle United,a,0.217,2.593,1,4,4,18,0,3,0,Arsenal,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
755,0,2023-03-11 12:30:00,Liverpool18462,Liverpool,a,2.135,1.101,0,1,15,5,4,2,0,Bournemouth,0,1,0,0,1
758,0,2023-03-04 17:30:00,Southampton18460,Southampton,h,1.343,1.671,1,0,11,11,1,3,3,Leicester,0,0,1,1,0
759,0,2023-03-04 17:30:00,Leicester18460,Leicester,a,1.671,1.343,0,1,11,11,3,1,0,Southampton,0,1,0,0,1
756,0,2023-03-04 15:00:00,Wolverhampton Wanderers18461,Wolverhampton Wanderers,h,0.565,1.264,1,0,8,22,0,0,3,Tottenham,0,0,1,1,0
757,0,2023-03-04 15:00:00,Tottenham18461,Tottenham,a,1.264,0.565,0,1,22,8,0,0,0,Wolverhampton Wanderers,0,1,0,0,1

In [4]:
teamlist_eng = []
teamlist_fra = []
teamlist_ger = []
teamlist_ita = []
teamlist_spa = []

In [5]:
def teamlist(df,teamlist):
    team_array = df["Team"].unique()
    for team in team_array:
        teamlist.append(team)
    teamlist = sorted(set(teamlist))
    return teamlist

In [6]:
teamlist_eng = teamlist(eng_df, teamlist_eng)
teamlist_fra = teamlist(fra_df, teamlist_fra)
teamlist_ger = teamlist(ger_df, teamlist_ger)
teamlist_ita = teamlist(ita_df, teamlist_ita)
teamlist_spa = teamlist(spa_df, teamlist_spa)
# teamlist_spa

In [7]:
def last10(df):

    temp_df = df
    temp_df['played'] = 1
    temp_df['date'] = pd.to_datetime(temp_df['date'])
    temp_df['date_int'] = (datetime.datetime.now()) - (temp_df['date'])
    temp_df = temp_df.groupby(['Team'],as_index=False).apply(lambda x: x.nsmallest(10, 'date_int'))
    temp_df.reset_index(inplace=True)
    temp_df.drop(['level_0','level_1','date_int'],axis=1,inplace=True)
    return temp_df

In [8]:
eng_l10 = last10(eng_df)
fra_l10 = last10(fra_df)
ger_l10 = last10(ger_df)
ita_l10 = last10(ita_df)
spa_l10 = last10(spa_df)
spa_l10

C:\Users\User\AppData\Local\Temp\ipykernel_16200\99453013.py:7: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  temp_df = temp_df.groupby(['Team'],as_index=False).apply(lambda x: x.nsmallest(10, 'date_int'))
C:\Users\User\AppData\Local\Temp\ipykernel_16200\99453013.py:7: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  temp_df = temp_df.groupby(['Team'],as_index=False).apply(lambda x: x.nsmallest(10, 'date_int'))
C:\Users\User\AppData\Local\Temp\ipykernel_16200\99453013.py:7: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  temp_df = temp_df.groupby(['Team'],as_index=False).apply(lambda x: x.nsmallest(10, 'date_int'))
C:\Users\User\AppData\Local\Temp\ipykernel_16200\99453013.py:7: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  temp_df = temp_df.groupby(['Team'],as_index=False).apply(lambda x: x.nsmallest(10, 'date_int'))
C:\Users\User\AppData\Local\Temp\ipykernel_16200\99453013.py:7: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  temp_df = temp_df.groupby(['Team'],as_index=False).apply(lambda x: x.nsmallest(10, 'date_int'))

,Unnamed: 0,date,ID,Team,H/A,xG,xGC,G,GC,S,...,QS,QSC,Pts,Opp,BTTS,Blank,CS,first_goal,first_conc,played
0,0,2024-03-04 20:00:00,Alaves22954,Alaves,a,1.145,1.716,0,1,10,...,2,3,0,Osasuna,0,1,0,0,1,1
1,0,2024-02-24 17:30:00,Alaves22943,Alaves,h,0.502,1.822,1,1,9,...,0,2,1,Mallorca,1,0,0,1,0,1
2,0,2024-02-18 20:00:00,Alaves22934,Alaves,a,0.491,1.183,0,0,13,...,0,2,1,Real Betis,0,1,1,0,0,1
3,0,2024-02-10 13:00:00,Alaves22919,Alaves,h,2.161,1.290,1,1,17,...,3,1,1,Villarreal,1,0,0,1,0,1
4,0,2024-02-03 17:30:00,Alaves22910,Alaves,h,1.157,1.558,1,3,13,...,2,3,0,Barcelona,1,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225,0,2024-01-27 17:30:00,Villarreal22896,Villarreal,a,2.703,2.028,5,3,10,...,4,2,3,Barcelona,1,0,0,1,0,1
226,0,2024-01-20 15:15:00,Villarreal22893,Villarreal,h,1.733,0.431,1,1,18,...,1,0,1,Mallorca,1,0,0,1,0,1
227,0,2024-01-13 13:00:00,Villarreal22882,Villarreal,a,1.712,0.964,0,3,17,...,3,1,0,Las Palmas,0,1,0,0,1,1
228,0,2024-01-02 20:30:00,Villarreal22866,Villarreal,a,1.154,2.781,1,3,8,...,2,4,0,Valencia,1,0,0,0,1,1
229,0,2023-12-20 20:30:00,Villarreal22864,Villarreal,h,2.658,1.989,3,2,12,...,4,3,3,Celta Vigo,1,0,0,1,0,1

In [9]:
def table_creator(df):
    df['match_ID'] = df['ID'].apply(lambda x:x[-5:])
    df['match_ID'] = pd.to_numeric(df['match_ID'])
    df['played'] = 1
    # df = df[~(df['match_ID'] <= 21925)]
    df_ov = df.groupby(["Team"]).agg({'played':'sum', 'xG':'sum','xGC':'sum', 'G':'sum', 'GC':'sum', 'Pts':'sum',
                                      'S':'sum', 'SC':'sum', 'QS': 'sum','QSC':'sum',
                                             'BTTS':'sum', 'Blank':'sum', 'CS':'sum','first_goal':'sum','first_conc':'sum'})
    df_ov['played'] = pd.to_numeric(df_ov['played'])
    df_ov['Pts'] = pd.to_numeric(df_ov['Pts'])
    df_ov['G'] = pd.to_numeric(df_ov['G'])
    df_ov['GC'] = pd.to_numeric(df_ov['GC'])
    df_ov['GD'] = df_ov['G'] - df_ov['GC']
    df_ov['PPG'] = round(df_ov['Pts'] / df_ov['played'],2)
    df_ov = df_ov[~(df_ov['played'] <= 20)]
    df_ov = df_ov[['played','G','GC','GD','Pts','PPG','S','SC','QS','QSC','BTTS','Blank','CS','first_goal','first_conc']]
    df_ov = df_ov.sort_values('PPG', ascending=False)
    return df_ov

In [10]:
eng_l10_table = table_creator(eng_df)
fra_l10_table = table_creator(fra_df)
ger_l10_table = table_creator(ger_df)
ita_l10_table = table_creator(ita_df)
spa_l10_table = table_creator(spa_df)

In [11]:
def home_away_table_form(df):
    df_h_a = df.groupby(["Team","H/A"]).agg({'played':'sum', 'xG':'sum', 'xGC':'sum','G':'sum', 'GC':'sum', 'Pts':'sum',
                                             'S':'sum', 'SC':'sum', 'QS': 'sum','QSC':'sum',
                                             'BTTS':'sum', 'Blank':'sum', 'CS':'sum','first_goal':'sum','first_conc':'sum'})
    h_a_sep = [x for _, x in df_h_a.groupby("H/A")]
    away_table = h_a_sep[0].droplevel("H/A")
    home_table = h_a_sep[1].droplevel("H/A")
    home_table = home_table.apply(pd.to_numeric)
    away_table = away_table.apply(pd.to_numeric)
    home_table['GD'] = home_table['G'] - home_table['GC']
    away_table['GD'] = away_table['G'] - away_table['GC']
    home_table['PPG'] = round(home_table['Pts'] / home_table['played'],2)
    away_table['PPG'] = round(away_table['Pts'] / away_table['played'],2)
    home_table['BTTS%'] = round(home_table['BTTS'] / home_table['played'],2)
    away_table['BTTS%'] = round(away_table['BTTS'] / away_table['played'],2)
    home_table['Blank%'] = round(home_table['Blank'] / home_table['played'],2)
    away_table['Blank%'] = round(away_table['Blank'] / away_table['played'],2)
    home_table['CS%'] = round(home_table['CS'] / home_table['played'],2)
    away_table['CS%'] = round(away_table['CS'] / away_table['played'],2)
    home_table['FG%'] = round(home_table['first_goal'] / home_table['played'],2)
    away_table['FG%'] = round(away_table['first_goal'] / away_table['played'],2)
    home_table['FC%'] = round(home_table['first_conc'] / home_table['played'],2)
    away_table['FC%'] = round(away_table['first_conc'] / away_table['played'],2)
    home_table = home_table[['played','xG','xGC','G','GC','GD','Pts','PPG','S','SC','QS','QSC','BTTS%','Blank%','CS%','FG%','FC%']]
    away_table = away_table[['played','xG','xGC','G','GC','GD','Pts','PPG','S','SC','QS','QSC','BTTS%','Blank%','CS%','FG%','FC%']]
    home_table = home_table.sort_values('PPG', ascending=False)
    away_table = away_table.sort_values('PPG', ascending=False)

    return home_table, away_table

In [12]:
eng_l10_table_h,eng_l10_table_a = home_away_table_form(eng_l10)
with pd.ExcelWriter("../EDA_DF/EPL_last10.xlsx") as writer:
    eng_l10_table_h.to_excel(writer, sheet_name="last10_home")
    eng_l10_table_a.to_excel(writer, sheet_name="last10_away")

eng_l10_table_h

,played,xG,xGC,G,GC,GD,Pts,PPG,S,SC,QS,QSC,BTTS%,Blank%,CS%,FG%,FC%
Team,,,,,,,,,,,,,,,,,
Manchester City,6,13.650,4.442,12,3,9,16,2.67,135,34,16,6,0.50,0.00,0.50,0.67,0.33
Liverpool,5,18.638,4.352,16,6,10,13,2.60,129,43,25,7,1.00,0.00,0.00,0.60,0.40
Tottenham,6,13.653,8.777,14,8,6,15,2.50,89,74,20,12,1.00,0.00,0.00,0.33,0.67
Arsenal,4,12.024,2.645,12,4,8,9,2.25,85,33,20,2,0.50,0.25,0.25,0.75,0.25
Chelsea,4,10.460,4.597,7,5,2,9,2.25,57,47,17,4,0.50,0.00,0.50,1.00,0.00
Crystal Palace,5,7.563,4.751,11,7,4,10,2.00,64,52,8,6,0.80,0.00,0.20,0.60,0.40
Brighton,4,8.940,3.831,9,4,5,8,2.00,62,40,13,3,0.75,0.25,0.25,0.50,0.25
Wolverhampton Wanderers,5,9.010,8.032,9,7,2,9,1.80,72,68,10,10,0.40,0.20,0.40,0.60,0.40
Manchester United,4,5.078,5.484,9,6,3,7,1.75,55,65,5,3,0.75,0.00,0.25,0.50,0.50
Fulham,6,9.880,10.351,9,6,3,10,1.67,93,93,14,15,0.50,0.33,0.33,0.33,0.50
West Ham,5,6.106,9.439,7,9,-2,8,1.60,49,81,8,13,0.40,0.40,0.40,0.40,0.40
Aston Villa,5,12.398,9.815,10,10,0,7,1.40,82,55,16,15,1.00,0.00,0.00,0.40,0.60
Leicester,5,9.380,8.616,6,8,-2,7,1.40,61,90,12,8,0.60,0.40,0.00,0.20,0.80
Luton,6,14.611,11.793,11,11,0,6,1.00,104,76,16,15,0.67,0.00,0.33,0.33,0.67
Newcastle United,5,12.420,10.957,12,12,0,5,1.00,81,77,16,12,0.80,0.00,0.20,0.60,0.40
Nottingham Forest,6,6.788,6.295,9,10,-1,6,1.00,68,86,10,5,0.67,0.17,0.17,0.50,0.50
Bournemouth,4,5.030,4.303,4,6,-2,4,1.00,49,45,6,5,0.25,0.50,0.25,0.50,0.50
Brentford,5,9.888,10.548,8,15,-7,4,0.80,63,80,15,18,1.00,0.00,0.00,0.20,0.80
Everton,5,11.292,7.478,5,9,-4,3,0.60,72,70,17,8,0.80,0.20,0.20,0.40,0.40
Leeds,5,7.549,12.421,6,18,-12,2,0.40,65,73,9,17,1.00,0.00,0.00,0.60,0.40
Burnley,5,5.461,7.590,3,12,-9,2,0.40,62,74,7,6,0.40,0.60,0.00,0.20,0.80
Sheffield United,5,9.612,12.508,4,21,-17,1,0.20,66,88,14,14,0.40,0.60,0.00,0.00,1.00
Southampton,5,3.138,10.219,5,13,-8,1,0.20,46,77,2,15,0.40,0.60,0.00,0.00,1.00

In [13]:
fra_l10_table_h,fra_l10_table_a = home_away_table_form(fra_l10)
with pd.ExcelWriter("../EDA_DF/Ligue1_last10.xlsx") as writer:
    fra_l10_table_h.to_excel(writer, sheet_name="last10_home")
    fra_l10_table_a.to_excel(writer, sheet_name="last10_away")

fra_l10_table_h

,played,xG,xGC,G,GC,GD,Pts,PPG,S,SC,QS,QSC,BTTS%,Blank%,CS%,FG%,FC%
Team,,,,,,,,,,,,,,,,,
Brest,5,9.907,2.516,8,0,8,13,2.60,78,49,15,1,0.00,0.20,1.00,0.80,0.00
Lille,4,13.028,2.866,11,1,10,10,2.50,79,21,19,3,0.25,0.00,0.75,0.75,0.25
Paris Saint Germain,5,11.170,4.187,11,6,5,11,2.20,70,36,14,4,1.00,0.00,0.00,0.60,0.40
Lyon,6,12.409,7.959,8,6,2,12,2.00,69,80,15,9,0.17,0.17,0.67,0.67,0.33
Nice,5,10.443,6.388,7,4,3,10,2.00,82,43,11,9,0.40,0.20,0.60,0.60,0.20
Rennes,5,12.203,5.525,9,6,3,9,1.80,77,64,15,4,0.80,0.00,0.20,0.60,0.40
Marseille,5,13.325,3.707,10,6,4,9,1.80,79,46,23,3,1.00,0.00,0.00,0.60,0.40
Le Havre,4,6.520,7.568,7,5,2,6,1.50,53,49,7,9,0.75,0.25,0.00,0.50,0.50
Lens,4,8.840,7.042,7,6,1,6,1.50,54,63,14,8,0.50,0.25,0.25,0.50,0.50
Angers,5,5.632,5.854,6,6,0,7,1.40,64,56,6,6,0.80,0.00,0.20,0.20,0.80
Auxerre,6,9.293,12.972,7,8,-1,8,1.33,76,84,12,20,0.83,0.00,0.17,0.50,0.50
Strasbourg,5,6.768,8.347,6,10,-4,6,1.20,66,62,10,11,0.80,0.20,0.00,0.20,0.80
Toulouse,6,9.171,7.672,7,8,-1,7,1.17,95,62,8,11,0.67,0.33,0.17,0.17,0.67
Montpellier,6,11.027,7.307,7,5,2,7,1.17,99,87,11,5,0.50,0.33,0.50,0.50,0.17
Ajaccio,5,1.580,7.315,1,8,-7,5,1.00,22,66,1,9,0.00,0.80,0.60,0.20,0.40
Reims,5,6.260,6.181,4,5,-1,5,1.00,68,37,5,10,0.40,0.40,0.40,0.40,0.40
Lorient,5,7.855,7.582,8,10,-2,4,0.80,58,74,12,8,0.60,0.20,0.20,0.20,0.80
Clermont Foot,5,5.342,8.976,4,10,-6,3,0.60,58,75,6,12,0.80,0.20,0.20,0.20,0.60
Troyes,5,2.677,14.051,3,8,-5,2,0.40,41,106,2,16,0.60,0.40,0.00,0.00,1.00
Monaco,5,8.206,6.231,3,7,-4,2,0.40,82,48,12,8,0.60,0.40,0.20,0.20,0.60
Nantes,5,7.165,8.858,1,9,-8,0,0.00,60,66,8,11,0.20,0.80,0.00,0.00,1.00
Metz,5,4.688,4.599,2,7,-5,0,0.00,64,37,5,7,0.40,0.60,0.00,0.20,0.80

In [14]:
ger_l10_table_h,ger_l10_table_a = home_away_table_form(ger_l10)
with pd.ExcelWriter("../EDA_DF/Bundesliga_last10.xlsx") as writer:
    ger_l10_table_h.to_excel(writer, sheet_name="last10_home")
    ger_l10_table_a.to_excel(writer, sheet_name="last10_away")

ger_l10_table_h

,played,xG,xGC,G,GC,GD,Pts,PPG,S,SC,QS,QSC,BTTS%,Blank%,CS%,FG%,FC%
Team,,,,,,,,,,,,,,,,,
Bayer Leverkusen,5,11.988,1.993,12,1,11,13,2.60,89,35,16,1,0.20,0.20,0.80,0.80,0.00
VfB Stuttgart,4,9.866,3.773,12,4,8,10,2.50,59,39,15,7,0.75,0.00,0.25,1.00,0.00
Bayern Munich,5,11.610,3.884,9,3,6,12,2.40,107,45,15,5,0.40,0.20,0.40,0.60,0.40
Eintracht Frankfurt,4,6.897,3.826,6,4,2,8,2.00,46,42,11,6,0.75,0.00,0.25,0.50,0.50
Union Berlin,5,8.575,6.001,6,4,2,10,2.00,66,72,13,6,0.20,0.20,0.60,0.60,0.40
Bochum,6,9.572,9.997,10,8,2,11,1.83,80,97,14,9,0.67,0.00,0.33,0.83,0.17
RasenBallsport Leipzig,5,11.089,5.918,9,5,4,9,1.80,95,57,11,7,0.40,0.20,0.40,0.80,0.20
Borussia Dortmund,4,10.727,3.000,9,5,4,7,1.75,80,37,12,4,0.75,0.00,0.25,0.75,0.25
Schalke 04,4,5.460,7.259,9,8,1,7,1.75,56,45,6,11,0.75,0.25,0.00,0.50,0.50
Borussia M.Gladbach,5,10.517,7.600,11,7,4,8,1.60,83,68,12,12,0.80,0.20,0.20,0.60,0.20
Freiburg,6,14.126,9.977,11,10,1,9,1.50,89,79,20,14,0.67,0.17,0.33,0.50,0.33
Werder Bremen,4,7.032,6.821,6,5,1,5,1.25,53,47,8,9,1.00,0.00,0.00,0.50,0.50
Hoffenheim,5,10.258,5.740,7,7,0,6,1.20,79,63,12,8,0.80,0.20,0.00,0.40,0.60
Augsburg,5,8.101,9.847,7,8,-1,5,1.00,69,75,10,13,0.80,0.20,0.00,0.40,0.60
Mainz 05,6,7.754,5.292,4,5,-1,6,1.00,106,61,5,6,0.50,0.33,0.17,0.50,0.50
Hertha Berlin,4,5.035,7.657,5,7,-2,4,1.00,46,62,8,10,0.75,0.25,0.00,0.50,0.50
FC Heidenheim,5,5.526,7.216,6,7,-1,5,1.00,61,68,4,7,0.80,0.20,0.20,0.00,0.80
FC Cologne,5,6.158,8.968,3,8,-5,4,0.80,67,61,8,10,0.20,0.60,0.20,0.40,0.60
Wolfsburg,5,7.216,7.904,7,9,-2,3,0.60,55,62,8,10,1.00,0.00,0.00,0.00,1.00
Darmstadt,6,7.420,12.462,3,16,-13,1,0.17,75,91,10,18,0.33,0.67,0.00,0.00,1.00

In [15]:
ita_l10_table_h,ita_l10_table_a = home_away_table_form(ita_l10)
with pd.ExcelWriter("../EDA_DF/SerieA_last10.xlsx") as writer:
    ita_l10_table_h.to_excel(writer, sheet_name="last10_home")
    ita_l10_table_a.to_excel(writer, sheet_name="last10_away")

ita_l10_table_h

,played,xG,xGC,G,GC,GD,Pts,PPG,S,SC,QS,QSC,BTTS%,Blank%,CS%,FG%,FC%
Team,,,,,,,,,,,,,,,,,
Inter,5,14.450,4.057,13,2,11,15,3.00,87,38,22,5,0.40,0.00,0.60,1.00,0.00
Bologna,5,9.047,3.832,13,3,10,13,2.60,86,48,13,5,0.40,0.00,0.60,0.60,0.40
Atalanta,6,16.930,7.134,15,3,12,15,2.50,110,66,22,11,0.33,0.00,0.67,1.00,0.00
AC Milan,5,9.444,5.323,8,4,4,11,2.20,81,59,12,5,0.60,0.00,0.40,0.80,0.20
Napoli,5,10.619,4.755,7,4,3,11,2.20,103,50,13,5,0.80,0.20,0.20,0.20,0.60
Juventus,5,7.644,3.182,8,4,4,10,2.00,70,50,8,2,0.40,0.20,0.40,0.80,0.20
Cremonese,5,4.987,5.807,7,6,1,10,2.00,60,77,4,7,0.40,0.00,0.60,0.80,0.20
Roma,5,9.938,4.507,12,8,4,10,2.00,61,56,15,5,0.80,0.00,0.20,0.60,0.40
Fiorentina,5,11.757,4.141,10,5,5,10,2.00,76,42,19,4,0.60,0.20,0.20,0.40,0.60
Torino,5,7.415,2.732,5,2,3,8,1.60,67,42,8,2,0.00,0.60,0.80,0.40,0.20
Verona,5,5.734,5.335,6,5,1,8,1.60,61,65,7,6,0.60,0.20,0.20,0.80,0.20
Genoa,5,5.611,8.341,6,6,0,8,1.60,77,60,5,10,0.60,0.20,0.40,0.20,0.60
Monza,5,4.992,9.268,7,11,-4,7,1.40,60,72,4,10,0.60,0.20,0.40,0.40,0.40
Lazio,5,6.036,4.309,5,4,1,7,1.40,54,52,8,4,0.40,0.40,0.40,0.40,0.40
Lecce,4,5.710,7.966,4,10,-6,4,1.00,57,50,7,12,0.50,0.50,0.00,0.50,0.50
Empoli,5,5.987,4.327,4,5,-1,5,1.00,62,55,6,3,0.20,0.60,0.40,0.20,0.60
Sassuolo,4,3.346,8.002,5,10,-5,4,1.00,42,63,2,9,0.75,0.00,0.25,0.75,0.25
Cagliari,5,5.555,6.515,5,7,-2,5,1.00,66,54,7,10,0.80,0.20,0.20,0.00,0.80
Udinese,6,6.959,5.538,8,7,1,6,1.00,95,61,9,6,0.67,0.17,0.33,0.33,0.50
Frosinone,5,8.671,7.191,8,11,-3,4,0.80,76,53,10,9,0.80,0.20,0.00,0.20,0.80
Spezia,4,5.269,6.571,2,9,-7,3,0.75,41,46,6,10,0.00,0.75,0.25,0.25,0.75
Sampdoria,5,8.094,9.966,6,9,-3,3,0.60,63,87,11,12,0.80,0.20,0.00,0.80,0.20
Salernitana,5,5.053,9.261,4,11,-7,0,0.00,59,62,6,13,0.80,0.20,0.00,0.40,0.60

In [16]:
spa_l10_table_h,spa_l10_table_a = home_away_table_form(spa_l10)
with pd.ExcelWriter("../EDA_DF/LaLiga_last10.xlsx") as writer:
    spa_l10_table_h.to_excel(writer, sheet_name="last10_home")
    spa_l10_table_a.to_excel(writer, sheet_name="last10_away")

spa_l10_table_h

,played,xG,xGC,G,GC,GD,Pts,PPG,S,SC,QS,QSC,BTTS%,Blank%,CS%,FG%,FC%
Team,,,,,,,,,,,,,,,,,
Atletico Madrid,5,12.919,2.371,12,2,10,15,3.00,62,52,23,1,0.40,0.00,0.60,1.00,0.00
Athletic Club,5,10.548,4.317,10,3,7,13,2.60,64,40,13,5,0.40,0.20,0.60,0.80,0.00
Real Madrid,5,11.819,4.271,10,3,7,13,2.60,84,36,13,6,0.40,0.00,0.60,0.80,0.20
Girona,4,9.515,4.830,12,4,8,10,2.50,54,45,14,8,0.50,0.25,0.50,0.50,0.25
Osasuna,5,7.705,5.191,7,5,2,12,2.40,71,35,12,9,0.20,0.20,0.60,0.80,0.20
Barcelona,5,13.797,7.074,14,10,4,10,2.00,95,51,17,10,0.60,0.00,0.40,0.80,0.20
Valencia,6,8.168,7.987,9,5,4,12,2.00,60,56,12,11,0.67,0.17,0.33,0.67,0.17
Villarreal,5,10.125,4.361,10,5,5,9,1.80,85,51,12,4,0.80,0.20,0.20,0.60,0.20
Mallorca,6,8.021,6.501,8,7,1,10,1.67,74,71,12,7,0.67,0.17,0.17,0.50,0.50
Elche,5,9.353,6.205,7,4,3,8,1.60,73,55,14,8,0.40,0.20,0.40,0.40,0.60
Real Betis,6,8.916,7.550,8,7,1,9,1.50,95,57,13,10,0.67,0.17,0.33,0.33,0.50
Sevilla,5,9.026,8.321,7,8,-1,7,1.40,62,71,14,10,0.60,0.20,0.20,0.60,0.40
Las Palmas,5,5.263,6.769,8,5,3,7,1.40,44,58,6,9,0.60,0.00,0.40,0.80,0.20
Getafe,5,7.386,9.827,8,9,-1,7,1.40,48,66,11,16,0.40,0.40,0.20,0.60,0.40
Real Valladolid,5,7.664,8.933,6,9,-3,7,1.40,86,59,9,14,0.40,0.40,0.40,0.40,0.40
Celta Vigo,5,6.331,5.836,4,5,-1,6,1.20,63,52,5,7,0.40,0.40,0.20,0.20,0.80
Espanyol,5,10.335,10.031,9,10,-1,6,1.20,84,60,11,16,0.60,0.20,0.40,0.20,0.60
Alaves,5,6.039,6.287,4,6,-2,5,1.00,60,53,7,9,0.60,0.20,0.20,0.60,0.40
Granada,5,7.665,4.704,4,6,-2,5,1.00,66,66,10,5,0.40,0.40,0.20,0.40,0.60
Almeria,4,5.306,4.806,2,5,-3,3,0.75,58,46,8,5,0.25,0.75,0.50,0.00,0.50
Cadiz,5,5.414,4.810,3,8,-5,3,0.60,62,45,6,7,0.40,0.60,0.40,0.00,0.60
Real Sociedad,4,5.501,3.447,2,5,-3,2,0.50,64,27,6,5,0.50,0.50,0.25,0.00,0.75
Rayo Vallecano,5,6.645,5.135,3,7,-4,2,0.40,62,54,10,7,0.60,0.40,0.00,0.20,0.80