In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

C:\Users\User\AppData\Local\Temp\ipykernel_11196\2151744951.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
eng_df = pd.read_excel(r'EPL_understat.xlsx')
eng_df = eng_df.sort_values(by='date',ascending=False)
fra_df = pd.read_excel(r'Ligue1_understat.xlsx')
fra_df = fra_df.sort_values(by='date',ascending=False)
ger_df = pd.read_excel(r'Bundesliga_understat.xlsx')
ger_df = ger_df.sort_values(by='date',ascending=False)
ita_df = pd.read_excel(r'SerieA_understat.xlsx')
ita_df = ita_df.sort_values(by='date',ascending=False)
spa_df = pd.read_excel(r'LaLiga_understat.xlsx')
spa_df = spa_df.sort_values(by='date',ascending=False)

eng_h = pd.read_excel(r'EPL_Home_Away.xlsx',sheet_name='home')
eng_a = pd.read_excel(r'EPL_Home_Away.xlsx',sheet_name='away')
fra_h = pd.read_excel(r'Ligue1_Home_Away.xlsx',sheet_name='home')
fra_a = pd.read_excel(r'Ligue1_Home_Away.xlsx',sheet_name='away')
ger_h = pd.read_excel(r'Bundesliga_Home_Away.xlsx',sheet_name='home')
ger_a = pd.read_excel(r'Bundesliga_Home_Away.xlsx',sheet_name='away')
ita_h = pd.read_excel(r'SerieA_Home_Away.xlsx',sheet_name='home')
ita_a = pd.read_excel(r'SerieA_Home_Away.xlsx',sheet_name='away')
spa_h = pd.read_excel(r'LaLiga_Home_Away.xlsx',sheet_name='home')
spa_a = pd.read_excel(r'LaLiga_Home_Away.xlsx',sheet_name='away')

In [3]:
def find_ranks(home_df,away_df):
    q1_h = home_df['PPG'].quantile(0.25)
    q1_a = away_df['PPG'].quantile(0.25)
    q3_h = home_df['PPG'].quantile(0.75)
    q3_a = away_df['PPG'].quantile(0.75)
    home_df['Rank'] = home_df.apply(lambda x: 3 if x['PPG'] <= q1_h else( 1 if x['PPG'] >= q3_h else 2), axis=1) 
    away_df['Rank'] = away_df.apply(lambda x: 3 if x['PPG'] <= q1_a else( 1 if x['PPG'] >= q3_a else 2), axis=1) 

    return home_df,away_df

In [4]:
eng_h_rank,eng_a_rank = find_ranks(eng_h,eng_a)
fra_h_rank,fra_a_rank = find_ranks(fra_h,fra_a)
ger_h_rank,ger_a_rank = find_ranks(ger_h,ger_a)
ita_h_rank,ita_a_rank = find_ranks(ita_h,ita_a)
spa_h_rank,spa_a_rank = find_ranks(spa_h,spa_a)

spa_a_rank

,Team,played,xG,xGC,G,GC,GD,Pts,PPG,S,SC,QS,QSC,BTTS%,Blank%,CS%,FG%,FC%,Rank
0,Real Madrid,19,33.492,26.208,31,19,12,37,1.95,278,221,47,36,0.53,0.11,0.37,0.47,0.53,1
1,Barcelona,18,34.861,19.713,31,24,7,31,1.72,241,189,50,28,0.78,0.17,0.22,0.44,0.39,1
2,Girona,20,31.508,38.635,30,25,5,33,1.65,234,335,43,44,0.60,0.25,0.25,0.40,0.50,1
3,Real Sociedad,19,27.013,24.298,23,19,4,27,1.42,228,217,36,31,0.53,0.26,0.42,0.37,0.42,1
4,Athletic Club,19,26.257,23.160,19,23,-4,25,1.32,231,213,32,29,0.47,0.37,0.32,0.42,0.42,1
5,Villarreal,18,23.527,33.325,27,33,-6,23,1.28,179,287,33,42,0.83,0.11,0.11,0.50,0.44,2
6,Real Betis,18,19.600,34.257,18,26,-8,22,1.22,204,269,24,49,0.56,0.28,0.33,0.56,0.28,2
7,Atletico Madrid,19,31.107,31.725,32,26,6,23,1.21,223,285,48,36,0.42,0.37,0.26,0.42,0.53,2
8,Sevilla,18,17.682,28.951,21,22,-1,20,1.11,190,262,22,42,0.44,0.33,0.33,0.39,0.50,2
9,Las Palmas,14,11.727,26.491,12,19,-7,15,1.07,151,195,16,36,0.36,0.50,0.14,0.36,0.64,2
10,Osasuna,18,16.927,33.937,19,28,-9,18,1.00,170,260,20,43,0.56,0.22,0.22,0.44,0.56,2
11,Valencia,19,19.963,28.231,21,30,-9,19,1.00,183,187,29,41,0.58,0.32,0.11,0.37,0.63,2
12,Rayo Vallecano,19,20.360,27.592,14,29,-15,16,0.84,213,227,24,40,0.32,0.47,0.37,0.32,0.53,2
13,Alaves,14,15.164,21.226,11,17,-6,11,0.79,165,187,19,28,0.43,0.50,0.21,0.36,0.50,2
14,Getafe,20,21.020,34.325,21,35,-14,14,0.70,194,271,23,48,0.50,0.40,0.20,0.40,0.50,2
15,Mallorca,19,23.546,36.754,17,36,-19,12,0.63,189,296,30,46,0.47,0.42,0.16,0.21,0.74,3
16,Celta Vigo,19,19.465,35.119,24,33,-9,12,0.63,190,263,24,47,0.63,0.32,0.16,0.37,0.53,3
17,Cadiz,20,19.218,43.370,11,30,-19,11,0.55,184,296,23,66,0.40,0.55,0.15,0.30,0.60,3
18,Almeria,21,21.379,45.547,24,48,-24,7,0.33,203,360,25,52,0.76,0.24,0.00,0.38,0.62,3
19,Granada,13,12.060,24.477,12,32,-20,2,0.15,119,169,12,38,0.46,0.54,0.00,0.00,1.00,3

In [5]:
# Apply rank to overall dataframe, and then group in tables by rank like in home vs away
def rank_to_df(rank_df_h,rank_df_a,df):
    rank1_h = rank_df_h.loc[rank_df_h['Rank'] == 1, ['Team']].values.T.tolist()
    rank2_h = rank_df_h.loc[rank_df_h['Rank'] == 2, ['Team']].values.T.tolist()
    rank3_h = rank_df_h.loc[rank_df_h['Rank'] == 3, ['Team']].values.T.tolist()
    rank1_a = rank_df_a.loc[rank_df_a['Rank'] == 1, ['Team']].values.T.tolist()
    rank2_a = rank_df_a.loc[rank_df_a['Rank'] == 2, ['Team']].values.T.tolist()
    rank3_a = rank_df_a.loc[rank_df_a['Rank'] == 3, ['Team']].values.T.tolist()

    df['Rank'] = df.apply(lambda x: 1 if x['H/A'] =="a" and x['Opp'] in rank1_h[0] else(1 if x['H/A'] == "h" and x['Opp'] in rank1_a[0] else
                                                                                     (2 if x['H/A'] == "a" and x['Opp'] in rank2_h[0] else
                                                                                      (2 if x['H/A'] == "h" and x['Opp'] in rank2_a[0] else
                                                                                       (3 if x['H/A'] == "a" and x['Opp'] in rank3_h[0] else 3
                                                                                       )))), axis=1) 
    return df

In [6]:
eng_df = rank_to_df(eng_h_rank,eng_a_rank,eng_df)
fra_df = rank_to_df(fra_h_rank,fra_a_rank,fra_df)
ger_df = rank_to_df(ger_h_rank,ger_a_rank,ger_df)
ita_df = rank_to_df(ita_h_rank,ita_a_rank,ita_df)
spa_df = rank_to_df(spa_h_rank,spa_a_rank,spa_df)

spa_df

,Unnamed: 0,date,ID,Team,H/A,xG,xGC,G,GC,S,...,QS,QSC,Pts,Opp,BTTS,Blank,CS,first_goal,first_conc,Rank
0,0,2024-03-04 20:00:00,Osasuna22954,Osasuna,h,1.716,1.145,1,0,15,...,3,2,3,Alaves,0,0,1,1,0,2
1,0,2024-03-04 20:00:00,Alaves22954,Alaves,a,1.145,1.716,0,1,10,...,2,3,0,Osasuna,0,1,0,0,1,2
18,0,2024-03-03 20:00:00,Athletic Club22945,Athletic Club,h,0.471,0.717,0,0,8,...,0,1,1,Barcelona,0,1,1,0,0,1
19,0,2024-03-03 20:00:00,Barcelona22945,Barcelona,a,0.717,0.471,0,0,8,...,1,0,1,Athletic Club,0,1,1,0,0,1
8,0,2024-03-03 17:30:00,Mallorca22950,Mallorca,h,0.944,1.086,1,0,16,...,0,1,3,Girona,0,0,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
743,0,2023-04-08 12:00:00,Elche19239,Elche,a,0.658,1.690,1,2,7,...,1,2,0,Osasuna,1,0,0,1,0,2
745,0,2023-04-07 19:00:00,Celta Vigo19238,Celta Vigo,a,0.611,0.475,2,2,9,...,1,1,1,Sevilla,1,0,0,0,1,2
744,0,2023-04-07 19:00:00,Sevilla19238,Sevilla,h,0.475,0.611,2,2,7,...,1,1,1,Celta Vigo,1,0,0,1,0,3
758,0,2023-04-02 12:00:00,Celta Vigo19231,Celta Vigo,h,2.141,1.242,2,2,21,...,2,2,1,Almeria,1,0,0,0,1,3
759,0,2023-04-02 12:00:00,Almeria19231,Almeria,a,1.242,2.141,2,2,8,...,2,2,1,Celta Vigo,1,0,0,1,0,3

In [7]:
def table_creator(df):
    df['match_ID'] = df['ID'].apply(lambda x:x[-5:])
    df['match_ID'] = pd.to_numeric(df['match_ID'])
    df['played'] = 1
    # df = df[~(df['match_ID'] <= 21925)]
    df_ov = df.groupby(["Team"]).agg({'played':'sum', 'xG':'sum','xGC':'sum', 'G':'sum', 'GC':'sum', 'Pts':'sum',
                                      'S':'sum', 'SC':'sum', 'QS': 'sum','QSC':'sum',
                                             'BTTS':'sum', 'Blank':'sum', 'CS':'sum','first_goal':'sum','first_conc':'sum'})
    df_ov['played'] = pd.to_numeric(df_ov['played'])
    df_ov['Pts'] = pd.to_numeric(df_ov['Pts'])
    df_ov['G'] = pd.to_numeric(df_ov['G'])
    df_ov['GC'] = pd.to_numeric(df_ov['GC'])
    df_ov['GD'] = df_ov['G'] - df_ov['GC']
    df_ov['PPG'] = round(df_ov['Pts'] / df_ov['played'],2)
    df_ov = df_ov[~(df_ov['played'] <= 20)]
    df_ov = df_ov[['played','G','GC','GD','Pts','PPG','S','SC','QS','QSC','BTTS','Blank','CS','first_goal','first_conc']]
    df_ov = df_ov.sort_values('PPG', ascending=False)
    return df_ov

In [8]:
eng_ov_df = table_creator(eng_df)
fra_ov_df = table_creator(fra_df)
ger_ov_df = table_creator(ger_df)
ita_ov_df = table_creator(ita_df)
spa_ov_df = table_creator(spa_df)
eng_ov_df

,played,G,GC,GD,Pts,PPG,S,SC,QS,QSC,BTTS,Blank,CS,first_goal,first_conc
Team,,,,,,,,,,,,,,,
Manchester City,38,89,35,54,90,2.37,653,304,108,46,24,3,11,26,12
Liverpool,38,92,43,49,87,2.29,698,409,123,73,26,1,12,23,14
Arsenal,38,94,41,53,79,2.08,608,345,100,54,20,5,13,28,10
Aston Villa,39,77,44,33,79,2.03,536,419,96,82,24,5,11,24,14
Manchester United,38,53,47,6,66,1.74,596,586,87,74,17,10,12,21,16
Tottenham,38,79,66,13,65,1.71,567,512,89,92,32,0,6,26,15
Newcastle United,38,79,58,21,61,1.61,553,493,115,66,22,7,10,20,17
West Ham,39,61,64,-3,59,1.51,461,644,74,98,23,8,9,20,18
Brighton,38,72,62,10,56,1.47,641,438,99,66,29,5,6,16,20
Wolverhampton Wanderers,38,51,64,-13,52,1.37,438,558,58,93,22,8,9,17,20
Fulham,38,56,58,-2,48,1.26,458,527,60,97,19,13,8,17,19
Bournemouth,37,47,65,-18,46,1.24,471,553,66,73,19,11,8,16,20
Crystal Palace,38,51,62,-11,46,1.21,468,440,52,77,23,9,9,14,21
Brentford,38,55,62,-7,44,1.16,473,556,88,79,24,7,7,22,16
Chelsea,37,55,64,-9,42,1.14,510,510,91,81,24,9,5,14,22
Everton,38,43,56,-13,42,1.11,527,547,90,74,18,13,10,16,19
Nottingham Forest,39,51,71,-20,36,0.92,402,545,60,79,26,9,5,18,20
Luton,26,37,54,-17,20,0.77,319,443,44,90,20,4,2,8,18
Sheffield United,27,22,72,-50,13,0.48,245,471,32,77,14,12,1,6,21
Burnley,27,25,60,-35,13,0.48,283,409,33,60,14,11,2,10,17

In [9]:
def home_away_rank_table(df):
    df_h_a = df.groupby(["Team","H/A","Rank"]).agg({'played':'sum', 'xG':'sum', 'xGC':'sum','G':'sum', 'GC':'sum', 'Pts':'sum',
                                             'S':'sum', 'SC':'sum', 'QS': 'sum','QSC':'sum',
                                             'BTTS':'sum', 'Blank':'sum', 'CS':'sum','first_goal':'sum','first_conc':'sum'})
    h_a_sep = [x for _, x in df_h_a.groupby(["H/A","Rank"])]
    r1_h_table = h_a_sep[3].droplevel("H/A")
    r2_h_table = h_a_sep[4].droplevel("H/A")
    r3_h_table = h_a_sep[5].droplevel("H/A")
    r1_a_table = h_a_sep[0].droplevel("H/A")
    r2_a_table = h_a_sep[1].droplevel("H/A")
    r3_a_table = h_a_sep[2].droplevel("H/A")

    r1_h_table = r1_h_table.apply(pd.to_numeric)
    r2_h_table = r2_h_table.apply(pd.to_numeric)
    r3_h_table = r3_h_table.apply(pd.to_numeric)
    r1_a_table = r1_a_table.apply(pd.to_numeric)
    r2_a_table = r2_a_table.apply(pd.to_numeric)
    r3_a_table = r3_a_table.apply(pd.to_numeric)
   
    r1_h_table['GD'] = r1_h_table['G'] - r1_h_table['GC']
    r2_h_table['GD'] = r2_h_table['G'] - r2_h_table['GC']
    r3_h_table['GD'] = r3_h_table['G'] - r3_h_table['GC']
    r1_a_table['GD'] = r1_a_table['G'] - r1_a_table['GC']
    r2_a_table['GD'] = r2_a_table['G'] - r2_a_table['GC']
    r3_a_table['GD'] = r3_a_table['G'] - r3_a_table['GC']

    r1_h_table['PPG'] = round(r1_h_table['Pts'] / r1_h_table['played'],2)
    r2_h_table['PPG'] = round(r2_h_table['Pts'] / r2_h_table['played'],2)
    r3_h_table['PPG'] = round(r3_h_table['Pts'] / r3_h_table['played'],2)
    r1_a_table['PPG'] = round(r1_a_table['Pts'] / r1_a_table['played'],2)
    r2_a_table['PPG'] = round(r2_a_table['Pts'] / r2_a_table['played'],2)
    r3_a_table['PPG'] = round(r3_a_table['Pts'] / r3_a_table['played'],2)
     
    r1_h_table['BTTS%'] = round(r1_h_table['BTTS'] / r1_h_table['played'],2)
    r2_h_table['BTTS%'] = round(r2_h_table['BTTS'] / r2_h_table['played'],2)
    r3_h_table['BTTS%'] = round(r3_h_table['BTTS'] / r3_h_table['played'],2)
    r1_a_table['BTTS%'] = round(r1_a_table['BTTS'] / r1_a_table['played'],2)
    r2_a_table['BTTS%'] = round(r2_a_table['BTTS'] / r2_a_table['played'],2)
    r3_a_table['BTTS%'] = round(r3_a_table['BTTS'] / r3_a_table['played'],2)
     
    r1_h_table['Blank%'] = round(r1_h_table['Blank'] / r1_h_table['played'],2)
    r2_h_table['Blank%'] = round(r2_h_table['Blank'] / r2_h_table['played'],2)
    r3_h_table['Blank%'] = round(r3_h_table['Blank'] / r3_h_table['played'],2)
    r1_a_table['Blank%'] = round(r1_a_table['Blank'] / r1_a_table['played'],2)
    r2_a_table['Blank%'] = round(r2_a_table['Blank'] / r2_a_table['played'],2)
    r3_a_table['Blank%'] = round(r3_a_table['Blank'] / r3_a_table['played'],2)
     
    r1_h_table['CS%'] = round(r1_h_table['CS'] / r1_h_table['played'],2)
    r2_h_table['CS%'] = round(r2_h_table['CS'] / r2_h_table['played'],2)
    r3_h_table['CS%'] = round(r3_h_table['CS'] / r3_h_table['played'],2)
    r1_a_table['CS%'] = round(r1_a_table['CS'] / r1_a_table['played'],2)
    r2_a_table['CS%'] = round(r2_a_table['CS'] / r2_a_table['played'],2)
    r3_a_table['CS%'] = round(r3_a_table['CS'] / r3_a_table['played'],2)
     
    r1_h_table['FG%'] = round(r1_h_table['first_goal'] / r1_h_table['played'],2)
    r2_h_table['FG%'] = round(r2_h_table['first_goal'] / r2_h_table['played'],2)
    r3_h_table['FG%'] = round(r3_h_table['first_goal'] / r3_h_table['played'],2)
    r1_a_table['FG%'] = round(r1_a_table['first_goal'] / r1_a_table['played'],2)
    r2_a_table['FG%'] = round(r2_a_table['first_goal'] / r2_a_table['played'],2)
    r3_a_table['FG%'] = round(r3_a_table['first_goal'] / r3_a_table['played'],2)

    r1_h_table['FC%'] = round(r1_h_table['first_conc'] / r1_h_table['played'],2)
    r2_h_table['FC%'] = round(r2_h_table['first_conc'] / r2_h_table['played'],2)
    r3_h_table['FC%'] = round(r3_h_table['first_conc'] / r3_h_table['played'],2)
    r1_a_table['FC%'] = round(r1_a_table['first_conc'] / r1_a_table['played'],2)
    r2_a_table['FC%'] = round(r2_a_table['first_conc'] / r2_a_table['played'],2)
    r3_a_table['FC%'] = round(r3_a_table['first_conc'] / r3_a_table['played'],2)

    r1_h_table = r1_h_table[['played','xG','xGC','G','GC','GD','Pts','PPG','S','SC','QS','QSC','BTTS%','Blank%','CS%','FG%','FC%']]
    r2_h_table = r2_h_table[['played','xG','xGC','G','GC','GD','Pts','PPG','S','SC','QS','QSC','BTTS%','Blank%','CS%','FG%','FC%']]
    r3_h_table = r3_h_table[['played','xG','xGC','G','GC','GD','Pts','PPG','S','SC','QS','QSC','BTTS%','Blank%','CS%','FG%','FC%']]
    r1_a_table = r1_a_table[['played','xG','xGC','G','GC','GD','Pts','PPG','S','SC','QS','QSC','BTTS%','Blank%','CS%','FG%','FC%']]
    r2_a_table = r2_a_table[['played','xG','xGC','G','GC','GD','Pts','PPG','S','SC','QS','QSC','BTTS%','Blank%','CS%','FG%','FC%']]
    r3_a_table = r3_a_table[['played','xG','xGC','G','GC','GD','Pts','PPG','S','SC','QS','QSC','BTTS%','Blank%','CS%','FG%','FC%']]

    r1_h_table = r1_h_table.sort_values('PPG', ascending=False)
    r2_h_table = r2_h_table.sort_values('PPG', ascending=False)
    r3_h_table = r3_h_table.sort_values('PPG', ascending=False)
    r1_a_table = r1_a_table.sort_values('PPG', ascending=False)
    r2_a_table = r2_a_table.sort_values('PPG', ascending=False)
    r3_a_table = r3_a_table.sort_values('PPG', ascending=False)

    return r1_h_table, r2_h_table, r3_h_table, r1_a_table, r2_a_table, r3_a_table

In [10]:
r1_h_eng,r2_h_eng,r3_h_eng,r1_a_eng,r2_a_eng,r3_a_eng = home_away_rank_table(eng_df)
with pd.ExcelWriter("../EDA_DF/EPL_rank.xlsx") as writer:
    r1_h_eng.to_excel(writer, sheet_name="rank1_home")
    r2_h_eng.to_excel(writer, sheet_name="rank2_home")
    r3_h_eng.to_excel(writer, sheet_name="rank3_home")
    r1_a_eng.to_excel(writer, sheet_name="rank1_away")
    r2_a_eng.to_excel(writer, sheet_name="rank2_away")
    r3_a_eng.to_excel(writer, sheet_name="rank3_away")

r3_h_eng

,,played,xG,xGC,G,GC,GD,Pts,PPG,S,SC,QS,QSC,BTTS%,Blank%,CS%,FG%,FC%
Team,Rank,,,,,,,,,,,,,,,,,
Liverpool,3,6,17.423,5.728,18,7,11,18,3.00,134,60,25,9,0.67,0.00,0.33,0.83,0.17
West Ham,3,4,9.434,3.366,9,3,6,12,3.00,67,47,13,2,0.50,0.00,0.50,0.75,0.25
Tottenham,3,3,5.557,3.165,7,2,5,9,3.00,58,26,6,4,0.67,0.00,0.33,0.67,0.33
Manchester City,3,6,11.941,6.486,17,4,13,18,3.00,76,42,15,9,0.67,0.00,0.33,1.00,0.00
Aston Villa,3,7,16.465,5.442,17,7,10,19,2.71,98,49,19,7,0.71,0.00,0.29,0.86,0.14
Bournemouth,3,5,10.413,3.633,12,4,8,13,2.60,62,47,14,2,0.80,0.00,0.20,0.60,0.40
Brentford,3,5,10.405,4.532,12,5,7,13,2.60,86,44,11,7,0.80,0.00,0.20,0.60,0.40
Fulham,3,6,11.711,6.623,16,7,9,15,2.50,97,52,14,9,0.50,0.17,0.33,0.83,0.17
Arsenal,3,6,15.477,4.147,19,8,11,14,2.33,101,39,18,4,0.83,0.00,0.17,0.67,0.33
Manchester United,3,4,10.523,4.394,7,5,2,9,2.25,75,46,16,4,0.75,0.00,0.25,0.25,0.75
Crystal Palace,3,6,7.900,3.303,9,4,5,12,2.00,89,48,7,3,0.50,0.33,0.50,0.17,0.50
Chelsea,3,5,12.067,4.732,8,3,5,10,2.00,86,49,15,5,0.20,0.20,0.60,0.60,0.40
Nottingham Forest,3,4,7.267,6.201,9,7,2,8,2.00,58,49,6,10,1.00,0.00,0.00,0.75,0.25
Newcastle United,3,6,20.265,8.098,13,8,5,11,1.83,130,46,27,11,0.50,0.17,0.50,0.67,0.17
Brighton,3,5,12.161,5.341,10,5,5,9,1.80,112,39,13,6,1.00,0.00,0.00,0.80,0.20
Wolverhampton Wanderers,3,4,6.131,4.336,5,5,0,7,1.75,53,43,8,6,0.50,0.00,0.50,0.50,0.50
Burnley,3,3,5.192,2.871,8,3,5,5,1.67,44,35,7,2,0.67,0.00,0.33,0.67,0.33
Leeds,3,1,2.100,2.089,1,1,0,1,1.00,13,15,3,3,1.00,0.00,0.00,1.00,0.00
Everton,3,3,9.025,5.060,2,6,-4,0,0.00,57,38,14,7,0.67,0.33,0.00,0.00,1.00
Luton,3,2,3.297,2.904,2,5,-3,0,0.00,38,21,2,4,1.00,0.00,0.00,0.00,1.00
Sheffield United,3,1,4.193,0.716,2,3,-1,0,0.00,23,12,7,0,1.00,0.00,0.00,0.00,1.00
Southampton,3,1,0.150,1.271,0,2,-2,0,0.00,5,9,0,2,0.00,1.00,0.00,0.00,1.00

In [11]:
r1_h_fra,r2_h_fra,r3_h_fra,r1_a_fra,r2_a_fra,r3_a_fra = home_away_rank_table(fra_df)
with pd.ExcelWriter("../EDA_DF/Ligue1_rank.xlsx") as writer:
    r1_h_fra.to_excel(writer, sheet_name="rank1_home")
    r2_h_fra.to_excel(writer, sheet_name="rank2_home")
    r3_h_fra.to_excel(writer, sheet_name="rank3_home")
    r1_a_fra.to_excel(writer, sheet_name="rank1_away")
    r2_a_fra.to_excel(writer, sheet_name="rank2_away")
    r3_a_fra.to_excel(writer, sheet_name="rank3_away")

r3_h_fra

,,played,xG,xGC,G,GC,GD,Pts,PPG,S,SC,QS,QSC,BTTS%,Blank%,CS%,FG%,FC%
Team,Rank,,,,,,,,,,,,,,,,,
Auxerre,3,2,3.869,2.497,3,1,2,6,3.00,26,31,4,2,0.50,0.00,0.50,1.00,0.00
Le Havre,3,1,1.706,0.676,3,0,3,3,3.00,17,9,2,1,0.00,0.00,1.00,1.00,0.00
Lille,3,8,25.380,5.311,20,2,18,24,3.00,128,45,36,8,0.25,0.00,0.75,0.88,0.12
Monaco,3,5,8.842,4.048,13,6,7,13,2.60,75,35,12,5,0.80,0.00,0.20,0.80,0.20
Brest,3,5,6.433,3.614,9,1,8,13,2.60,56,50,8,4,0.20,0.00,0.80,1.00,0.00
Lens,3,7,16.264,5.125,18,4,14,18,2.57,108,61,22,7,0.43,0.14,0.43,0.86,0.14
Paris Saint Germain,3,7,13.761,5.336,18,7,11,16,2.29,103,55,17,6,0.57,0.14,0.43,0.71,0.14
Nice,3,5,7.870,1.870,8,2,6,11,2.20,75,24,11,2,0.40,0.00,0.60,0.60,0.40
Marseille,3,7,19.283,5.889,15,7,8,15,2.14,115,76,28,6,0.86,0.00,0.14,0.71,0.29
Reims,3,8,11.000,7.093,11,5,6,17,2.12,115,58,10,8,0.25,0.25,0.62,0.75,0.12
Rennes,3,7,20.358,6.512,20,9,11,14,2.00,148,58,23,8,0.86,0.00,0.14,0.71,0.29
Strasbourg,3,6,11.024,8.544,11,8,3,12,2.00,84,70,16,12,0.83,0.00,0.17,0.67,0.33
Angers,3,2,1.222,2.722,3,2,1,4,2.00,28,21,0,3,1.00,0.00,0.00,0.50,0.50
Montpellier,3,5,10.534,5.688,13,5,8,9,1.80,87,59,13,5,0.60,0.00,0.40,0.40,0.60
Clermont Foot,3,8,12.042,6.260,9,6,3,14,1.75,118,61,13,9,0.50,0.25,0.25,0.25,0.75
Nantes,3,7,10.848,9.812,9,9,0,11,1.57,103,60,11,15,0.29,0.43,0.43,0.43,0.43
Ajaccio,3,2,5.133,2.330,2,4,-2,3,1.50,24,22,7,3,0.50,0.50,0.00,0.00,1.00
Lyon,3,6,11.569,5.301,6,5,1,8,1.33,84,52,17,7,0.50,0.33,0.50,0.17,0.50
Lorient,3,8,10.591,8.450,13,11,2,10,1.25,86,92,13,11,0.50,0.25,0.25,0.38,0.62
Toulouse,3,6,9.144,4.269,7,6,1,6,1.00,83,63,10,3,0.67,0.17,0.33,0.50,0.33
Metz,3,4,3.284,4.498,4,4,0,4,1.00,41,44,4,7,0.50,0.50,0.25,0.25,0.50
Troyes,3,1,0.707,2.302,1,1,0,1,1.00,8,16,1,3,1.00,0.00,0.00,0.00,1.00

In [12]:
r1_h_ger,r2_h_ger,r3_h_ger,r1_a_ger,r2_a_ger,r3_a_ger = home_away_rank_table(ger_df)
with pd.ExcelWriter("../EDA_DF/Bundesliga_rank.xlsx") as writer:
    r1_h_ger.to_excel(writer, sheet_name="rank1_home")
    r2_h_ger.to_excel(writer, sheet_name="rank2_home")
    r3_h_ger.to_excel(writer, sheet_name="rank3_home")
    r1_a_ger.to_excel(writer, sheet_name="rank1_away")
    r2_a_ger.to_excel(writer, sheet_name="rank2_away")
    r3_a_ger.to_excel(writer, sheet_name="rank3_away")

r3_h_ger

,,played,xG,xGC,G,GC,GD,Pts,PPG,S,SC,QS,QSC,BTTS%,Blank%,CS%,FG%,FC%
Team,Rank,,,,,,,,,,,,,,,,,
Bayern Munich,3,6,24.899,2.696,27,1,26,18,3.00,148,38,36,3,0.17,0.00,0.83,0.83,0.17
VfB Stuttgart,3,4,12.005,3.805,13,3,10,12,3.00,68,32,20,6,0.75,0.00,0.25,0.75,0.25
Schalke 04,3,1,2.099,1.122,5,2,3,3,3.00,14,11,3,1,1.00,0.00,0.00,1.00,0.00
Union Berlin,3,4,9.311,6.074,9,3,6,10,2.50,58,51,14,6,0.75,0.00,0.25,1.00,0.00
Borussia Dortmund,3,7,23.775,7.604,21,11,10,17,2.43,158,75,29,11,1.00,0.00,0.00,0.71,0.29
Werder Bremen,3,3,5.293,1.923,7,1,6,7,2.33,36,33,7,1,0.33,0.00,0.67,1.00,0.00
FC Heidenheim,3,3,3.167,3.601,4,2,2,7,2.33,36,50,4,3,0.33,0.33,0.67,0.67,0.00
Bayer Leverkusen,3,6,16.663,3.874,17,4,13,14,2.33,117,40,25,5,0.50,0.17,0.50,0.83,0.00
Eintracht Frankfurt,3,7,14.022,6.381,10,4,6,15,2.14,97,58,17,10,0.57,0.00,0.43,0.57,0.43
Wolfsburg,3,3,5.277,4.487,6,3,3,6,2.00,38,37,7,7,0.67,0.00,0.33,1.00,0.00
RasenBallsport Leipzig,3,5,9.084,6.175,8,5,3,10,2.00,80,68,9,6,0.20,0.40,0.60,0.60,0.20
Hoffenheim,3,7,14.533,9.962,16,9,7,14,2.00,103,103,18,13,0.71,0.14,0.14,0.71,0.29
FC Cologne,3,5,9.748,4.719,9,4,5,9,1.80,82,40,10,7,0.60,0.40,0.40,0.40,0.20
Freiburg,3,6,13.080,6.553,11,6,5,10,1.67,103,58,14,8,0.67,0.17,0.33,0.50,0.33
Borussia M.Gladbach,3,5,11.453,6.451,9,5,4,8,1.60,97,66,14,11,0.40,0.40,0.40,0.60,0.20
Augsburg,3,6,8.370,8.435,11,10,1,9,1.50,77,87,9,11,0.83,0.00,0.17,0.50,0.50
Bochum,3,3,7.225,4.643,6,5,1,4,1.33,57,45,9,4,0.67,0.00,0.33,0.67,0.33
Hertha Berlin,3,1,1.362,1.650,1,1,0,1,1.00,14,16,2,3,1.00,0.00,0.00,1.00,0.00
Mainz 05,3,3,3.569,6.257,4,5,-1,2,0.67,44,46,2,10,1.00,0.00,0.00,0.67,0.33
Darmstadt,3,4,5.233,7.324,5,9,-4,2,0.50,61,55,7,12,0.75,0.25,0.25,0.25,0.50

In [13]:
r1_h_ita,r2_h_ita,r3_h_ita,r1_a_ita,r2_a_ita,r3_a_ita = home_away_rank_table(ita_df)
with pd.ExcelWriter("../EDA_DF/SerieA_rank.xlsx") as writer:
    r1_h_ita.to_excel(writer, sheet_name="rank1_home")
    r2_h_ita.to_excel(writer, sheet_name="rank2_home")
    r3_h_ita.to_excel(writer, sheet_name="rank3_home")
    r1_a_ita.to_excel(writer, sheet_name="rank1_away")
    r2_a_ita.to_excel(writer, sheet_name="rank2_away")
    r3_a_ita.to_excel(writer, sheet_name="rank3_away")

r3_h_ita

,,played,xG,xGC,G,GC,GD,Pts,PPG,S,SC,QS,QSC,BTTS%,Blank%,CS%,FG%,FC%
Team,Rank,,,,,,,,,,,,,,,,,
Genoa,3,2,4.155,2.882,3,1,2,6,3.00,35,26,7,4,0.50,0.00,0.50,0.50,0.50
Bologna,3,5,9.591,4.674,14,4,10,15,3.00,75,52,12,6,0.60,0.00,0.40,0.60,0.40
Cagliari,3,2,5.313,2.586,6,4,2,6,3.00,42,18,9,5,1.00,0.00,0.00,0.00,1.00
Sassuolo,3,1,2.621,0.555,3,1,2,3,3.00,16,11,4,0,1.00,0.00,0.00,1.00,0.00
Roma,3,6,13.649,4.963,15,3,12,18,3.00,102,61,17,6,0.50,0.00,0.50,0.67,0.33
Atalanta,3,6,15.061,6.765,17,3,14,18,3.00,103,64,19,10,0.33,0.00,0.67,0.67,0.33
Juventus,3,8,17.722,3.517,15,4,11,24,3.00,146,62,19,2,0.38,0.00,0.62,1.00,0.00
AC Milan,3,7,13.491,5.249,16,4,12,19,2.71,98,64,17,7,0.57,0.00,0.43,0.86,0.14
Lazio,3,6,11.237,4.977,12,5,7,16,2.67,77,68,17,4,0.50,0.00,0.50,0.83,0.17
Napoli,3,5,10.844,4.175,8,2,6,13,2.60,95,38,14,6,0.40,0.20,0.60,0.60,0.20
Frosinone,3,4,9.414,4.335,10,5,5,10,2.50,60,54,14,5,1.00,0.00,0.00,0.50,0.50
Inter,3,5,11.281,6.424,11,5,6,12,2.40,80,61,16,9,0.60,0.00,0.40,1.00,0.00
Fiorentina,3,6,9.635,7.888,17,4,13,14,2.33,89,52,13,13,0.50,0.00,0.50,1.00,0.00
Verona,3,5,6.265,6.433,8,4,4,11,2.20,68,67,8,7,0.60,0.00,0.40,0.60,0.40
Cremonese,3,2,1.317,1.648,3,1,2,4,2.00,21,32,1,1,0.50,0.00,0.50,1.00,0.00
Torino,3,4,6.613,1.643,4,1,3,8,2.00,52,26,11,0,0.25,0.50,0.75,0.50,0.00
Salernitana,3,3,3.495,3.031,6,3,3,5,1.67,45,33,3,3,0.67,0.00,0.33,0.33,0.67
Udinese,3,7,11.427,10.523,12,7,5,11,1.57,92,86,15,14,0.57,0.14,0.43,0.86,0.00
Monza,3,4,5.563,3.320,2,2,0,5,1.25,53,37,7,2,0.25,0.50,0.50,0.25,0.50
Lecce,3,6,8.131,6.594,5,5,0,7,1.17,97,70,12,8,0.67,0.33,0.17,0.50,0.33
Empoli,3,5,7.606,5.242,5,7,-2,4,0.80,69,55,8,8,0.40,0.40,0.20,0.40,0.60
Sampdoria,3,3,6.719,6.667,5,6,-1,2,0.67,43,59,10,8,1.00,0.00,0.00,1.00,0.00

In [14]:
r1_h_spa,r2_h_spa,r3_h_spa,r1_a_spa,r2_a_spa,r3_a_spa = home_away_rank_table(spa_df)
with pd.ExcelWriter("../EDA_DF/LaLiga_rank.xlsx") as writer:
    r1_h_spa.to_excel(writer, sheet_name="rank1_home")
    r2_h_spa.to_excel(writer, sheet_name="rank2_home")
    r3_h_spa.to_excel(writer, sheet_name="rank3_home")
    r1_a_spa.to_excel(writer, sheet_name="rank1_away")
    r2_a_spa.to_excel(writer, sheet_name="rank2_away")
    r3_a_spa.to_excel(writer, sheet_name="rank3_away")

r3_h_spa

,,played,xG,xGC,G,GC,GD,Pts,PPG,S,SC,QS,QSC,BTTS%,Blank%,CS%,FG%,FC%
Team,Rank,,,,,,,,,,,,,,,,,
Girona,3,5,10.478,5.482,15,6,9,15,3.00,85,49,13,6,0.60,0.00,0.40,0.60,0.40
Atletico Madrid,3,7,20.012,5.274,19,7,12,21,3.00,127,51,28,7,0.86,0.00,0.14,0.71,0.29
Real Madrid,3,5,12.493,3.999,12,4,8,15,3.00,78,40,17,5,0.40,0.00,0.60,0.80,0.20
Barcelona,3,5,16.520,5.540,14,7,7,13,2.60,107,47,25,6,0.60,0.00,0.40,0.80,0.20
Alaves,3,4,5.793,4.527,6,2,4,10,2.50,53,45,5,5,0.50,0.00,0.50,1.00,0.00
Athletic Club,3,6,17.921,4.110,16,5,11,15,2.50,115,42,24,5,0.33,0.17,0.50,0.67,0.33
Real Sociedad,3,4,7.047,4.616,8,4,4,10,2.50,56,46,10,6,0.50,0.00,0.50,1.00,0.00
Osasuna,3,6,9.790,4.486,10,5,5,15,2.50,95,43,12,6,0.33,0.17,0.50,0.67,0.33
Valencia,3,6,8.239,5.876,9,4,5,14,2.33,76,56,9,6,0.50,0.17,0.50,0.67,0.17
Sevilla,3,3,6.294,2.600,10,5,5,7,2.33,44,26,10,3,1.00,0.00,0.00,1.00,0.00
Granada,3,3,7.489,3.980,6,3,3,7,2.33,44,38,12,4,0.67,0.00,0.33,0.67,0.33
Getafe,3,7,12.184,9.069,11,6,5,16,2.29,92,86,17,10,0.57,0.00,0.43,0.71,0.29
Villarreal,3,9,22.761,11.590,21,10,11,20,2.22,150,115,30,17,0.78,0.11,0.22,0.56,0.33
Las Palmas,3,4,3.866,4.954,5,3,2,8,2.00,38,38,4,6,0.75,0.00,0.25,0.75,0.25
Real Betis,3,5,11.154,5.244,7,4,3,10,2.00,91,47,16,7,0.40,0.20,0.40,0.60,0.40
Cadiz,3,4,7.220,1.773,6,3,3,8,2.00,54,27,9,2,0.50,0.00,0.50,0.75,0.25
Mallorca,3,3,5.098,1.575,3,2,1,5,1.67,41,26,9,1,0.67,0.00,0.33,0.33,0.67
Celta Vigo,3,7,12.020,6.154,6,5,1,11,1.57,116,47,12,10,0.29,0.29,0.43,0.43,0.57
Almeria,3,6,10.812,8.837,10,7,3,9,1.50,84,82,15,8,0.50,0.33,0.50,0.50,0.17
Rayo Vallecano,3,5,7.216,4.596,6,6,0,6,1.20,77,45,8,5,0.80,0.20,0.20,0.60,0.20
Espanyol,3,2,2.039,3.162,3,3,0,2,1.00,26,22,1,4,0.50,0.50,0.50,0.00,0.50
Elche,3,1,1.534,2.230,1,1,0,1,1.00,12,14,3,3,1.00,0.00,0.00,0.00,1.00
Real Valladolid,3,1,0.949,1.987,3,3,0,1,1.00,10,14,1,3,1.00,0.00,0.00,1.00,0.00