In [45]:
import pandas as pd

In [46]:
eng_df = pd.read_excel(r'EPL_understat.xlsx')
fra_df = pd.read_excel(r'Ligue1_understat.xlsx')
ger_df = pd.read_excel(r'Bundesliga_understat.xlsx')
ita_df = pd.read_excel(r'SerieA_understat.xlsx')
spa_df = pd.read_excel(r'LaLiga_understat.xlsx')

In [47]:
def table_creator(df):
    df['match_ID'] = df['ID'].apply(lambda x:x[-5:])
    df['match_ID'] = pd.to_numeric(df['match_ID'])
    df['played'] = 1
    # df = df[~(df['match_ID'] <= 21925)]
    df_ov = df.groupby(["Team"]).agg({'played':'sum', 'G':'sum', 'GC':'sum', 'Pts':'sum'})
    df_ov['played'] = pd.to_numeric(df_ov['played'])
    df_ov['Pts'] = pd.to_numeric(df_ov['Pts'])
    df_ov['G'] = pd.to_numeric(df_ov['G'])
    df_ov['GC'] = pd.to_numeric(df_ov['GC'])
    df_ov['GD'] = df_ov['G'] - df_ov['GC']
    df_ov['PPG'] = round(df_ov['Pts'] / df_ov['played'],2)
    df_ov = df_ov[~(df_ov['played'] <= 20)]
    df_ov = df_ov[['played','G','GC','GD','Pts','PPG']]
    df_ov = df_ov.sort_values('PPG', ascending=False)
    return df_ov

In [50]:
eng_ov_df = table_creator(eng_df)
fra_ov_df = table_creator(fra_df)
ger_ov_df = table_creator(ger_df)
ita_ov_df = table_creator(ita_df)
spa_ov_df = table_creator(spa_df)

In [54]:
def home_away_table(df):
    df_h_a = df.groupby(["Team","H/A"]).agg({'played':'sum', 'G':'sum', 'GC':'sum', 'Pts':'sum'})
    h_a_sep = [x for _, x in df_h_a.groupby("H/A")]
    away_table = h_a_sep[0]
    home_table = h_a_sep[1]
    home_table['played'] = pd.to_numeric(home_table['played'])
    away_table['played'] = pd.to_numeric(away_table['played'])
    home_table['G'] = pd.to_numeric(home_table['G'])
    away_table['G'] = pd.to_numeric(away_table['G'])
    home_table['GC'] = pd.to_numeric(home_table['GC'])
    away_table['GC'] = pd.to_numeric(away_table['GC'])
    home_table['Pts'] = pd.to_numeric(home_table['Pts'])
    away_table['Pts'] = pd.to_numeric(away_table['Pts'])
    home_table['GD'] = home_table['G'] - home_table['GC']
    away_table['GD'] = away_table['G'] - away_table['GC']
    home_table['PPG'] = round(home_table['Pts'] / home_table['played'],2)
    away_table['PPG'] = round(away_table['Pts'] / away_table['played'],2)
    home_table = home_table[~(home_table['played'] <= 10)]
    away_table = away_table[~(away_table['played'] <= 10)]
    home_table = home_table[['played','G','GC','GD','Pts','PPG']]
    away_table = away_table[['played','G','GC','GD','Pts','PPG']]
    home_table = home_table.sort_values('PPG', ascending=False)
    away_table = away_table.sort_values('PPG', ascending=False)

    return home_table, away_table

In [55]:
eng_h_df, eng_a_df = home_away_table(eng_df)
fra_h_df, fra_a_df = home_away_table(fra_df)
ger_h_df, ger_a_df = home_away_table(ger_df)
ita_h_df, ita_a_df = home_away_table(ita_df)
spa_h_df, spa_a_df = home_away_table(spa_df)

In [57]:
eng_a_df

                             played   G  GC  GD  Pts   PPG
Team                    H/A
Manchester City         a        18  38  19  19   38  2.11
Liverpool               a        19  42  25  17   35  1.84
Arsenal                 a        19  38  20  18   34  1.79
Manchester United       a        20  22  29  -7   29  1.45
Aston Villa             a        19  26  25   1   27  1.42
Everton                 a        19  25  28  -3   25  1.32
Tottenham               a        19  39  38   1   25  1.32
Bournemouth             a        20  28  40 -12   24  1.20
Newcastle United        a        19  33  36  -3   22  1.16
Brighton                a        19  32  35  -3   22  1.16
West Ham                a        20  27  42 -15   23  1.15
Chelsea                 a        20  30  36  -6   23  1.15
Brentford               a        17  21  24  -3   17  1.00
Crystal Palace          a        20  23  36 -13   20  1.00
Wolverhampton Wanderers a        19  23  38 -15   18  0.95
Luton                   a        11  15  25 -10    9  0.82
Fulham                  a        19  20  36 -16   13  0.68
Burnley                 a        12  12  23 -11    8  0.67
Nottingham Forest       a        19  20  41 -21   11  0.58
Sheffield United        a        12  10  29 -19    5  0.42